@charset "utf-8";

.cnt-wrapper {
	padding-bottom: 140px;
	width: 1180px;
}

/*面包屑*/
.breadcrumb li {
    margin-top: 25px;
    margin-bottom: 25px;
}
.breadcrumb li,.breadcrumb a {
	font-size: 14px;
	color: #666;
	height: 20px;
	line-height: 20px;
}
.breadcrumb .active { color: #aaa; }
.breadcrumb a:hover { color: #1B84F5; }
.breadcrumb .interval { width: 17px; }

/*新闻列表*/
.newsList { width: 765px; }
.list > li {
	padding: 24px 10px 28px;
	border-bottom: 1px solid #ddd;
}
.list > li:hover { background-color: #f9f9f9; }
.newsPic {
	margin-right: 38px;
	width: 218px;
	height: 132px;
	overflow: hidden;
}
.newsPic img {
	display: block;
	width: 218px;
	height: 132px;
	transition: .3s transform ease-in;
}
.newsPic:hover img {
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
}
.newsTitle {
	margin-top: 13px;
	margin-bottom: 20px;
}
.newsTitle a {
	font-size: 18px;
	font-weight: bold;
	color: #666;
}
.newsTitle a:hover {
	color: #235ca9;
}
.newsTitle .time {
	position: relative;
	top: 2px;
	font-size: 16px;
	color: #999;
}
.newsInfo {
	font-size: 14px;
	color: #999;
}

/*边栏推送*/
.sideBar { width: 306px; }
.push {
	margin-bottom: 16px;
	border: 1px solid #ddd;
	background-color: #fff;
}
.pushTitle {
	margin-top: -1px;
	margin-left: -1px;
	margin-right: -1px;
	padding-left: 20px;
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background-color: #3aaae1;
}
.pushTitle img {
	position: relative;
	top: 3px;
	margin-right: 8px;
}
.pushList > li {
	margin-left: auto;
	margin-right: auto;
	width: 278px;
	height: 57px;
	line-height: 57px;
	border-bottom: 1px solid #ddd;
}
.pushList > li:last-child { border-bottom: none; }
.pushList > li a {
	font-size: 14px;
	color: #666;
}
.pushList > li a:hover { color: #3aaae1; }