.searchWrap{
    margin-bottom: 15rem;
    display: flex;
    input{
        flex-grow: 1;
        border: none;
        outline: none;
        background: rgba(255,255,255,.4);
        padding-left: 10rem;
        &::placeholder{
            color: #888;
        }
    }
    .btnWrap{
        background: rgba(255,255,255,.8);
        display: flex;
        align-items: center;
        padding: 4.5rem 10rem;
        img{
            width: 20rem;
        }
        span{
            color: #6495ed;
        }
    }
}