.wrap-enter,
.wrap-leave-to {
  opacity: 0;
}
.wrap-enter-active,
.wrap-leave-active{
  transition: opacity .5s;  
}

.contact-us{
    position: fixed;
    z-index: 999;
    background: rgba(0,0,0,.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .box{
        background: #fff;
        width: 500px;
        margin: 200px auto;
        padding: 50px 90px;
        box-sizing: border-box;
        border-radius: 5px;
        position: relative;
        background-image: url('https://demo.cwgszc.com/shyccwcom/img/popup_window.jpg');
        background-size: 100% 100%;
        p{
            padding: 10px 0;
            font-size: 20px;
            color: #444;
            span{
                color: #ff672b;
                font-weight: bold;
            }
        }
        input{
            padding: 10px 20px;
            margin: 10px 0;
            outline: none;
        }
        .popW-btn{
            background: #297bf6;
            color: #fff;
            padding: 10px 0;
            width: 213px;
            text-align: center;
            border-radius: 5px;
            margin-top: 10px;
            cursor: pointer;
        }
        .popW-shut-btn{
            position: absolute;
            right: 40px;
            top: 20px;
            color: #999;
            cursor: pointer;
            &:hover{
                color: #333;
            }
        }
    }
}