*{
    padding: 0;
    margin: 0;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.clearfloat::after{
    content: '';
    display: block;
    clear: both;
}
ul{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
    color: #222;
}