@keyframes run {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.banner {
  height: 170px;
  background-image: url('../img/banner_bg.jpg');
  background-size: 100% 100%;
  padding-top: 80px;
}
.banner h3 {
  color: #fff;
  border-left: 3px solid #fff;
}
.content-wrapper {
  background: #f5f5f5;
  padding-bottom: 30px;
}
.content-wrapper .content .service-list {
  float: left;
  width: 260px;
  text-align: center;
  background-color: #fff;
  padding: 30px 0;
  margin-right: 15px;
}
.content-wrapper .content .service-list li {
  padding: 18px 0;
  margin: 2px 0;
  color: #333;
  cursor: pointer;
}
.content-wrapper .content .service-list li.active,
.content-wrapper .content .service-list li:hover {
  background: #2c9dff;
  color: #fff;
}
.content-wrapper .content .service-content {
  width: 1045px;
  float: right;
  background: #fff;
  padding: 30px;
}
.content-wrapper .content .service-content .title {
  font-size: 18px;
  border-bottom: 1px solid #ededed;
  padding: 10px 0;
}
.content-wrapper .content .service-content .info p {
  color: #555;
}
.content-wrapper .content .service-content .info img {
  max-width: 100%;
}
.content-wrapper .content .service-content .info .text-title {
  color: #000;
  font-size: 16px;
}
.content-wrapper .content .service-content > div {
  display: none;
  transform: translateX(500px);
  opacity: 0;
}
.content-wrapper .content .service-content > div.active {
  display: block;
  animation: run .5s forwards ;
}
/*map*/
#container {
  height: 400px;
  margin-bottom: 30px;
}
.custom-input-card {
  width: 22rem;
}
.amap-overlays {
  z-index: 98;
}
.custom-input-card .btn {
  margin-right: 1rem;
}
.custom-input-card .btn:last-child {
  margin-right: 0;
}
.info-title {
  color: white;
  font-size: 14px;
  background-color: #25A5F7;
  line-height: 26px;
  padding: 0px 0 0 6px;
  font-weight: lighter;
  letter-spacing: 1px;
}
.info-content {
  font: 12px Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial;
  padding: 4px;
  color: #666666;
  line-height: 23px;
}
.info-content p {
  white-space: nowrap;
}
.info-content p span {
  color: red;
  font-weight: bold;
}
.amap-info-combo .keyword-input {
  height: 25px;
  border-radius: 2px 0 0 2px;
}
/*map end*/
