*{
    margin: 0;
    padding: 0;
}
a,a:link,a:hover{
    text-decoration: none;
}
.container{
    width: 1350px;
}
// topbar
.top-bar-wrapper{
    background: #f7f1f1;
    color: #707580;
    .left{
        float: left;
        padding-top: 10px;
    }
    .right{
        float: right;
        padding-top: 10px;
        span{
            margin: 0 10px;
            &:last-of-type{
                border-left: 1px solid #ccc;
                padding-left: 20px;
                color: #fd3d2a;
            }
        }
    }
}