// banner
.banner{
    background: url('../img/banner_bzzx.png') top no-repeat;
    padding-bottom: 50px;
    .banner-content{
        &::after{
            content: '';
            display: block;
            clear: both;
        }
        padding-top: 150px;
        .banner-list{
            width: 300px;
            float: left;
            margin-right: 50px;
            dt{
                padding: 0 30px;
                color: #fff;
                border-left: 4px solid #449CFF;
                margin-bottom: 15px;
            }
            dd{
                margin: 5px 0;
                width: 100%;
                a{
                    display: inline-block;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 10px 30px;
                    background: #f7f7f6;
                    color: #307acd;
                }
                &.active,
                &:hover{
                    a{
                        background: #3795FF;
                        color: #fff;
                    }
                }
            }
        }
        .banner-info{
            float: left;
            width: 1000px;
            background: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,.1);
            box-sizing: border-box;
            padding: 30px;
            h2{
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;
                img,span{
                    vertical-align: middle;
                }
            }
            .text{
                padding: 30px 20px;
                color: #555;
                p{
                    padding: 5px 0;
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }
}