<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <!-- topbar -->
    <div class="topbar-wrapper">
        <div class="topbar container">
            <p class="left">欢迎来到*****公司!</p>
            <p class="right">
                <span class="glyphicon glyphicon-phone-alt"></span>
                <span>客服电话:</span>
                <span>111-111-1111</span>
            </p>
        </div>
    </div>
    <!-- 导航栏 -->
    <nav class="navbar navbar-default container">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/index.html">
                    <img src="./img/logo.jpg" alt="">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav ">
                    <li class="active"><a href="./index.html">公司首页</a></li>
                    <li><a href="./gywm.html">关于我们</a></li>
                    <li><a href="./cpzx.html">产品中心</a></li>
                    <li><a href="./xwzx.html">新闻资讯</a></li>
                    <li><a href="./lxwm.html">联系我们</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right login-btn">
                    <li class="login"><a href="./registered.html">登录</a></li>
                    <li class="registered"><a href="./registered.html">注册</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- banner -->
    <div id="carousel-example-generic" class="carousel slide banner" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="./img/swiper_1.jpg" alt="...">
            </div>
            <div class="item">
                <img src="./img/swiper_2.jpg" alt="...">
            </div>
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- content -->
    <div class="content">
        <h1 class="f-tag">天道酬勤</h1>
        <h3 class="f-tag">湖北楚威企业登记代理有限公司（简称：湖北楚威），核心团队拥有超过10年的本地化工商和财税经验，致力于打造专为各区域的的中小企业与个人提供各项包括工商服务，记账报税，商标代理，财务管理，网站建设，注册公司，资质代办，许可审批等综合性服务平台。</h3>
        <!-- 公告栏 -->
        <div class="announcement container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-12 f-tag">
                    <div class="row top">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <p class="tag-orange">
                                <span>999</span>
                            </p>
                            <p>安全运营天数</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <p class="tag-orange">
                                <span>999</span>
                            </p>
                            <p>累计成交量</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <p class="tag-orange">
                                <span>999</span>
                            </p>
                            <p>累计用户</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <p class="tag-orange">
                                <span>999</span>
                            </p>
                            <p>成功项目</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <p class="tag-img">
                                <img src="./img/icon.png" alt="">
                            </p>
                            <p>优势一</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <p class="tag-img">
                                <img src="./img/icon.png" alt="">
                            </p>
                            <p>优势二</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <p class="tag-img">
                                <img src="./img/icon.png" alt="">
                            </p>
                            <p>优势三</p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <p class="tag-img">
                                <img src="./img/icon.png" alt="">
                            </p>
                            <p>优势四</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12 f-tag">
                    <div class="title">
                        <a href="#" class="more">更多&gt;</a>
                        <h4>最新资讯</h4>
                    </div>
                    <ul>
                        <li>
                            <a href="#">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a>
                            <span class="date">2019-06-24</span>
                        </li>
                        <li>
                            <a href="#">新闻标题</a>
                            <span class="date">2019-06-24</span>
                        </li>
                        <li>
                            <a href="#">新闻标题</a>
                            <span class="date">2019-06-24</span>
                        </li>
                        <li>
                            <a href="#">新闻标题</a>
                            <span class="date">2019-06-24</span>
                        </li>
                        <li>
                            <a href="#">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a>
                            <span class="date">2019-06-24</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 产品类型一 -->
        <div class="product-type container">
            <h3>产品类型一</h3>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12  f-tag  f-tag">
                    <div class="product-item">
                        <img src="./img/product.jpg" alt="">
                        <p class="product-name">商品名称</p>
                        <p class="product-info">商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍绍商品介绍商品介绍商品介绍商品介绍</p>
                        <p class="product-price">
                            <span>商品价格:</span>
                            <span>10000元</span>
                        </p>
                        <p class="product-sales">
                            <span>商品人气:</span>
                            <span>已有1000人购买</span>
                        </p>
                        <p class="product-details">
                            <a href="#">了解详情</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12  f-tag  f-tag">
                    <div class="product-item">
                        <img src="./img/product.jpg" alt="">
                        <p class="product-name">商品名称</p>
                        <p class="product-info">商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍</p>
                        <p class="product-price">
                            <span>商品价格:</span>
                            <span>10000元</span>
                        </p>
                        <p class="product-sales">
                            <span>商品人气:</span>
                            <span>已有1000人购买</span>
                        </p>
                        <p class="product-details">
                            <a href="#">了解详情</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12  f-tag  f-tag">
                    <div class="product-item">
                        <img src="./img/product.jpg" alt="">
                        <p class="product-name">商品名称</p>
                        <p class="product-info">商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍</p>
                        <p class="product-price">
                            <span>商品价格:</span>
                            <span>10000元</span>
                        </p>
                        <p class="product-sales">
                            <span>商品人气:</span>
                            <span>已有1000人购买</span>
                        </p>
                        <p class="product-details">
                            <a href="#">了解详情</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="showImg-wrapper container f-tag"></div>
        <!-- -->
        <div class="product-type container">
            <h3>产品类型二</h3>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12  f-tag">
                    <div class="product-item">
                        <img src="./img/product.jpg" alt="">
                        <p class="product-name">商品名称</p>
                        <p class="product-info">商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍绍商品介绍商品介绍商品介绍商品介绍</p>
                        <p class="product-price">
                            <span>商品价格:</span>
                            <span>10000元</span>
                        </p>
                        <p class="product-sales">
                            <span>商品人气:</span>
                            <span>已有1000人购买</span>
                        </p>
                        <p class="product-details">
                            <a href="#">了解详情</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12  f-tag">
                    <div class="product-item">
                        <img src="./img/product.jpg" alt="">
                        <p class="product-name">商品名称</p>
                        <p class="product-info">商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍</p>
                        <p class="product-price">
                            <span>商品价格:</span>
                            <span>10000元</span>
                        </p>
                        <p class="product-sales">
                            <span>商品人气:</span>
                            <span>已有1000人购买</span>
                        </p>
                        <p class="product-details">
                            <a href="#">了解详情</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12  f-tag">
                    <div class="product-item">
                        <img src="./img/product.jpg" alt="">
                        <p class="product-name">商品名称</p>
                        <p class="product-info">商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍</p>
                        <p class="product-price">
                            <span>商品价格:</span>
                            <span>10000元</span>
                        </p>
                        <p class="product-sales">
                            <span>商品人气:</span>
                            <span>已有1000人购买</span>
                        </p>
                        <p class="product-details">
                            <a href="#">了解详情</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="showImg-wrapper container f-tag"></div>
        <!--  -->
        <div class="product-type container">
            <h3>产品类型三</h3>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12  f-tag">
                    <div class="product-item">
                        <img src="./img/product.jpg" alt="">
                        <p class="product-name">商品名称</p>
                        <p class="product-info">商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍绍商品介绍商品介绍商品介绍商品介绍</p>
                        <p class="product-price">
                            <span>商品价格:</span>
                            <span>10000元</span>
                        </p>
                        <p class="product-sales">
                            <span>商品人气:</span>
                            <span>已有1000人购买</span>
                        </p>
                        <p class="product-details">
                            <a href="#">了解详情</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12  f-tag">
                    <div class="product-item">
                        <img src="./img/product.jpg" alt="">
                        <p class="product-name">商品名称</p>
                        <p class="product-info">商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍</p>
                        <p class="product-price">
                            <span>商品价格:</span>
                            <span>10000元</span>
                        </p>
                        <p class="product-sales">
                            <span>商品人气:</span>
                            <span>已有1000人购买</span>
                        </p>
                        <p class="product-details">
                            <a href="#">了解详情</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12  f-tag">
                    <div class="product-item">
                        <img src="./img/product.jpg" alt="">
                        <p class="product-name">商品名称</p>
                        <p class="product-info">商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍</p>
                        <p class="product-price">
                            <span>商品价格:</span>
                            <span>10000元</span>
                        </p>
                        <p class="product-sales">
                            <span>商品人气:</span>
                            <span>已有1000人购买</span>
                        </p>
                        <p class="product-details">
                            <a href="#">了解详情</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 合作伙伴 -->
        <div class="partner f-tag">
            <div class="partner-info">
                <div class="img-wrapper">
                    <!-- 图片的前边五个必须跟最后边的五个相同 -->
                    <img src="./img/product.jpg" alt="">
                    <img src="./img/partner2.jpg" alt="">
                    <img src="./img/swiper_1.jpg" alt="">
                    <img src="./img/swiper_2.jpg" alt="">
                    <img src="./img/logo.jpg" alt="">

                    <img src="./img/partner1.jpg" alt="">
                    <img src="./img/product.jpg" alt="">
                    <img src="./img/partner2.jpg" alt="">
                    <img src="./img/swiper_1.jpg" alt="">
                    <img src="./img/swiper_2.jpg" alt="">
                    <img src="./img/logo.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- content区域end -->
    </div>
    <!-- 加入我们吧 -->
    <div class="join-us f-tag">
        <div class="text">
            <h2>马上加入我们吧!</h2>
            <a href="#">马上注册</a>
        </div>
    </div>
    <!-- footer -->
    <footer class="container">
        <div class="row footer-list">
            <div class="col-md-2 col-sm-2 col-xs-12">
                <dl>
                    <dt>关于我们</dt>
                    <dd>
                        <a href="#">公司介绍</a>
                    </dd>
                    <dd>
                        <a href="#">网站公告</a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <dl>
                    <dt>帮助中心</dt>
                    <dd>
                        <a href="#">常见问题</a>
                    </dd>
                    <dd>
                        <a href="#">新手指导</a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <dl>
                    <dt>合作伙伴</dt>
                    <dd>
                        <a href="#">湖北楚威</a>
                    </dd>
                    <dd>
                        <a href="#">武汉楚威</a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <dl>
                    <dt>微信公众号</dt>
                    <dd>
                        <img src="http://rxwl.oss-cn-hangzhou.aliyuncs.com/staic/hbcw/img/160.jpg" alt="">
                    </dd>
                </dl>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 lxwm">
                <dl>
                    <dt>联系我们</dt>
                    <dd>
                        <span class="glyphicon glyphicon-earphone"></span>
                        <span>12345678910</span>
                    </dd>
                    <dd>
                        <span class="glyphicon glyphicon-time"></span>
                        <span>08:30-17:30(周一到周五)</span>
                    </dd>
                </dl>
            </div>
        </div>
    </footer>
    <!-- 版权 -->
    <div class="copyright">
        <a href="#">鄂ICP备160*******号</a>
        <span>丨 © Copyright 2019-2022公司注册|企业注册|工商注册|商标查询湖北楚威企业登记代理有限公司</span>
    </div>
    <!-- 侧边栏 -->
    <div class="rightBar">
        <ul>
            <li id="phone">
                <img src="./img/rightNav_phone.png" alt="">
            </li>
            <li id="wx">
                <img src="./img/rightNav_wx.png" alt="">
            </li>
            <li class="goTop">
                <img src="./img/rightNav_db.png" alt="">
            </li>
        </ul>
        <div class="phone">
            <p>24小时服务热线:</p>
            <p>13233332222</p>
        </div>
        <div class="wx">
            <p>QQ联系我们:</p>
            <p>55555555</p>
            <p>微信联系我们:</p>
            <p>13233332222</p>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="./js/common.js"></script>
</body>

</html>