.container {
  width: 1200px;
  margin: 0 auto;
}
html .content {
  padding-top: 100px;
}
html .content .hot {
  font-size: 14px;
}
html .content .hot span {
  color: #ff552e;
}
html .content .hot a {
  margin-left: 15px;
  color: #777;
}
html .content .choose-wrapper {
  padding: 30px 0;
}
html .content .choose-wrapper .introduce {
  color: #ccc;
}
html .content .choose-wrapper .choose p,
html .content .choose-wrapper .choose div {
  float: left;
}
html .content .choose-wrapper .choose p {
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
}
html .content .choose-wrapper .choose .sheng,
html .content .choose-wrapper .choose .shi {
  border: 1px solid #ccc;
  position: relative;
  cursor: pointer;
}
html .content .choose-wrapper .choose .sheng .show,
html .content .choose-wrapper .choose .shi .show {
  height: 25px;
}
html .content .choose-wrapper .choose .sheng .show span,
html .content .choose-wrapper .choose .shi .show span {
  vertical-align: middle;
  line-height: 25px;
  padding: 0 40px 0 10px;
  color: #777;
}
html .content .choose-wrapper .choose .sheng .show img,
html .content .choose-wrapper .choose .shi .show img {
  vertical-align: middle;
}
html .content .choose-wrapper .choose .sheng ul,
html .content .choose-wrapper .choose .shi ul {
  position: absolute;
  top: 25px;
  border: 1px solid #ccc;
  width: calc(102%);
  box-sizing: border-box;
  margin-left: -1px;
  padding-left: 10px;
  max-height: 500px;
  overflow: auto;
  background: #fff;
  display: none;
  z-index: 5;
}
html .content .choose-wrapper .choose .sheng ul li,
html .content .choose-wrapper .choose .shi ul li,
html .content .choose-wrapper .choose .sheng ul li a,
html .content .choose-wrapper .choose .shi ul li a {
  color: #999;
  padding: 5px 0;
}
html .content .choose-wrapper .choose .sheng {
  margin-left: 20px;
}
html .content .choose-wrapper .choose .shi {
  margin: 0 50px 0 10px;
}
html .content .choose-wrapper .choose .input-wrapper {
  border: 1px solid #ccc;
  margin-left: 20px;
  position: relative;
}
html .content .choose-wrapper .choose .input-wrapper input {
  border: none;
  outline: none;
  height: 25px;
  padding-left: 10px;
}
html .content .choose-wrapper .choose .input-wrapper span {
  display: inline-block;
  padding: 0 15px;
  color: #555;
  background-color: #eee;
  line-height: 27px;
  border-left: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
}
html .content .choose-wrapper .choose .input-wrapper .inputedResults {
  position: absolute;
  border: 1px solid #ccc;
  width: calc(101%);
  box-sizing: border-box;
  margin-left: -1px;
  padding-left: 15px;
  max-height: 200px;
  background: #fff;
  display: none;
  overflow: auto;
}
html .content .choose-wrapper .choose .input-wrapper .inputedResults li {
  padding: 5px 0;
}
html .content .table-wrapper {
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 30px 45px;
}
html .content .table-wrapper h3 {
  padding-bottom: 30px;
  font-size: 20px;
}
html .content .table-wrapper .table-item {
  border: 1px solid #ccc;
  border-bottom: none;
  box-sizing: border-box;
}
html .content .table-wrapper .table-item:last-of-type {
  border-bottom: 1px solid #ccc;
}
html .content .table-wrapper .table-item .letter {
  float: left;
  width: 40px;
  font-size: 18px;
  font-weight: bold;
  background: #f5f5f5;
  color: #999;
  text-align: center;
  height: 100%;
  position: relative;
  z-index: 3;
}
html .content .table-wrapper .table-item .item {
  padding-left: 40px;
  height: 50px;
  box-sizing: border-box;
  position: relative;
}
html .content .table-wrapper .table-item .item:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
}
html .content .table-wrapper .table-item .item::before {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-left-color: #ff552e;
  top: 50%;
  margin-top: -5px;
  display: none;
}
html .content .table-wrapper .table-item .item .sheng {
  float: left;
  width: 60px;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
html .content .table-wrapper .table-item .item .shi {
  float: left;
  width: 1000px;
  height: 50px;
  position: relative;
}
html .content .table-wrapper .table-item .item .shi .a-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
html .content .table-wrapper .table-item .item .shi .a-wrapper a {
  display: inline-block;
  padding: 0 8px;
  line-height: 25px;
}
html .content .table-wrapper .table-item .item .shi .a-wrapper a.red {
  color: red;
}
html .content .table-wrapper .table-item .item .shi .a-wrapper a.maroon {
  color: maroon;
}
html .content .table-wrapper .table-item .item .shi .a-wrapper a.blue {
  color: #049;
}
html .content .table-wrapper .table-item .item .shi .a-wrapper a.gray {
  color: gray;
}
html .content .table-wrapper .table-item .item .shi .a-wrapper a:hover {
  color: #04cf04;
}
html .content .table-wrapper .table-item .item:hover::before {
  display: block;
}
html .content .table-wrapper .table-item:hover .letter {
  background: #ff552e;
  color: #fff;
}
