.wrapper{
    background: #fff;
    padding: 5rem;
    display: flex;
    margin-bottom: 5rem;
    .btnWrp{
        width: 90rem;
        height: 90rem;
        background-color: rgba(0,0,0,.5);
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 40rem;
        }
    }
    .info{
        padding-left: 10rem;
        p{
            font-size: 14rem;
            padding-top: 10rem;
            color: #555;
        }
        .songName{
            padding-top: 5rem;
            font-weight: bold;
        }
    }
}