.wrapper{
    display: flex;
    padding: 5rem;
    .item{
        display: flex;
        align-items: center;
        padding-right: 15rem;
        img{
            width: 16rem;
            padding-right: 3rem;
        }
        span{
            display: inline-block;
            color: #ccc;
            font-size: 14rem;
        }
    }
}