.content{
    padding: 80px 0;
    .left{
        float: left;
        width: 250px;
        margin-right: 20px;
        dt{
            line-height: 40px;
            background: #E50112;
            color: #fff;
            padding: 0 20px;
            &:not(:first-of-type){
                margin-top: 1px;
            }
            span{
                float: right;
                line-height: 40px;
                transition: all .5s;
            }
        }
        dd{
            display: none;
            a{
                display: inline-block;
                padding: 0 35px;
                line-height: 40px;
                background: #dea8a8;
                color: #fff;
                width: 100%;
                &:hover{
                    background: #ca4f4f;
                }
            }
        }
    }
    .right{
        float: left;
        width: 1080px;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        padding: 30px 40px;
        h3{
            border-bottom: 1px solid #E50112;
            padding-bottom: 20px;
        }
        .text{
            p{
                img{
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                }
            }
        }
    }
}