.content{
    // 为啥要成为
    .why{
        padding: 80px 15px;
        text-align: center;
        ul{
            li{
                float: left;
                width: 280px;
                height: 350px;
                margin: 25px;
                background-size: 100% 100%;
                font-size: 16px;
                padding-top: 270px;
                &:nth-of-type(1){
                    background-image: url('../img/w1.png');
                }
                &:nth-of-type(2){
                    background-image: url('../img/w2.png');
                }
                &:nth-of-type(3){
                    background-image: url('../img/w3.png');
                }
                &:nth-of-type(4){
                    background-image: url('../img/w4.png');
                }
                &:nth-of-type(5){
                    background-image: url('../img/w5.png');
                }
                &:nth-of-type(6){
                    background-image: url('../img/w6.png');
                }
                &:nth-of-type(7){
                    background-image: url('../img/w7.png');
                }
                &:nth-of-type(8){
                    background-image: url('../img/w1.png');
                }
                &:hover{
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
    // 条件
    .conditions{
        padding: 80px 0;
        text-align: center;
        background: #f5f5f5;
        .info{
            padding: 50px 0;
            &>ul{
                float: left;
                width: 620px;
                margin: 0 20px;
                li{
                    height: 121px;
                    line-height: 121px;
                    color: #fff;
                    font-size: 16px;
                    background-repeat: no-repeat;
                }
            }
            .left{
                li{
                    padding-left: 130px;
                    background-position: right;
                    &:nth-of-type(1){
                        background-image: url('../img/c1.png');
                    }
                    &:nth-of-type(2){
                        background-image: url('../img/c3.png');
                    }
                    &:nth-of-type(3){
                        background-image: url('../img/c5.png');
                    }
                    &:nth-of-type(4){
                        background-image: url('../img/c7.png');
                    }
                }
            }
            .right{
                li{
                    padding-right: 130px;
                    background-position: left;
                    &:nth-of-type(1){
                        background-image: url('../img/c2.png');
                    }
                    &:nth-of-type(2){
                        background-image: url('../img/c4.png');
                    }
                    &:nth-of-type(3){
                        background-image: url('../img/c6.png');
                    }
                    &:nth-of-type(4){
                        background-image: url('../img/c8.png');
                    }
                }
            }
        }
        .zixun-btn{
            display: inline-block;
            padding: 10px 50px 10px 40px;
            color: #fff;
            background-image: url('../img/c-btn1.png');
            background-size: 100% 100%;
            cursor: pointer;
        }
    }
    // 标准
    .standard{
        padding: 80px 0;
        text-align: center;
        p{
            font-size: 16px;
            padding: 20px 0 50px;
        }
    }
    // 流程
    .process{
        padding: 80px 0;
        text-align: center;
        background: rgb(248,246,247);
        p{
            font-size: 16px;
            padding: 20px 0 50px;
        }
        .img{
            background: url('../img/process.png') center no-repeat;
        }
    }
    // 优势
    .advantage{
        padding: 80px 0 30px;
        text-align: center;
        ul{
            padding-top: 50px;
            li{
                display: inline-block;
                margin: 15px 0;
                width: 949px;
                height: 108px;
                text-align: left;
                color: #fff;
                padding-left: 210px;
                h4{
                    font-weight: bold;
                    padding: 25px 0 5px;
                }
                &:nth-of-type(1){
                    background: url('../img/ce1.png');
                }
                &:nth-of-type(2){
                    background: url('../img/ce2.png');
                }
                &:nth-of-type(3){
                    background: url('../img/ce3.png');
                }
                &:nth-of-type(4){
                    background: url('../img/ce4.png');
                }
            }
        }
        .zixun-btn{
            display: inline-block;
            padding: 18px 70px 18px 40px;
            color: #fff;
            background-image: url('../img/c-btn1.png');
            background-size: 100% 100%;
            cursor: pointer;
        }
    }
}