.content{
    // 资质列表
    .zizhi-list{
        padding: 80px 15px;
        text-align: center;
        h3{
            margin-bottom: 50px;
            &::after{
                content: '';
                display: block;
                margin: 10px auto;
                width: 50px;
                height: 3px;
                background: #E50112;
            }
        }
        .item{
            margin-bottom: 20px;
            .title{
                background: #f0f0f0;
                height: 40px;
                line-height: 40px;
                h4{
                    line-height: 40px;
                    float: left;
                    text-align: left;
                    background: #E50112;
                    color: #fff;
                    margin: 0;
                    padding: 0 20px;
                    position: relative;
                    &::after{
                        content: '';
                        width: 42px;
                        height: 42px;
                        position: absolute;
                        background-image: url('../img/zz_arrow.png');
                        background-size: 100% 100%;
                        right: -42px;
                        top: -2px;
                    }
                }
                a{
                    float: right;
                    position: relative;
                    color: #777;
                    margin-right: 20px;
                    &:hover{
                        color: #E50112;
                    }
                }
            }
            ul{
                li{
                    float: left;
                    width: 300px;
                    margin: 15px;
                    position: relative;
                    .img{
                        width: 100%;
                        height: 170px;
                        overflow: hidden;
                        img{
                            width: 100%;
                            transition: all .5s;
                        }
                    }
                    h4{
                        font-size: 16px;
                        font-weight: bold;
                        color: #666;
                        padding-top: 20px;
                    }
                    .btn-wrapper{
                        position: absolute;
                        top: 0px;
                        left: 0;
                        width: 300px;
                        height: 170px;
                        background: rgba(0,0,0,.3);
                        opacity: 0;
                        transition: all .5s;
                        .btn{
                            background: #fff;
                            margin-top: 70px;
                            color: #E50112;
                        }
                    }
                    &:hover{
                        img{
                            transform: scale(1.1);
                        }
                        .btn-wrapper{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    // 流程
    .process{
        padding: 80px 0;
        text-align: center;
        background: #f5f5f5;
        h3{
            margin-bottom: 50px;
            &::after{
                content: '';
                display: block;
                margin: 10px auto;
                width: 50px;
                height: 3px;
                background: #E50112;
            }
        }
        .btn{
            padding: 16px 70px;
            font-size: 18px;
            background: #E50112;
            color: #fff;
            margin-top: 40px;
        }
    }
    // 常见问题
    .problem{
        padding: 80px 0;
        text-align: center;
        h3{
            margin-bottom: 50px;
            &::after{
                content: '';
                display: block;
                margin: 10px auto;
                width: 50px;
                height: 3px;
                background: #E50112;
            }
        }
        .left{
            margin-left: 50px;
            float: left;
            width: 950px;
            height: 300px;
            border: 1px solid #ccc;
            border-radius: 10px;
            text-align: left;
            padding: 30px 40px;
            li{
                padding-left: 30px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: 0;
                }
                &.q{
                    font-weight: bold;
                    padding-top: 10px;
                    padding-bottom: 5px;
                    &::before{
                        background: url('../img/question.png') center no-repeat;
                    }
                }
                &.a{
                    color: #777;
                    padding-bottom: 10px;
                    &::before{
                        background: url('../img/answer.png') center no-repeat;
                    }
                }
            }
        }
        .right{
            float: left;
            width: 280px;
            height: 300px;
            background: #f6f6f6;
            padding: 20px;
            margin-left: 20px;
            .title{
                font-size: 16px;
            }
            img{
                padding: 15px 0 20px;
            }
            .phone{
                font-size: 20px;
                font-weight: bold;
                color: #E50112;
            }
            .date{
                color: #777;
                margin-bottom: 20px;
            }
            .btn{
                color: #E50112;
                border-color: #E50112;
                &:hover{
                    background: #E50112;
                    color: #fff;
                }
            }
        }
    }
}