.container{
    width: 1200px;
    margin: 0 auto;
}
// topbar
.topbar{
    background: #f5f5f5;
    line-height: 35px;
    &,& a{
        color: #999;
    }
    .left{
        float: left;
        .flag{
            color: #3573ec;
            font-weight: bold;
        }
        .login-wrapper{
            margin-left: 20px;
            .login{
                color: #ffa200;
                font-weight: bold;
            }
        }
    }
    .right{
        float: right;
        .address-list{
            a{
                padding: 0 5px;
            }
        }
        .tel{
            font-weight: bold;
            color: #696969;
        }
    }
}
// logoWrapper
.logo-wrapper{
    height: 100px;
    .logo{
        float: left;
        img{
            height: 60px;
            padding-top: 20px;
            box-sizing: content-box;
        }
    }
    .input-wrapper{
        box-sizing: border-box;
        float: right;
        width: 700px;
        padding-top: 35px;
        background: url('../img/icon_search.png') 10px 48px no-repeat;
        .top{
            .input-right{
                float: right;
                height: 39px;
                background: #333;
                a{ 
                    position: relative;
                    display: inline-block;
                    color: #fff;
                    padding: 0 60px 0 20px;
                    height: 100%;
                    line-height: 39px;
                    font-size: 16px;
                    img{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
            .input{
                border: 2px solid #2667e9;
                height: 35px;
                line-height: 35px;
                padding-left: 35px;
                width: 515px;
                .glyphicon{
                    color: #999;
                }
                input{
                    border: none;
                    outline: none;
                    color: #999;
                }
                .input-btn{
                    background: #2667e9;
                    color: #fff;
                    display: inline-block;
                    transform: translateY(-2px);
                    line-height: 37px;
                    padding: 0 30px;
                    font-size: 16px;
                    float: right;
                }
            }
        }
        .bot{
            padding: 5px 0;
            a{
                color: #999;
                padding: 0 5px;
            }
        }
    }
}
// navbar
.nav-bar{
    ul{
        li{
            float: left;
            position: relative;
            padding-right: 10px;
            >a{
                font-size: 16px;
                font-weight: bold;
                display: inline-block;
                line-height: 40px;
                padding: 0 10px 0 20px;
                vertical-align: middle;
                &.flag-list{
                    background: url('../img/icon_arrowdown.png') right center no-repeat;
                }
            }
            &.flag-home{
                background: #3573ec;
                padding-left: 20px;
                border-radius: 5px 5px 0 0;
                >a{
                    line-height: 42px;
                    color: #fff;
                    background: url('../img/icon_home_hover.png') left center no-repeat;
                }
            }
            >img{
                position: absolute;
                left: 41px;
                top: -7px;
            }
            .hover-show{
                position: absolute;
                border: 2px solid #2667e9;
                padding: 30px;
                display: none;
                background: #fff;
                z-index: 5;
                &::before{
                    content: '';
                    display: block;
                    width: 11px;
                    height: 6px;
                    background: url('../img/icon_arrowtop.png');
                    position: absolute;
                    top: -6px;
                }
                dl{
                    dt{
                        color: #595959;
                        font-size: 14px;
                        padding-bottom: 10px;
                        font-weight: bold;
                    }
                    dd{
                        padding: 5px 10px;
                        position: relative;
                        font-size: 14px;
                        a{
                            color: #777;
                        }
                        &.hover-hot{
                            a{
                                color: #ff8400;
                            }
                        }
                        &:hover{
                            a{
                                color: #2667e9;
                            }
                        }
                    }
                }
                &.hover-a{
                    width: 650px;
                    left: -94px;
                    &::before{
                        left: 144px;
                    }
                    dl{
                        margin-bottom: 10px;
                        dd{
                            float: left;
                            &.hover-hot{
                                &::before{
                                    content: '';
                                    display: block;
                                    width: 15px;
                                    height: 9px;
                                    background: url('../img/icon_hot4.png') center no-repeat;
                                    position: absolute;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    top: -4px;
                                }
                            }
                        }
                    }
                }
                &.hover-b,
                &.hover-c{
                    width: 480px;
                    left: -202px;
                    &::before{
                        left: 247px;
                    }
                    dl{
                        float: left;
                        width: 160px;
                        dd{
                            padding-left: 0;
                            &.hover-hot{
                                a{
                                    img{
                                        padding-left: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
                &.hover-c{
                    width: 640px;
                    left: -310px;
                    &::before{
                        left: 357px;
                    }
                }
            }
            &.active,
            &:not(:first-of-type):hover{
                >a{
                    color: #2c6bea;
                    &.flag-list{
                        background: url('../img/icon_arrowdown_hover.png') right center no-repeat;
                    }
                }
                
            }
        }
    }
}
// footer
footer{
    .footer-address{
        border-top: 1px solid #e8e8e8;
        height: 132px;
        ul{
            li{
                border-left: 1px solid #e8e8e8;
                height: 132px;
                width: 150px;
                float: left;
                box-sizing: border-box;
                text-align: center;
                padding-top: 30px;
                cursor: pointer;
                position: relative;
                &:last-of-type{
                    border-right: 1px solid #e8e8e8;
                }
                .p1{
                    display: inline-block;
                    border: 1px solid #fd4249;
                    color: #FA3D4D;
                    line-height: 50px;
                    width: 50px;
                    font-size: 20px;
                    border-radius: 5px;
                }
                .p2{
                    font-size: 14px;
                    color: #666;
                    padding-top: 5px;
                }
                .hover-show{
                    width: 340px;
                    height: 100px;
                    box-sizing: border-box;
                    border: 2px solid #FA3D4D;
                    border-radius: 5px;
                    position: absolute;
                    top: -100px;
                    left: -105px;
                    z-index: -1;
                    opacity: 0;
                    transition: all .5s;
                    // display: none;
                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        border: 5px solid transparent;
                        border-top-color: #fff;
                        top: 96px;
                        left: 171px;
                        z-index: 3;
                    }
                    &::after{
                        content: '';
                        display: block;
                        position: absolute;
                        border: 8px solid transparent;
                        border-top-color: #FA3D4D;
                        left: 168px;
                    }
                    .left{
                        float: left;
                        width: 98px;
                        height: 100%;
                        background: #FA3D4D;
                        box-sizing: border-box;
                        padding-top: 15px;
                        span{
                            font-size: 20px;
                            font-weight: bold;
                            color: #fff;
                        }
                    }
                    .text{
                        padding-left: 115px;
                        padding-right: 15px;
                        background: #fff;
                        height: 100%;
                        text-align: left;
                        border-radius: 0 5px 5px 0;
                        .title{
                            padding: 10px 0 5px;
                            a{
                                float: right;
                                color: #aaa;
                                img{
                                    vertical-align: middle;
                                }
                            }
                            h1{
                                font-size: 18px;
                                font-weight: bold;
                            }
                        }
                        p{
                            color: #999;
                            line-height: 23px;
                        }
                    }
                }
                &:nth-of-type(1):hover{
                    background-image: url('../img/address_bg01.png');
                }
                &:nth-of-type(2):hover{
                    background-image: url('../img/address_bg02.png');
                }
                &:nth-of-type(3):hover{
                    background-image: url('../img/address_bg3.png');
                }
                &:nth-of-type(4):hover{
                    background-image: url('../img/address_bg04.png');
                }
                &:nth-of-type(5):hover{
                    background-image: url('../img/address_bg05.png');
                }
                &:nth-of-type(6):hover{
                    background-image: url('../img/address_bg06.png');
                }
                &:nth-of-type(7):hover{
                    background-image: url('../img/address_bg07.png');
                }
                &:nth-of-type(8):hover{
                    background-image: url('../img/address_bg08.png');
                }
                &:hover{
                    .hover-show{
                        transform: translateY(20px);
                        opacity: 1;
                        z-index: 3;
                    }
                    
                }
            }
        }
    }
    .footer-wrapper{
        background: #1F1F24;
        color: #616162;
        padding-top: 50px;
        a{
            color: #616162;
        }
        .footer-list{
            .left{
                float: left;
                li{
                    float: left;
                    width: 130px;
                    box-sizing: border-box;
                    padding-left: 25px;
                    p{
                        font-size: 16px;
                        color: #B5B5B5;
                        padding-bottom: 20px;
                    }
                    a{
                        font-size: 14px;
                        display: block;
                        line-height: 28px;
                    }
                    &:not(:last-of-type){
                        border-right: 1px solid #616162;
                    }
                }
            }
            .right{
                float: right;
                width: 400px;
                height: 207px;
                background: url('../img/footer_map.jpg') center no-repeat;
                border-left: 1px solid #616162;
                padding-left: 30px;
                h4{
                    font-size: 16px;
                    color: #b5b5b5;
                }
                .line{
                    width: 15px;
                    height: 3px;
                    background: #616162;
                    margin: 10px 0;
                }
                .info{
                    line-height: 25px;
                }
            }
        }
        .link{
            border-bottom: 1px solid #616162;
            line-height: 35px;
            span{
                color: #B5B5B5;
                font-size: 14px;
            }
            a{
                font-size: 14px;
            }
        }
        .beian{
            text-align: center;
            line-height: 50px;
        }
    }
}
//侧边框
aside{
    position: fixed;
    right: 2px;
    bottom: 300px;
    z-index: 3;
    >div{
        width: 40px;
        height: 40px;
        position: relative;
        margin-bottom: 2px;
        border-radius: 5px;
        .hover-show{
            position: absolute;
            right: 50px;
            display: none;
        }
        &:hover{
            .hover-show{
                display: block;
            }
        }
        &.kf{
            background: #E1E1E1 url('../img/kefuzixun.png') center no-repeat;
            .hover-show{
                right: 40px;
                a{
                    display: block;
                    background: #EF1E25;
                    color: #fff;
                    width: 100px;
                    line-height: 40px;
                    font-size: 15px;
                    font-weight: bold;
                    text-align: center;
                    border-radius: 5px;
                }
            }
            &:hover{
                background: #EF1E25 url('../img/kefuzixun_h.png') center no-repeat;
            }
        }
        &.phone,
        &.wx-code{
            .hover-show{
                border: 2px solid #EF1E25;
                background: #fff;
                border-radius: 5px;
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    border: 5px solid transparent;
                    border-left-color: #fff;
                    top: 50%;
                    margin-top: -2px;
                    right: -10px;
                    z-index: 3;
                }
                &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    border: 7px solid transparent;
                    border-left-color: #EF1E25;
                    top: 50%;
                    margin-top: -4px;
                    right: -15px;
                }
            }
        }
        &.phone{
            background: #E1E1E1 url('../img/zhenjiakefu.png') center no-repeat;
            .hover-show{
                width: 150px;
                top: -45px;
                padding: 30px;
                h3{
                    font-size: 15px;
                    font-weight: bold;
                    color: #EF1E25;
                }
                p{
                    font-size: 18px;
                    font-weight: bold;
                    color: #666;
                    padding-top: 10px;
                }
            }
            &:hover{
                background: #EF1E25 url('../img/zhenjiakefu_h.png') center no-repeat;
            }
        }
        &.wx-code{
            background: #E1E1E1 url('../img/guanzhu.png') center no-repeat;
            .hover-show{
                top: -65px;
                text-align: center;
                padding:20px 30px 10px;
                img{
                    width: 100px;
                    height: 100px;
                }
                p{
                    font-size: 16px;
                    color: #777;
                }
            }
            &:hover{
                background: #EF1E25 url('../img/guanzhu_h.png') center no-repeat;
            }
        }
        &.go-top{
            background: #E1E1E1 url('../img/huidaodingbu.png') center no-repeat;
            &:hover{
                background: #EF1E25 url('../img/huidaodingbu_h.png') center no-repeat;
            }
        }
        
    }
}
// 弹窗
.popupWindow-wrapper{
    position: fixed;
    z-index: 30;
    background: rgba(0,0,0,.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    .poruoWindow{
        background: #fff;
        width: 500px;
        margin: 200px auto;
        padding: 50px 90px;
        box-sizing: border-box;
        border-radius: 5px;
        position: relative;
        background-image: url('../img/popup_window.jpg');
        background-size: 100% 100%;
        p{
            padding: 10px 0;
            font-size: 20px;
            color: #444;
            span{
                color: #ff672b;
                font-weight: bold;
            }
        }
        input{
            padding: 10px 20px;
            margin: 10px 0;
            outline: none;
        }
        .popW-btn{
            background: #297bf6;
            color: #fff;
            padding: 10px 0;
            width: 213px;
            text-align: center;
            border-radius: 5px;
            margin-top: 10px;
            cursor: pointer;
        }
        .popW-shut-btn{
            position: absolute;
            right: 40px;
            top: 20px;
            color: #999;
            cursor: pointer;
            &:hover{
                color: #333;
            }
        }
    }
}