// banner
.banner{
    height: 402px;
    background: url('../img/banner_bg.jpg');
    text-align: center;
    box-sizing: border-box;
    padding-top: 60px;
    >h3{
        font-size: 20px;
        color: #666;
    }
    >h6{
        margin: 10px 0 20px;
    }
    >p{
        display: inline-block;
        padding: 10px 30px;
        font-size: 19px;
        color: #fff;
        background: #4f68d4;
        border-radius: 25px;
        span{
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #fff;
            margin: 0 15px;
        }
    }
    .banner-bot{
        padding-top: 70px;
        li{
            float: left;
            width: 300px;
            text-align: left;
            padding: 25px 0 25px 25px;
            box-sizing: border-box;
            background: #f5f5f5;
            &:not(:last-of-type){
                border-right: 1px solid #ebebeb;
            }
            .img{
                float: left;
                width: 55px;
                height: 55px;
                border-radius: 50%;
                border: 2px solid #d4d4d4; 
                text-align: center;
                box-sizing: border-box;
                padding-top: 7px;
            }
            .text{
                padding-left: 65px;
                h3{
                    font-size: 16px;
                }
                .vice-title{
                    color: #929292;
                    padding: 5px 0;
                }
                .line{
                    width: 20px;
                    border-bottom: 1px dashed #929292;
                }
            }
        }
    }
}

// content
.content{
    padding-top: 50px;
    background: #f5f5f5;
    // 公共样式
    .gongshang{
        text-align: center;
        padding: 50px 0;
        h1{
            background: url('../img/commontitle_bg.png') center no-repeat;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        h6{
            color: #bababa;
            font-weight: 100;
        }
        ul{
            padding: 50px 0px;
            li{
                background-size: 100% 100%;
                float: left;
                width: 230px;
                margin: 5px;
                a{
                    display: block;
                    .img{
                        padding: 5px;
                        border-radius: 50%;
                        background: #f5f5f5;
                        display: inline-block;
                        margin-top: 20px;
                        img{
                            display: block;
                            transition: transform .3s;
                        }
                    }
                    h3{
                        font-size: 18px;
                        color: #3e3e3e;
                    }
                    h6{
                        padding: 5px 0;
                    }
                    p{
                        text-align: center;
                        &.icon{
                            height: 30px;
                            margin-bottom: 20px;
                            background: url('../img/arrow_r_4.png') center no-repeat;
                        }
                        .line{
                            border-bottom: 1px dashed #989898;
                            display: inline-block;
                            width: 30px;
                            margin: 10px 0 5px;
                        }
                        .handel-btn{
                            color: #ff8400;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                }
                .item1,.item2{
                    height: 135px;
                    box-sizing: border-box;
                    padding-top: 30px;
                }
                .item1{
                    margin-bottom: 10px;
                }
            }
            .hover-item{
                background-color: #fff;
                transition: transform .3s;
                border-radius: 5px;
                &:hover{
                    transform: translateY(-5px);
                    .img{
                        img{
                            transform: scale(1.2);
                        }
                    }
                    .icon{
                        background-image: url('../img/arrow_r_5.png');
                    }
                }
            }
        }
        .kf-btn{
           font-size: 15px;
           font-weight: bold;
           color: #fff;
           background: #3573ec;
           padding: 10px 30px;
           border-radius: 20px;
           img{
               vertical-align: middle;
           } 
        }
    }
    // 会计代理
    .kuaiji-agent{
        background: url('../img/accounting.png') center 150px no-repeat;
        ul{
            li{
                a{
                    .img{
                        width: 80px;
                        height: 80px;
                        background: #fff;
                        box-shadow: 0px 1px 10px 0px rgba(37, 31, 50, 0.1);
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 10px;
                    }
                    .price{
                        color: #ff8400;
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
            }
            .hover-item{
                &:hover{
                    transform: translateY(-5px);
                    .img{
                        img{
                            transform: scale(1);
                        }
                    }
                    .icon{
                        background-image: url('../img/arrow_r_5.png');
                    }
                }
            }
        }
    }
    // 专业咨询
    .zy-sonsult{
        background: url('../img/advisory_bg.png');
        h1{
            color: #fff;
        }
    }
    // 财务办理
    .cw-handle{
        background: #f1f1f1;
    }
    //异常处理
    .abnormal-cl{
        background: #fff;
        ul{
            li{
                box-shadow: 0px 1px 10px 0px rgba(216, 216, 216, 0.6);
                a{
                    .img{
                        width: 100%;
                        height: 144px;
                        overflow: hidden;
                        box-sizing: border-box;
                        margin:0 0px 10px;
                        border-radius: 0;
                    }
                }
            }
        }
    }
    //顾问团队
    .team{
        text-align: center;
        padding: 50px 0;
        background: url('../img/team_bg.png');
        height: 540px;
        h1{
            background: url('../img/commontitle_bg.png') center no-repeat;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .title{
            display: inline-block;
            border-bottom: 1px solid #ccc;
            margin-bottom: 30px;
            li{
                float: left;
                border: 1px solid #ccc;
                border-bottom: none;
                padding: 10px 20px;
                font-size: 14px;
                color: #747474;
                background: #fff;
                cursor: pointer;
                &:not(:last-of-type){
                    border-right: none;
                }
                &.active{
                    color: #3573ec;
                    border-top: 2px solid #3573ec;
                }
            }
        }
        .info{
            .left{
                float: left;
                width: 870px;
                height: 320px;
                padding: 14px 13px 14px 14px;
                position: relative;
                background: #fff;
                ul{
                    width: 870px;
                    position: absolute;
                    opacity: 0;
                    transition: opacity .5s;
                    &.active{
                        z-index: 3;
                        opacity: 1;
                    }
                    li{
                        width: 145px;
                        height: 160px;
                        float: left;
                        a{
                            position: relative;
                            display: block;
                            width: 100%;
                            height: 100%;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                            .hover-show{
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                background: rgba(0,0,0,.3);
                                padding-top: 80px;
                                opacity: 0;
                                transition: all .5s;
                                h4{
                                    color: #616161;
                                    line-height: 40px;
                                    width: 130px;
                                    margin: 0 auto;
                                    background: #fff;
                                    border-bottom: 1px dashed #ccc;
                                    border-radius: 5px 5px 0 0;
                                }
                                p{
                                    color: #ff8400;
                                    font-weight: bold;
                                    line-height: 30px;
                                    width: 130px;
                                    margin: 0 auto;
                                    background: #fff;
                                    border-radius: 0 0 5px 5px;
                                }
                            }
                        }
                        &:hover{
                            .hover-show{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .right{
                float: right;
                width: 291px;
                height: 350px;
                text-align: left;
                // border-radius: 5px;
                background: #fff;
                box-sizing: border-box;
                h5{
                    font-size: 16px;
                    color: #fff;
                    text-align: center;
                    background: linear-gradient(5deg, #3573ec 0%, #2c6eef 100%);
                    border-radius: 0 0 50% 50%;
                    padding: 20px 0;
                }
                .right-wrapper{
                    padding: 15px 30px;
                    input{
                        width: 100%;
                        padding: 8px 10px;
                        box-sizing: border-box;
                        border: 1px solid #e5e5e5;
                        margin: 5px 0;
                        &::placeholder{
                            color: #c0c0c0;
                        }
                    }
                    .heming{
                        padding: 5px 0;
                        >div{
                            display: inline-block;
                            margin-right: 10px;
                            .img{
                                display: inline-block;
                                height: 20px;
                                width: 20px;
                                vertical-align: middle;
                                background: url('../img/dui_1.png') center no-repeat;
                            }
                            span{
                                line-height: 20px;
                                display: inline-block;
                                vertical-align: middle;
                                color: #999;
                            }
                            &.active{
                                .img{
                                    background-image: url('../img/dui_2.png');
                                }
                                span{
                                    color: #ff773a;
                                }
                            }
                        }
                        a{
                            line-height: 20px;
                            display: inline-block;
                            vertical-align: bottom;
                            color: #ff773a;
                        }
                    }
                    .information{
                        padding: 5px 0;
                        img{
                            vertical-align: middle;
                        }
                        span{
                            color: #ff773a;
                            border-left: 1px solid #e5e5e5;
                            padding-left: 10px;
                            margin-left: 10px;
                        }
                    }
                    .right-btn{
                        background: #ff773a;
                        text-align: center;
                        padding: 8px 0;
                        border-radius: 5px;
                        margin-top: 5px;
                        img{
                            vertical-align: middle;
                        }
                        span{
                            font-size: 16px;
                            color: #fff;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
        .bot{
            padding-top: 10px;
            li{
                background: #fff;
                float: left;
                width: 291px;
                box-sizing: border-box;
                padding: 20px 40px;
                box-shadow: 0px 1px 10px 0px rgba(216, 216, 216, 0.6);
                &:not(:last-of-type){
                    margin-right: 12px;
                }
                .img{
                    display: inline-block;
                    width: 66px;
                    height: 66px;
                    border-radius: 50%;
                    box-shadow: 0px 1px 10px 0px rgba(37, 31, 50, 0.1);
                    img{
                        padding-top: 15px;
                    }
                }
                h3{
                    font-size: 16px;
                    font-weight: bold;
                }
                .line{
                    display: inline-block;
                    width: 30px;
                    border-bottom: 1px dashed #a8a8a8;
                    margin-bottom: 5px;
                }
                .text{
                    color: #a8a8a8;
                    font-size: 14px;
                }
            }
        }
    }
    //员工风采
    .mien{
        background: #f5f5f5;
        text-align: center;
        padding: 150px 0 50px;
        height: 540px;
        h1{
            background: url('../img/commontitle_bg.png') center no-repeat;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .title{
            display: inline-block;
            border-bottom: 1px solid #ccc;
            margin-bottom: 30px;
            box-shadow: 0px 1px 10px 0px rgba(37, 31, 50, 0.2);
            li{
                float: left;
                border: 1px solid #ccc;
                border-bottom: none;
                padding: 10px 20px;
                font-size: 14px;
                color: #747474;
                background: #fff;
                cursor: pointer;
                &:not(:last-of-type){
                    border-right: none;
                }
                &.active{
                    color: #3573ec;
                    border-top: 2px solid #3573ec;
                }
            }
        }
        .info{
            position: relative;
            >div{
                position: absolute;
                z-index: -1;
                opacity: 0;
                transition: opacity .5s;
                &.active{
                    z-index: 1;
                    opacity: 1;
                }
                .left{
                    float: left;
                    width: 384px;
                    height: 405px;
                    box-sizing: border-box;
                }
                .right{
                    float: left;
                    width: 816px;
                    li{
                        float: left;
                        margin-left: 5px;
                        margin-bottom: 5px;
                        width: 267px;
                        height: 200px;
                        box-sizing: border-box;
                    }
                }
                .hover-item{
                    position: relative;
                    background: #fff;
                    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
                    padding: 5px;
                    .img-wrapper{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            transition: transform .5s;
                        }
                    }
                    .float-box{
                        position: absolute;
                        bottom: 5px;
                        width: calc(100% - 10px);
                        text-align: left;
                        background: rgba(0,0,0,.5);
                        color: #fff;
                        box-sizing: border-box;
                        padding: 10px;
                        h3{
                            font-size: 16px;
                            font-weight: bold;
                            
                        }
                    }
                    &:hover{
                        img{
                            transform: scale(1.1);       
                        }
                    }
                }
            } 
        }
    }
    // 新闻资讯
    .news-wrapper{
        background: #fff;
        padding: 30px 0;
        h1{
            background: url('../img/commontitle_bg.png') center no-repeat;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }
        h6{
            color: #aaa;
            text-align: center;
            font-weight: 100;
            margin-bottom: 30px;
        }
        .left{
            float: left;
            width: 860px;
            box-sizing: border-box;
            border: 1px solid #e8e8e8;
            .title{
                border-bottom: 1px dashed #eaeaea;
                background-color: #f6f6f6;
                >a{
                    float: right;
                    display: inline-block;
                    line-height: 65px;
                    margin-right: 20px;
                    font-size: 14px;
                    color: #777;
                    &::after{
                        content: '';
                        border: 5px solid transparent;
                        display: inline-block;
                        border-left-color: #777;
                        margin-left: 5px;
                    }
                }
                ul{
                    li{
                        float: left;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 65px;
                        padding: 0 15px;
                        cursor: pointer;
                        span{
                            float: left;
                        }
                        .img{
                            display: inline-block;
                            width: 16px;
                            margin-left: 5px;
                            margin-top: 25px;
                            height: 16px;
                            background: url('../img/arrow_r_4.png') center no-repeat;
                            transition: transform .5s;
                        }
                        img{
                            margin-left: 5px;
                            margin-top: 25px;
                        }
                        &.active{
                            .s1{
                                color: #165fcb;
                            }
                            .img{
                                background-image: url('../img/arrow_r_3.png');
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
            }
            .news-con{
                position: relative;
                height: 372px;
                &>div{
                    opacity: 0;
                    position: absolute;
                    &.active{
                        opacity: 1;
                        z-index: 2;
                    }
                    dl{
                        float: left;
                        width: 429px;
                        box-sizing: border-box;
                        dt{
                            background: #f6f6f6;
                            padding: 25px;
                            .title-img{
                                float: left;
                                width: 160px;
                                height: 100px;
                            }
                            .text{
                                padding-left: 170px;
                                h5{
                                    font-size: 16px;
                                    font-weight: 100;
                                    color: #777;
                                    padding: 5px 0;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                .line{
                                    width: 20px;
                                    height: 1px;
                                    background: #ccc;
                                }
                                .date{
                                    color: #ccc;
                                    padding: 5px 0;
                                }
                                .text-con{
                                    color: #aaa;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                        dd{
                            padding: 0 35px;
                            position: relative;
                            a{
                                font-size: 14px;
                                display: inline-block;
                                width: 100%;
                                padding: 15px 0;
                                color: #909090;
                                .date{
                                    float: right;
                                    color: #aaa;
                                }
                                p{
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                            &::before{
                                content: '';
                                border: 5px solid transparent;
                                display: inline-block;
                                border-left-color: #777;
                                position: absolute;
                                left: 20px;
                                top: 21px;
                            }
                            &:not(:last-of-type){
                                a{
                                    border-bottom: 1px dashed #ccc;
                                }
                            }
                        }
                    }
                }
            }
        }
        .right{
            float: right;
            width: 320px;
            box-sizing: border-box;
            border: 1px solid #e8e8e8;
            .title{
                border-bottom: 1px dashed #eaeaea;
                padding-left: 20px;
                >a{
                    float: right;
                    display: inline-block;
                    line-height: 65px;
                    margin-right: 20px;
                    font-size: 14px;
                    color: #777;
                    &::after{
                        content: '';
                        border: 5px solid transparent;
                        display: inline-block;
                        border-left-color: #777;
                        margin-left: 5px;
                    }
                }
                span{
                    line-height: 65px;
                    font-size: 15px;
                    vertical-align: middle;
                    color: #515151;
                }
                img{
                    vertical-align: middle;
                }
            }
            dl{
                .num{
                    font-size: 14px;
                    float: left;
                    background: #5b90de;
                    color: #fff;
                    line-height: 22px;
                    width: 22px;
                    text-align: center;
                    border-radius: 50%;
                    position: relative;
                    &::after{
                        content: '';
                        display: block;
                        border: 5px solid transparent;
                        border-left-color: #5b90de;
                        position: absolute;
                        right: -8px;
                        bottom: 4px;
                    }
                }
                .text{
                    padding-left: 30px;
                }
                dt{
                    padding: 11px 15px;
                    .text{
                        h2{
                            font-size: 15px;
                            font-weight: bold;
                        }
                        .line{
                            background: #ccc;
                            width: 20px;
                            height: 1px;
                        }
                        .text-a{
                            line-height: 25px;
                            color: #909090;
                        }
                    }
                }
                dd{
                    padding: 15px;
                    border-top: 1px dashed #ccc;
                    font-size: 14px;
                    a{
                        display: block;
                        color: #909090;
                    }
                    .num{
                        background: #a2c285;
                        &::after{
                            border-left-color: #a2c285;
                        }
                    }
                }
            }
        }
    }
}