.banner img {
  display: block;
  width: 100%;
}

.content .query-window {
  background: url("../img/bg01.jpg");
}

.content .query-window .query {
  background: url("../img/bg01-1.png");
  background-size: 100% 100%;
  padding: 30px 50px;
  box-sizing: border-box;
  margin-top: -80px;
  position: relative;
}

.content .query-window .query .btn-wrapper {
  text-align: center;
}

.content .query-window .query .btn-wrapper .btn1 {
  width: 369px;
  height: 153px;
  background: url("../img/server01.png");
}

.content .query-window .query .btn-wrapper .btn2 {
  width: 309px;
  height: 152px;
  background: url("../img/server02.png");
}

.content .query-window .query .btn-wrapper > div {
  display: inline-block;
  box-sizing: border-box;
  padding: 73px 0 0 22px;
  margin: 0 20px;
}

.content .query-window .query .btn-wrapper > div a {
  font-size: 24px;
  padding: 15px 70px 15px 120px;
  color: #fff;
}

.content .query-window .query .input-wrapper {
  border: 1px solid #dcdcdc;
  height: 45px;
  background: #fff;
  margin: 0 100px;
}

.content .query-window .query .input-wrapper .drop-down {
  position: relative;
  padding: 0 20px;
  width: 120px;
  display: inline-block;
}

.content .query-window .query .input-wrapper .drop-down p {
  line-height: 45px;
  color: #666;
  font-size: 14px;
}

.content .query-window .query .input-wrapper .drop-down p img {
  padding-top: 14px;
  float: right;
}

.content .query-window .query .input-wrapper .drop-down ul {
  position: absolute;
  width: 150px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 6px 30px 0 rgba(106, 109, 141, 0.1);
  border-radius: 5px;
  left: 0px;
  top: 50px;
  display: none;
}

.content .query-window .query .input-wrapper .drop-down ul li {
  padding: 5px 10px;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}

.content .query-window .query .input-wrapper .drop-down ul li:hover {
  background: #eef4ff;
  color: #64a6fe;
}

.content .query-window .query .input-wrapper input {
  border: none;
  outline: none;
  border-left: 1px solid #dcdcdc;
  height: 39px;
  width: 493px;
  padding: 0px 20px;
}

.content .query-window .query .input-wrapper .query-btn {
  line-height: 45px;
  background: #0a6ce8;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  font-weight: bold;
  padding: 0 30px;
}

.content .query-window .query .dynamic {
  padding-top: 50px;
}

.content .query-window .query .dynamic > span {
  font-size: 16px;
  font-weight: bold;
  float: left;
  display: inline-block;
  line-height: 30px;
}

.content .query-window .query .dynamic .swiper-dynamic {
  padding-left: 50px;
  overflow: hidden;
  height: 30px;
}

.content .query-window .query .dynamic .swiper-dynamic .swiper-slide span {
  color: #888;
  line-height: 30px;
  margin-right: 45px;
}

.content .query-window .query .dynamic .swiper-dynamic .swiper-slide span i {
  color: red;
}

.content .query-window .type {
  padding: 50px 0;
}

.content .query-window .type .title .t-left {
  display: inline-block;
  transform: translateY(-20px);
}

.content .query-window .type .title .t-center {
  display: inline-block;
  padding: 0 38px;
}

.content .query-window .type .title .t-center img {
  float: left;
}

.content .query-window .type .title .t-center .text {
  padding-left: 100px;
  text-align: center;
}

.content .query-window .type .title .t-center .text h2 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.content .query-window .type .title .t-center .text .vice-title {
  color: #12519a;
}

.content .query-window .type .title .t-right {
  display: inline-block;
  transform: translateY(-20px);
}

.content .query-window .type .title .line {
  display: inline-block;
  width: 400px;
  height: 1px;
  background: #12519a;
  transform: translateY(-3px);
}

.content .query-window .type .title .circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 2px solid #12519a;
  border-radius: 50%;
}

.content .query-window .type .info {
  padding-top: 50px;
}

.content .query-window .type .info li {
  border-radius: 5px;
  background-color: #fff;
  float: left;
  width: 261px;
  height: 355px;
  transition: width .5s;
}

.content .query-window .type .info li:not(:last-of-type) {
  margin-right: 1px;
}

.content .query-window .type .info li .num {
  text-align: right;
  font-size: 72px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1);
  padding-right: 20px;
}

.content .query-window .type .info li > div {
  padding: 0 20px;
}

.content .query-window .type .info li > div .title {
  font-size: 18px;
  color: #6f6f6f;
  font-weight: bold;
  border-bottom: 1px dashed #535353;
  padding: 5px 0 5px 20px;
  background: url("../img/icon_02.png") left center no-repeat;
}

.content .query-window .type .info li > div .text {
  color: #ababab;
  line-height: 25px;
  height: 100px;
  padding: 20px 0;
}

.content .query-window .type .info li > div a {
  color: #ababab;
  border: 1px solid #ababab;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
}

.content .query-window .type .info li > div a span {
  padding-left: 20px;
}

.content .query-window .type .info li > div a:hover {
  background: #0a6ce8;
  color: #fff;
  border-color: #0a6ce8;
}

.content .query-window .type .info li:nth-of-type(1).active {
  background: url("../img/bg01-2-01.png");
}

.content .query-window .type .info li:nth-of-type(2).active {
  background: url("../img/bg01-2-02.png");
}

.content .query-window .type .info li:nth-of-type(3).active {
  background: url("../img/bg01-2-03.png");
}

.content .query-window .type .info li:nth-of-type(4).active {
  background: url("../img/bg01-2-04.png");
}

.content .query-window .type .info li.active {
  width: 414px;
}

.content .query-window .type .info li.active .num {
  color: rgba(255, 255, 255, 0.1);
}

.content .query-window .type .info li.active > div {
  padding: 0 50px;
}

.content .query-window .type .info li.active > div .title {
  color: #fff;
  border-bottom-style: solid;
  background-image: url("../img/icon_01.png");
}

.content .query-window .type .info li.active > div .text {
  color: #ababab;
  padding: 20px 0;
}

.content .query-window .type .info li.active > div a {
  color: #fff;
  border-color: #fff;
}

.content .query-window .type .info li.active > div a:hover {
  border-color: #0a6ce8;
}

.content .why {
  padding-top: 50px;
  height: 500px;
}

.content .why .title .t-left {
  display: inline-block;
  transform: translateY(-20px);
}

.content .why .title .t-center {
  display: inline-block;
  padding: 0 38px;
}

.content .why .title .t-center img {
  float: left;
}

.content .why .title .t-center .text {
  padding-left: 150px;
  text-align: center;
}

.content .why .title .t-center .text h2 {
  font-size: 24px;
  font-weight: bold;
  color: #828282;
}

.content .why .title .t-center .text .vice-title {
  color: #828282;
}

.content .why .title .t-right {
  display: inline-block;
  transform: translateY(-20px);
}

.content .why .title .line {
  display: inline-block;
  width: 407px;
  height: 1px;
  background: #e5e5e5;
  transform: translateY(-3px);
}

.content .why .title .circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.content .why .info ul {
  text-align: center;
}

.content .why .info ul li {
  display: inline-block;
  width: 236px;
  height: 266px;
  background: url("../img/bg02.png") center no-repeat;
  box-sizing: border-box;
  padding-top: 80px;
  transition: all .5s;
}

.content .why .info ul li .img {
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.content .why .info ul li p {
  font-size: 16px;
  color: #828282;
  padding-top: 10px;
  transition: all .5s;
}

.content .why .info ul li.flag {
  height: 349px;
  vertical-align: bottom;
  background: url("../img/bg02-01.png") center no-repeat;
}

.content .why .info ul li:hover p {
  color: #fff;
}

.content .why .info .top li:nth-of-type(1) .img {
  background-image: url("../img/icon05.png");
}

.content .why .info .top li:nth-of-type(1):hover {
  background-image: url("../img/bg02-hover01.png");
}

.content .why .info .top li:nth-of-type(1):hover .img {
  background-image: url("../img/icon05-hover.png");
}

.content .why .info .top li:nth-of-type(2) .img {
  background-image: url("../img/icon06.png");
}

.content .why .info .top li:nth-of-type(2):hover {
  background-image: url("../img/bg02-hover02.png");
}

.content .why .info .top li:nth-of-type(2):hover .img {
  background-image: url("../img/icon06-hover.png");
}

.content .why .info .top li:nth-of-type(3) .img {
  background-image: url("../img/icon07.png");
}

.content .why .info .top li:nth-of-type(3):hover {
  background-image: url("../img/bg02-hover03.png");
}

.content .why .info .top li:nth-of-type(3):hover .img {
  background-image: url("../img/icon07-hover.png");
}

.content .why .info .bot {
  margin-top: -50px;
}

.content .why .info .bot li:nth-of-type(1) .img {
  background-image: url("../img/icon08.png");
}

.content .why .info .bot li:nth-of-type(1):hover {
  background-image: url("../img/bg02-hover04.png");
}

.content .why .info .bot li:nth-of-type(1):hover .img {
  background-image: url("../img/icon08-hover.png");
}

.content .why .info .bot li:nth-of-type(2) .img {
  background-image: url("../img/icon09.png");
}

.content .why .info .bot li:nth-of-type(2):hover {
  background-image: url("../img/bg02-hover05.png");
}

.content .why .info .bot li:nth-of-type(2):hover .img {
  background-image: url("../img/icon09-hover.png");
}

.content .why .info .bot li:nth-of-type(3) .img {
  background-image: url("../img/icon10.png");
}

.content .why .info .bot li:nth-of-type(3):hover {
  background-image: url("../img/bg02-hover06.png");
}

.content .why .info .bot li:nth-of-type(3):hover .img {
  background-image: url("../img/icon10-hover.png");
}

.content .process {
  background: url("../img/bg03.png");
  padding: 200px 0 50px;
}

.content .process .title {
  border-bottom: 1px solid #626262;
  padding: 5px 20px;
}

.content .process .title .text {
  display: inline-block;
  text-align: right;
}

.content .process .title .text h2 {
  font-size: 22px;
  color: #fff;
  position: relative;
}

.content .process .title .text h2::before {
  content: '';
  width: 10px;
  height: 3px;
  background: #0A6CDD;
  display: block;
  position: absolute;
  top: 10px;
}

.content .process .title .text p {
  color: #828282;
  padding-bottom: 10px;
}

.content .process .title img {
  transform: translateY(10px);
}

.content .process .info {
  padding-top: 50px;
}

.content .process .info li {
  display: inline-block;
  width: 154px;
  height: 257px;
  background: #fff;
  border-radius: 5px;
  margin-right: 10px;
}

.content .process .info li.active {
  width: 210px;
}
