.banner img {
  display: block;
  width: 100%;
}

.content .query-window {
  background: url("../img/bg01.jpg");
}

.content .query-window .query {
  background: url("../img/bg01-1.png");
  background-size: 100% 100%;
  padding: 30px 50px;
  box-sizing: border-box;
  margin-top: -80px;
  position: relative;
}

.content .query-window .query .btn-wrapper {
  text-align: center;
}

.content .query-window .query .btn-wrapper .btn1 {
  width: 369px;
  height: 153px;
  background: url("../img/server01.png");
}

.content .query-window .query .btn-wrapper .btn2 {
  width: 309px;
  height: 152px;
  background: url("../img/server02.png");
}

.content .query-window .query .btn-wrapper > div {
  display: inline-block;
  box-sizing: border-box;
  padding: 73px 0 0 22px;
  margin: 0 20px;
}

.content .query-window .query .btn-wrapper > div a {
  font-size: 24px;
  padding: 15px 70px 15px 120px;
  color: #fff;
}

.content .query-window .query .input-wrapper {
  border: 1px solid #dcdcdc;
  height: 45px;
  background: #fff;
  margin: 0 100px;
}

.content .query-window .query .input-wrapper .drop-down {
  position: relative;
  padding: 0 20px;
  width: 120px;
  display: inline-block;
}

.content .query-window .query .input-wrapper .drop-down p {
  line-height: 45px;
  color: #666;
  font-size: 14px;
}

.content .query-window .query .input-wrapper .drop-down p img {
  padding-top: 14px;
  float: right;
}

.content .query-window .query .input-wrapper .drop-down ul {
  position: absolute;
  width: 150px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 6px 30px 0 rgba(106, 109, 141, 0.1);
  border-radius: 5px;
  left: 0px;
  top: 50px;
  display: none;
}

.content .query-window .query .input-wrapper .drop-down ul li {
  padding: 5px 10px;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}

.content .query-window .query .input-wrapper .drop-down ul li:hover {
  background: #eef4ff;
  color: #64a6fe;
}

.content .query-window .query .input-wrapper input {
  border: none;
  outline: none;
  border-left: 1px solid #dcdcdc;
  height: 39px;
  width: 493px;
  padding: 0px 20px;
}

.content .query-window .query .input-wrapper .query-btn {
  line-height: 45px;
  background: #0a6ce8;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  font-weight: bold;
  padding: 0 30px;
}

.content .query-window .query .dynamic {
  padding-top: 50px;
}

.content .query-window .query .dynamic > span {
  font-size: 16px;
  font-weight: bold;
  float: left;
  display: inline-block;
  line-height: 30px;
}

.content .query-window .query .dynamic .swiper-dynamic {
  padding-left: 50px;
  overflow: hidden;
  height: 30px;
}

.content .query-window .query .dynamic .swiper-dynamic .swiper-slide span {
  color: #888;
  line-height: 30px;
  margin-right: 45px;
}

.content .query-window .query .dynamic .swiper-dynamic .swiper-slide span i {
  color: red;
}

.content .query-window .type {
  padding: 50px 0;
}

.content .query-window .type .title .t-left {
  display: inline-block;
  transform: translateY(-20px);
}

.content .query-window .type .title .t-center {
  display: inline-block;
  padding: 0 38px;
}

.content .query-window .type .title .t-center img {
  float: left;
}

.content .query-window .type .title .t-center .text {
  padding-left: 100px;
  text-align: center;
}

.content .query-window .type .title .t-center .text h2 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.content .query-window .type .title .t-center .text .vice-title {
  color: #12519a;
}

.content .query-window .type .title .t-right {
  display: inline-block;
  transform: translateY(-20px);
}

.content .query-window .type .title .line {
  display: inline-block;
  width: 400px;
  height: 1px;
  background: #12519a;
  transform: translateY(-3px);
}

.content .query-window .type .title .circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 2px solid #12519a;
  border-radius: 50%;
}

.content .query-window .type .info {
  padding-top: 50px;
}

.content .query-window .type .info li {
  border-radius: 5px;
  background-color: #fff;
  float: left;
  width: 261px;
  height: 355px;
  transition: width .5s;
}

.content .query-window .type .info li:not(:last-of-type) {
  margin-right: 1px;
}

.content .query-window .type .info li .num {
  text-align: right;
  font-size: 72px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1);
  padding-right: 20px;
}

.content .query-window .type .info li > div {
  padding: 0 20px;
}

.content .query-window .type .info li > div .title {
  font-size: 18px;
  color: #6f6f6f;
  font-weight: bold;
  border-bottom: 1px dashed #535353;
  padding: 5px 0 5px 20px;
  background: url("../img/icon_02.png") left center no-repeat;
}

.content .query-window .type .info li > div .text {
  color: #ababab;
  line-height: 25px;
  height: 100px;
  padding: 20px 0;
}

.content .query-window .type .info li > div a {
  color: #ababab;
  border: 1px solid #ababab;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
}

.content .query-window .type .info li > div a span {
  padding-left: 20px;
}

.content .query-window .type .info li > div a:hover {
  background: #0a6ce8;
  color: #fff;
  border-color: #0a6ce8;
}

.content .query-window .type .info li:nth-of-type(1).active {
  background: url("../img/bg01-2-01.png");
}

.content .query-window .type .info li:nth-of-type(2).active {
  background: url("../img/bg01-2-02.png");
}

.content .query-window .type .info li:nth-of-type(3).active {
  background: url("../img/bg01-2-03.png");
}

.content .query-window .type .info li:nth-of-type(4).active {
  background: url("../img/bg01-2-04.png");
}

.content .query-window .type .info li.active {
  width: 414px;
}

.content .query-window .type .info li.active .num {
  color: rgba(255, 255, 255, 0.1);
}

.content .query-window .type .info li.active > div {
  padding: 0 50px;
}

.content .query-window .type .info li.active > div .title {
  color: #fff;
  border-bottom-style: solid;
  background-image: url("../img/icon_01.png");
}

.content .query-window .type .info li.active > div .text {
  color: #ababab;
  padding: 20px 0;
}

.content .query-window .type .info li.active > div a {
  color: #fff;
  border-color: #fff;
}

.content .query-window .type .info li.active > div a:hover {
  border-color: #0a6ce8;
}

.content .why {
  padding-top: 50px;
  height: 500px;
}

.content .why .title .t-left {
  display: inline-block;
  transform: translateY(-20px);
}

.content .why .title .t-center {
  display: inline-block;
  padding: 0 38px;
}

.content .why .title .t-center img {
  float: left;
}

.content .why .title .t-center .text {
  padding-left: 150px;
  text-align: center;
}

.content .why .title .t-center .text h2 {
  font-size: 24px;
  font-weight: bold;
  color: #828282;
}

.content .why .title .t-center .text .vice-title {
  color: #828282;
}

.content .why .title .t-right {
  display: inline-block;
  transform: translateY(-20px);
}

.content .why .title .line {
  display: inline-block;
  width: 407px;
  height: 1px;
  background: #e5e5e5;
  transform: translateY(-3px);
}

.content .why .title .circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.content .why .info ul {
  text-align: center;
}

.content .why .info ul li {
  display: inline-block;
  width: 236px;
  height: 266px;
  background: url("../img/bg02.png") center no-repeat;
  box-sizing: border-box;
  padding-top: 80px;
  transition: all .5s;
}

.content .why .info ul li .img {
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.content .why .info ul li p {
  font-size: 16px;
  color: #828282;
  padding-top: 10px;
  transition: all .5s;
}

.content .why .info ul li.flag {
  height: 349px;
  vertical-align: bottom;
  background: url("../img/bg02-01.png") center no-repeat;
}

.content .why .info ul li:hover p {
  color: #fff;
}

.content .why .info .top li:nth-of-type(1) .img {
  background-image: url("../img/icon05.png");
}

.content .why .info .top li:nth-of-type(1):hover {
  background-image: url("../img/bg02-hover01.png");
}

.content .why .info .top li:nth-of-type(1):hover .img {
  background-image: url("../img/icon05-hover.png");
}

.content .why .info .top li:nth-of-type(2) .img {
  background-image: url("../img/icon06.png");
}

.content .why .info .top li:nth-of-type(2):hover {
  background-image: url("../img/bg02-hover02.png");
}

.content .why .info .top li:nth-of-type(2):hover .img {
  background-image: url("../img/icon06-hover.png");
}

.content .why .info .top li:nth-of-type(3) .img {
  background-image: url("../img/icon07.png");
}

.content .why .info .top li:nth-of-type(3):hover {
  background-image: url("../img/bg02-hover03.png");
}

.content .why .info .top li:nth-of-type(3):hover .img {
  background-image: url("../img/icon07-hover.png");
}

.content .why .info .bot {
  margin-top: -50px;
}

.content .why .info .bot li:nth-of-type(1) .img {
  background-image: url("../img/icon08.png");
}

.content .why .info .bot li:nth-of-type(1):hover {
  background-image: url("../img/bg02-hover04.png");
}

.content .why .info .bot li:nth-of-type(1):hover .img {
  background-image: url("../img/icon08-hover.png");
}

.content .why .info .bot li:nth-of-type(2) .img {
  background-image: url("../img/icon09.png");
}

.content .why .info .bot li:nth-of-type(2):hover {
  background-image: url("../img/bg02-hover05.png");
}

.content .why .info .bot li:nth-of-type(2):hover .img {
  background-image: url("../img/icon09-hover.png");
}

.content .why .info .bot li:nth-of-type(3) .img {
  background-image: url("../img/icon10.png");
}

.content .why .info .bot li:nth-of-type(3):hover {
  background-image: url("../img/bg02-hover06.png");
}

.content .why .info .bot li:nth-of-type(3):hover .img {
  background-image: url("../img/icon10-hover.png");
}

.content .process {
  background: url("../img/bg03.png");
  padding: 200px 0 50px;
}

.content .process .title {
  border-bottom: 1px solid #626262;
  padding: 5px 20px;
}

.content .process .title .text {
  display: inline-block;
  text-align: right;
}

.content .process .title .text h2 {
  font-size: 22px;
  color: #fff;
  position: relative;
}

.content .process .title .text h2::before {
  content: '';
  width: 10px;
  height: 3px;
  background: #0A6CDD;
  display: block;
  position: absolute;
  top: 10px;
}

.content .process .title .text p {
  color: #828282;
  padding-bottom: 10px;
}

.content .process .title img {
  transform: translateY(10px);
}

.content .process .info {
  padding: 100px 0;
}

.content .process .info li {
  float: left;
  width: 154px;
  height: 257px;
  background: #fff;
  border-radius: 5px;
  margin-right: 10px;
  background: url("../img/bg03-01.png");
  box-sizing: border-box;
  padding: 30px 20px;
  transition: width .5s;
}

.content .process .info li h4 {
  font-size: 18px;
  color: #fff;
}

.content .process .info li .line {
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background: #bfbfbf;
  margin: 5px 0 20px;
}

.content .process .info li .text {
  font-size: 14px;
  color: #717171;
  line-height: 30px;
  display: none;
}

.content .process .info li > span {
  color: #a2a2a2;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #a2a2a2;
  display: inline-block;
  margin-top: 110px;
}

.content .process .info li > span img {
  vertical-align: middle;
  margin-left: 10px;
}

.content .process .info li.active {
  width: 210px;
  background: #fff;
}

.content .process .info li.active h4 {
  color: #0a6ce8;
}

.content .process .info li.active h4::before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  background: #0a6ce8;
  margin-right: 10px;
}

.content .process .info li.active .line {
  width: 100%;
  height: 1px;
  background: #666;
}

.content .process .info li.active .text {
  display: block;
}

.content .process .info li.active > span {
  display: none;
}

.content .data {
  padding: 50px 0;
}

.content .data .title {
  border-bottom: 1px solid #626262;
  padding: 5px 20px;
}

.content .data .title .text {
  display: inline-block;
  text-align: right;
}

.content .data .title .text h2 {
  font-size: 22px;
  color: #828282;
  position: relative;
}

.content .data .title .text h2::before {
  content: '';
  width: 10px;
  height: 3px;
  background: #0A6CDD;
  display: block;
  position: absolute;
  top: 10px;
}

.content .data .title .text p {
  color: #828282;
  padding-bottom: 10px;
}

.content .data .title img {
  transform: translateY(10px);
}

.content .data .info {
  padding-top: 50px;
}

.content .data .info dl {
  float: left;
  width: 590px;
  height: 460px;
  box-sizing: border-box;
  padding: 30px 45px;
  background-image: url("../img/bg04-1.png");
  background-size: 100% 100%;
  color: #fff;
  position: relative;
}

.content .data .info dl dt {
  font-size: 18px;
  margin-bottom: 30px;
}

.content .data .info dl dt::before {
  content: '';
  width: 5px;
  height: 5px;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
}

.content .data .info dl dd {
  font-size: 14px;
  line-height: 50px;
  padding-left: 20px;
}

.content .data .info dl a {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.content .data .info dl a img {
  vertical-align: middle;
}

.content .data .info dl a:hover {
  background: #747474;
}

.content .data .info dl.right {
  background-image: url("../img/bg04-2.png");
  margin-left: 20px;
}

.content .data .info dl.right dd {
  line-height: 35px;
}

.content .data .info dl.right a:hover {
  background: #0A6CDD;
}

.content .attention .title p {
  float: right;
  line-height: 50px;
  font-size: 14px;
  color: #d2d2d2;
}

.content .attention .title img {
  vertical-align: middle;
}

.content .attention .title span {
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 50px;
}

.content .attention .info {
  background-color: #f8f8f8;
}

.content .attention .info ul {
  padding: 50px 0;
  background: url("../img/line_1.png") top center no-repeat;
  background-size: 100% auto;
}

.content .attention .info ul li {
  float: left;
  width: 400px;
  height: 200px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 50px;
  position: relative;
}

.content .attention .info ul li:nth-of-type(1), .content .attention .info ul li:nth-of-type(2), .content .attention .info ul li:nth-of-type(4), .content .attention .info ul li:nth-of-type(5) {
  border-right: 1px dashed #ccc;
}

.content .attention .info ul li:nth-of-type(1), .content .attention .info ul li:nth-of-type(2), .content .attention .info ul li:nth-of-type(3) {
  border-bottom: 1px dashed #ccc;
}

.content .attention .info ul li > p {
  font-size: 18px;
  font-weight: bold;
  color: #616161;
  padding-top: 20px;
}

.content .attention .info ul li .hover-show {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  transition: opacity .5s;
}

.content .attention .info ul li .hover-show .left {
  float: left;
  width: 160px;
  height: 100%;
  background: #0c50ce;
  box-sizing: border-box;
  padding-top: 50px;
}

.content .attention .info ul li .hover-show .left > p {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding-top: 20px;
}

.content .attention .info ul li .hover-show .right {
  text-align: left;
  padding: 30px 30px 30px 175px;
}

.content .attention .info ul li .hover-show .right p {
  color: #616161;
  line-height: 30px;
  margin-bottom: 25px;
}

.content .attention .info ul li .hover-show .right a {
  color: #0a6cdd;
  padding: 8px 15px;
  border: 1px solid #0a6cdd;
  border-radius: 5px;
}

.content .attention .info ul li .hover-show .right a:hover {
  background: #0a6cdd;
}

.content .attention .info ul li:hover .hover-show {
  opacity: 1;
}

.content .hand-data {
  background-color: #f8f8f8;
}

.content .hand-data .title p {
  float: right;
  line-height: 50px;
  font-size: 14px;
  color: #d2d2d2;
}

.content .hand-data .title img {
  vertical-align: middle;
}

.content .hand-data .title span {
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 50px;
}

.content .hand-data .info {
  background: url("../img/bg05.png");
  text-align: center;
  padding-bottom: 80px;
}

.content .hand-data .info ul {
  background: url("../img/line_1.png") top center no-repeat;
  background-size: 100% auto;
  padding: 150px 0 50px;
}

.content .hand-data .info ul li {
  display: inline-block;
  margin: 0 10px;
}

.content .hand-data .info ul li p {
  font-size: 17px;
  color: #787878;
  padding-top: 10px;
}

.content .hand-data .info > a {
  background: #0c50ce;
  color: #fff;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

.content .server-process {
  background: url("../img/bg06.jpg");
  text-align: center;
  padding: 100px 0 45px;
}

.content .server-process .title {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid #e6e6e6;
  display: inline-block;
  padding: 5px 30px;
}

.content .server-process .title .s1 {
  color: #828282;
}

.content .server-process .title .s2 {
  color: #0c50ce;
}

.content .server-process ul {
  padding: 116px 0 50px;
}

.content .server-process ul li {
  background: url("../img/bg06-1.png");
  background-size: 100% 100%;
  width: 221px;
  height: 230px;
  float: left;
  transition: all .5s;
  cursor: pointer;
}

.content .server-process ul li:not(:first-of-type) {
  margin-left: -60px;
}

.content .server-process ul li .num {
  font-size: 80px;
  color: #f1f1f1;
}

.content .server-process ul li .text {
  color: #656565;
  font-size: 16px;
}

.content .server-process ul li:nth-of-type(2n) {
  margin-top: 140px;
}

.content .server-process ul li:hover .num {
  color: #fff;
}

.content .server-process ul li:hover .text {
  color: #fff;
}

.content .server-process ul li:nth-of-type(1):hover {
  background-image: url("../img/bg06-1-hover.png");
}

.content .server-process ul li:nth-of-type(2):hover {
  background-image: url("../img/bg06-2-hover.png");
}

.content .server-process ul li:nth-of-type(3):hover {
  background-image: url("../img/bg06-3-hover.png");
}

.content .server-process ul li:nth-of-type(4):hover {
  background-image: url("../img/bg06-4-hover.png");
}

.content .server-process ul li:nth-of-type(5):hover {
  background-image: url("../img/bg06-5-hover.png");
}

.content .server-process ul li:nth-of-type(6):hover {
  background-image: url("../img/bg06-6-hover.png");
}

.content .server-process ul li:nth-of-type(7):hover {
  background-image: url("../img/bg06-7-hover.png");
}

.content .server-process > a {
  background: #0c50ce;
  color: #fff;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

.content .adv {
  background: url("../img/bg07.jpg");
  padding: 80px 0;
}

.content .adv .title {
  text-align: center;
  margin-bottom: 80px;
}

.content .adv .title .p1 .s1 {
  font-size: 30px;
  color: #ffba00;
  font-weight: bold;
}

.content .adv .title .p1 .s2 {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
}

.content .adv .title .p2 {
  background: url("../img/line-02.png") center no-repeat;
  color: #0b59b2;
  letter-spacing: 3px;
  padding-left: 78px;
}

.content .adv .info {
  background: url("../img/bg07-1.png") top no-repeat;
  padding: 111px 0 170px;
}

.content .adv .info .left {
  float: left;
  width: 550px;
  padding-left: 115px;
  box-sizing: border-box;
}

.content .adv .info .left dt {
  margin-bottom: 55px;
}

.content .adv .info .left dt .img {
  background: #0a6cdd;
  display: inline-block;
  padding: 4px 10px;
  vertical-align: middle;
}

.content .adv .info .left dt span {
  color: #0a6cdd;
  font-size: 24px;
  font-weight: bold;
  line-height: 46px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.content .adv .info .left dd {
  line-height: 59px;
  font-size: 18px;
  color: #666;
  padding-left: 30px;
}

.content .adv .info .center {
  float: left;
  width: 100px;
  padding-top: 120px;
}

.content .adv .info .center li {
  font-size: 18px;
  color: #0c50ce;
  border: 2px solid #0c50ce;
  border-radius: 5px;
  padding: 5px 0;
  text-align: center;
  margin-bottom: 18px;
}

.content .adv .info .right {
  float: left;
  width: 550px;
  padding-left: 125px;
  box-sizing: border-box;
}

.content .adv .info .right dt {
  margin-bottom: 55px;
}

.content .adv .info .right dt .img {
  background: #0a6cdd;
  display: inline-block;
  padding: 4px 10px;
  vertical-align: middle;
}

.content .adv .info .right dt span {
  color: #0a6cdd;
  font-size: 24px;
  font-weight: bold;
  line-height: 46px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.content .adv .info .right dd {
  line-height: 59px;
  font-size: 18px;
  color: #666;
  padding-left: 30px;
}

.content .adv .adv-btn {
  text-align: center;
}

.content .adv .adv-btn a {
  background: #fff;
  color: #0c50ce;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 5px;
}

.content .consultant {
  text-align: center;
  padding: 80px 0;
  height: 650px;
  background: url("../img/bg08.jpg");
}

.content .consultant .title {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid #e6e6e6;
  display: inline-block;
  padding: 5px 30px;
}

.content .consultant .title .s1 {
  color: #828282;
}

.content .consultant .title .s2 {
  color: #0c50ce;
}

.content .consultant .con-list {
  padding: 50px 0;
}

.content .consultant .con-list li {
  float: left;
  width: 220px;
  margin: 10px;
  text-align: left;
}

.content .consultant .con-list li a {
  display: block;
}

.content .consultant .con-list li a .img {
  width: 220px;
  height: 220px;
  border-radius: 5px;
  overflow: hidden;
  transition: transform .5s;
}

.content .consultant .con-list li a .img img {
  width: 100%;
  height: 100%;
}

.content .consultant .con-list li a h4 {
  font-size: 18px;
  color: #333;
  line-height: 40px;
  padding: 10px 5px 0;
}

.content .consultant .con-list li a p {
  color: #666;
  line-height: 30px;
  padding: 0 5px;
}

.content .consultant .con-list li:hover .img {
  transform: translateY(-2px);
}

.content .consultant .consultant-btn {
  border: 1px solid #0c50ce;
  color: #0c50ce;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 5px;
}

.content .consultant .consultant-btn:hover {
  background: #0c50ce;
  color: #fff;
}

.content .consultant .commitment {
  background: url("../img/bg09.png") top no-repeat;
  padding: 80px 90px;
  position: relative;
}

.content .consultant .commitment ul {
  padding: 80px 0 50px;
  border-bottom: 1px dashed #dcdcdc;
  margin-bottom: 30px;
}

.content .consultant .commitment ul li {
  float: left;
  width: 340px;
  padding: 50px 0;
  box-sizing: border-box;
}

.content .consultant .commitment ul li:not(:last-of-type) {
  border-right: 1px dashed #dcdcdc;
}

.content .consultant .commitment ul li h3 {
  font-size: #333;
  padding: 30px 0 20px;
}

.content .consultant .commitment ul li .line {
  display: inline-block;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background: #e5e5e5;
}

.content .consultant .commitment ul li p {
  font-size: 16px;
  color: #888;
  padding: 30px 0 50px;
}

.content .after-establishment {
  padding: 600px 0 80px;
  text-align: center;
  background: url("../img/bg10.png");
}

.content .after-establishment .title {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid #828282;
  display: inline-block;
  padding: 5px 30px;
}

.content .after-establishment .title .s1 {
  color: #828282;
}

.content .after-establishment .title .s2 {
  color: #fff;
}

.content .after-establishment ul {
  padding-top: 80px;
}

.content .after-establishment ul li {
  display: inline-block;
  width: 270px;
  padding: 0 50px;
}

.content .after-establishment ul li:not(:last-of-type) {
  border-right: 1px solid #434343;
}

.content .after-establishment ul li h4 {
  font-size: 18px;
  color: #fff;
  padding: 40px 0 20px;
}

.content .after-establishment ul li p {
  font-size: 16px;
  color: #adadad;
  line-height: 30px;
  padding-bottom: 50px;
}

.content .after-establishment ul li a {
  border: 1px solid #bbb;
  color: #bbb;
  padding: 5px 25px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}

.content .after-establishment ul li a:hover {
  background: #0A6CDD;
  color: #fff;
  border-color: #0A6CDD;
}

.content .after-establishment ul li:nth-of-type(2) a {
  background: #fff;
  color: #0A6CDD;
}

.content .case {
  padding: 50px 0 80px;
  background: url("../img/bg11.jpg");
}

.content .case .title {
  border-bottom: 1px solid #ccc;
  line-height: 50px;
  margin-bottom: 50px;
}

.content .case .title .more {
  float: right;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #0A6CDD;
  line-height: 30px;
  padding: 0 20px;
  border-radius: 5px;
}

.content .case .title .s1 {
  font-size: 30px;
  color: #828282;
  font-weight: bold;
}

.content .case .title .s2 {
  font-size: 30px;
  color: #0c50ce;
  font-weight: bold;
}

.content .case .title .s3 {
  font-size: 16px;
  color: #828282;
  font-weight: bold;
}

.content .case .info {
  position: relative;
}

.content .case .info .case-show {
  width: 358px;
  height: 505px;
  background: url("../img/bg11-1.png");
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 0 50px;
}

.content .case .info .case-show .s-title {
  background: url("../img/icon27.png") left top no-repeat;
  padding-left: 12px;
  padding-bottom: 120px;
  transform: translateY(-6px);
}

.content .case .info .case-show .s-title .p1 {
  font-size: 32px;
  font-weight: bold;
  color: #8b8b8b;
  line-height: 30px;
}

.content .case .info .case-show .s-title .p2 {
  color: #8b8b8b;
  padding-left: 2px;
  font-weight: bold;
}

.content .case .info .case-show .p3 span {
  color: #135199;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #0e62c4;
  padding: 3px 20px;
  display: inline-block;
  border-radius: 5px;
}

.content .case .info .case-show .p4 {
  color: #fff;
  font-size: 48px;
  padding: 0px 0 10px;
}

.content .case .info .case-show .p5 {
  color: #fff;
  padding-bottom: 100px;
}

.content .case .info .case-show .p6 {
  position: relative;
  z-index: 3;
}

.content .case .info .case-show .p6 span {
  display: inline-block;
  background: #fff;
  color: #0c50ce;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.content .case .info .swiper-case {
  position: absolute;
  width: 1050px;
  overflow: hidden;
  top: 76px;
  left: 175px;
}

.content .case .info .swiper-case .swiper-slide {
  width: 350px;
  padding: 50px 0;
  text-align: center;
}

.content .case .info .swiper-case .swiper-slide a {
  display: block;
}

.content .case .info .swiper-case .swiper-slide a .img {
  display: inline-block;
  transform: rotate(45deg);
  padding: 5px;
  border: 10px solid #fff;
}

.content .case .info .swiper-case .swiper-slide a .img img {
  display: block;
}

.content .case .info .swiper-case .swiper-slide a h4 {
  font-size: 18px;
  color: #9c9c9c;
  padding: 50px 0 10px;
}

.content .case .info .swiper-case .swiper-slide a p {
  color: #9c9c9c;
}

.content .common-problems {
  padding: 20px 0;
  background: url("../img/bg12.png") 0px -100px no-repeat;
  text-align: center;
}

.content .common-problems .title {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  padding: 10px 40px;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
}

.content .common-problems ul li {
  float: left;
  width: 550px;
  margin: 0 25px 25px 25px;
  text-align: left;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  padding: 30px 50px;
  position: relative;
}

.content .common-problems ul li h4 {
  font-size: 18px;
  font-weight: 100;
  color: #333;
}

.content .common-problems ul li p {
  color: #717171;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
}

.content .common-problems ul li::before {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background: #ff0011;
  position: absolute;
  top: 42px;
  left: 37px;
}

.content .common-problems .more {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #282828;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 5px;
}

.content .team-us {
  background: url("../img/bg13.png") 0 -20px;
  padding-top: 60px;
}

.content .team-us .img-wrapper {
  position: relative;
  height: 800px;
}

.content .team-us .img-wrapper > div {
  position: absolute;
  transform: rotate(45edg);
  left: 50%;
}

.content .team-us .img-wrapper > div.img img {
  width: 100%;
  height: 100%;
}

.content .team-us .img-wrapper > div.img1 {
  width: 500px;
  height: 500px;
  background: url("../img/bg13-1.png");
  background-size: 100% 100%;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 50px;
}

.content .team-us .img-wrapper > div.img2 {
  width: 300px;
  height: 300px;
  margin-left: -396px;
  top: 91px;
}

.content .team-us .img-wrapper > div.img3 {
  width: 200px;
  height: 200px;
  margin-left: -453px;
  top: 285px;
}

.content .team-us .img-wrapper > div.img4 {
  width: 300px;
  height: 300px;
  margin-left: -404px;
  top: 395px;
}

.content .team-us .img-wrapper > div.img5 {
  width: 380px;
  height: 380px;
  margin-left: 64px;
  top: 34px;
}

.content .team-us .img-wrapper > div.img6 {
  width: 180px;
  height: 180px;
  margin-left: 255px;
  top: 312px;
}

.content .team-us .img-wrapper > div.img7 {
  width: 320px;
  height: 320px;
  margin-left: 87px;
  top: 403px;
}
