.top-banner {
  position: relative;
  display: block;
}

.top-banner img {
  width: 100%;
  display: block;
}

.top-banner span {
  position: absolute;
  right: 300px;
  line-height: 20px;
  width: 20px;
  text-align: center;
  top: 20px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  transition: opacity .3s;
}

.top-banner span:hover {
  color: #666;
  background: rgba(255, 255, 255, 0.3);
}

.top-banner:hover span {
  opacity: 1;
}

.banner {
  width: 100%;
  height: 560px;
  position: relative;
}

.banner .swiper-banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.banner .swiper-banner .swiper-pagination {
  bottom: 100px;
  z-index: 2;
}

.banner .float-left {
  position: absolute;
  top: 22px;
  left: 350px;
  background: #fff;
  z-index: 3;
}

.banner .float-left > ul {
  width: 90px;
}

.banner .float-left > ul li {
  height: 86px;
  background: #1d212d;
  color: #fff;
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;
}

.banner .float-left > ul li:not(:last-of-type) {
  border-bottom: 1px dashed #464953;
}

.banner .float-left > ul li .img {
  width: 26px;
  height: 26px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}

.banner .float-left > ul li p {
  font-size: 14px;
  padding-top: 5px;
}

.banner .float-left > ul li.active {
  color: #2765e0;
  background: #fff;
  border-color: #fff;
}

.banner .float-left > ul li:nth-of-type(1) .img {
  background-image: url("../img/icon_jysc.png");
}

.banner .float-left > ul li:nth-of-type(1).active .img {
  background-image: url("../img/icon_jysc_hover.png");
}

.banner .float-left > ul li:nth-of-type(2) .img {
  background-image: url("../img/icon_kbgs.png");
}

.banner .float-left > ul li:nth-of-type(2).active .img {
  background-image: url("../img/icon_kbgs_hover.png");
}

.banner .float-left > ul li:nth-of-type(3) .img {
  background-image: url("../img/icon_dljz.png");
}

.banner .float-left > ul li:nth-of-type(3).active .img {
  background-image: url("../img/icon_dljz_hover.png");
}

.banner .float-left > ul li:nth-of-type(4) .img {
  background-image: url("../img/icon_swdb.png");
}

.banner .float-left > ul li:nth-of-type(4).active .img {
  background-image: url("../img/icon_swdb_hover.png");
}

.banner .float-left > ul li:nth-of-type(5) .img {
  background-image: url("../img/icon_sjsc.png");
}

.banner .float-left > ul li:nth-of-type(5).active .img {
  background-image: url("../img/icon_sjsc_hover.png");
}

.banner .float-left > ul li:nth-of-type(6) .img {
  background-image: url("../img/icon_zzfw.png");
}

.banner .float-left > ul li:nth-of-type(6).active .img {
  background-image: url("../img/icon_zzfw_hover.png");
}

.banner .float-left .info {
  position: absolute;
  left: 90px;
  top: 0;
  background: #fff;
  height: 516px;
  box-sizing: border-box;
}

.banner .float-left .info .info-home {
  width: 150px;
  padding: 10px;
  height: 516px;
  box-sizing: border-box;
}

.banner .float-left .info .info-home h3 {
  font-size: 14px;
}

.banner .float-left .info .info-home ul li {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 8px;
}

.banner .float-left .info .info-home ul li p {
  vertical-align: middle;
  padding: 10px 0;
  font-size: 14px;
}

.banner .float-left .info .info-home ul li p img {
  vertical-align: middle;
  margin-left: 10px;
}

.banner .float-left .info .info-home ul li a {
  color: #777;
}

.banner .float-left .info .info-item {
  padding: 30px;
  display: none;
  position: absolute;
  width: 880px;
  left: 0;
  top: 0;
  background: #fff;
  height: 100%;
  box-sizing: border-box;
}

.banner .float-left .info .info-item .info-hot {
  margin-bottom: 10px;
}

.banner .float-left .info .info-item .info-hot a {
  display: inline-block;
  padding: 3px 20px;
  background: #333;
  color: #fff;
}

.banner .float-left .info .info-item .info-hot a:hover {
  background: rgba(51, 51, 51, 0.8);
}

.banner .float-left .info .info-item > ul li h4 {
  font-size: 18px;
  padding-top: 20px;
}

.banner .float-left .info .info-item > ul li > div {
  border-bottom: 1px dashed #dce0e8;
  padding: 15px 0;
}

.banner .float-left .info .info-item > ul li > div a {
  color: #666;
  padding: 0 10px;
}

.banner .float-left .info .info-item > ul li > div a:not(:last-of-type) {
  border-right: 1px solid #ccc;
}

.banner .float-left .info .info-item > ul li > div a.flag-hot {
  position: relative;
  color: #ff8400;
}

.banner .float-left .info .info-item > ul li > div a.flag-hot::before {
  content: '';
  display: block;
  width: 15px;
  height: 9px;
  background: url("../img/icon_hot4.png") center no-repeat;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -9px;
}

.banner .float-left .info .info-item > ul li > div a:hover {
  color: #2667e9;
}

.banner .float-left .info .info-item > .more {
  display: inline-block;
  color: #ff8400;
  margin-top: 30px;
}

.banner .float-center {
  position: absolute;
  width: 728px;
  top: 414px;
  left: 592px;
  z-index: 2;
}

.banner .float-center a {
  float: left;
}

.banner .float-right {
  position: absolute;
  left: 1322px;
  top: 22px;
  background: #fff;
  z-index: 3;
  width: 230px;
  height: 516px;
  text-align: center;
}

.banner .float-right .swiper-jiaoyizhishu {
  height: 90px;
  overflow: hidden;
  background: #f3f5f8;
  border-bottom: 1px dashed #ccc;
}

.banner .float-right .swiper-jiaoyizhishu h2 {
  font-size: 28px;
  color: #ff8400;
  padding-top: 15px;
}

.banner .float-right .swiper-jiaoyizhishu p {
  color: #aaa;
}

.banner .float-right .dongtai {
  height: 90px;
  background: #f3f5f8;
  border-bottom: 1px dashed #ccc;
  text-align: left;
  padding: 15px 10px;
  box-sizing: border-box;
}

.banner .float-right .dongtai .title {
  font-size: 12px;
  font-weight: bold;
}

.banner .float-right .dongtai .swiper-dongtai {
  height: 40px;
  overflow: hidden;
  margin-top: 5px;
}

.banner .float-right .dongtai .swiper-dongtai .swiper-wrapper p {
  line-height: 20px;
  color: #aaa;
}

.banner .float-right .phone {
  height: 75px;
  background-image: url("../img/banner_phone_bg.jpg");
  background-size: 100% 100%;
  font-size: 18px;
  color: #fff;
  padding: 25px 0 0 40px;
  box-sizing: border-box;
}

.banner .float-right .server-list {
  border-bottom: 1px solid #ccc;
}

.banner .float-right .server-list li {
  float: left;
  width: 115px;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  line-height: 40px;
}

.banner .float-right .server-list li:nth-of-type(2n+1) {
  border-right: 1px solid #ccc;
}

.banner .float-right .server-list li img {
  vertical-align: middle;
}

.banner .float-right .server-list li span {
  color: #ff8400;
  font-weight: bold;
}

.banner .float-right .gonggao {
  height: 137px;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
}

.banner .float-right .gonggao .title img {
  vertical-align: middle;
}

.banner .float-right .gonggao .title span {
  vertical-align: middle;
  color: #2B3D63;
  font-size: 13px;
  font-weight: bold;
}

.banner .float-right .gonggao .swiper-gonggao {
  margin: 5px;
  height: 90px;
  overflow: hidden;
}

.banner .float-right .gonggao .swiper-gonggao .swiper-slide a {
  display: block;
  line-height: 30px;
  color: #aaa;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: url("../img/icon3 (1).png") left center no-repeat;
  padding-left: 15px;
}

.banner .float-right .lianxiwomen {
  height: 40px;
  box-sizing: border-box;
  padding-top: 8px;
  border-top: 1px solid #ccc;
  color: #2667e9;
  font-weight: bold;
  cursor: pointer;
}

.content {
  background: #f3f5f7;
}

.content .hot-server {
  background: #fff;
  margin-bottom: 30px;
}

.content .hot-server .title {
  border-bottom: 1px solid #f3f5f7;
  padding-left: 20px;
}

.content .hot-server .title img {
  vertical-align: middle;
}

.content .hot-server .title span {
  vertical-align: middle;
  line-height: 50px;
  font-size: 16px;
  color: #777;
}

.content .hot-server .title span.t-flag {
  color: #ff570d;
  font-weight: bold;
  font-size: 22px;
}

.content .hot-server .info {
  padding: 19px;
}

.content .hot-server .info li {
  width: 190px;
  height: 160px;
  background: #e9ebf6;
  float: left;
  margin: 1px;
  background-position: right bottom;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 30px 15px;
  transition: all .5s;
}

.content .hot-server .info li:nth-of-type(1) {
  background-image: url("../img/b1_1.png");
}

.content .hot-server .info li:nth-of-type(2) {
  background-image: url("../img/b1_2.png");
}

.content .hot-server .info li:nth-of-type(3) {
  background-image: url("../img/b1_3.png");
}

.content .hot-server .info li:nth-of-type(4) {
  background-image: url("../img/b1_4.png");
}

.content .hot-server .info li:nth-of-type(5) {
  background-image: url("../img/b1_5.png");
}

.content .hot-server .info li h3 {
  font-size: 16px;
  color: #233159;
  padding-bottom: 5px;
}

.content .hot-server .info li .line {
  width: 30px;
  border-bottom: 1px dashed #ccc;
}

.content .hot-server .info li .vice-title {
  font-size: 12px;
  color: #9199a9;
  padding: 5px 0;
}

.content .hot-server .info li .price {
  font-size: 16px;
  color: #ff4700;
  font-weight: bold;
}

.content .hot-server .info li > a {
  color: #353d59;
  margin-top: 5px;
  padding-right: 10px;
  display: inline-block;
  background: url("../img/icon3 (1).png") right center no-repeat;
  opacity: 0;
  transition: opacity .5s;
}

.content .hot-server .info li.active {
  width: 390px;
  background-color: #f1f2f9;
  padding: 30px;
}

.content .hot-server .info li.active > a {
  opacity: 1;
}

.content .b-one {
  margin-bottom: 30px;
}

.content .b-one img {
  width: 100%;
}

.content .chanquan {
  margin-bottom: 30px;
}

.content .chanquan .left {
  width: 225px;
  float: left;
}

.content .chanquan .left .title {
  height: 120px;
  background: url("../img/hd1.jpg") center no-repeat;
  color: #fff;
  box-sizing: border-box;
  padding: 20px;
}

.content .chanquan .left .title h1 {
  font-size: 30px;
  font-weight: bold;
}

.content .chanquan .left > ul {
  background: #2f395d url("../img/hd2.png") left bottom no-repeat;
  box-sizing: border-box;
}

.content .chanquan .left > ul li .flag {
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  padding: 0 20px;
}

.content .chanquan .left > ul li p:not(:first-of-type) {
  padding: 0 20px;
  height: 0;
  overflow: hidden;
  transition: height .5s;
}

.content .chanquan .left > ul li p:not(:first-of-type) a {
  display: block;
  line-height: 50px;
  color: #cfd7ed;
  padding-left: 20px;
  font-size: 14px;
  border-bottom: 1px dashed #cfd7eb;
}

.content .chanquan .left > ul li.active p:not(:first-of-type) {
  height: 51px;
}

.content .chanquan .right {
  float: left;
  width: 975px;
  text-align: center;
  position: relative;
}

.content .chanquan .right ul {
  width: 100%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 477px;
  opacity: 0;
}

.content .chanquan .right ul.active {
  opacity: 1;
  z-index: 3;
}

.content .chanquan .right ul li {
  background: #fff;
  width: 243px;
  height: 238px;
  padding-top: 20px;
  box-sizing: border-box;
}

.content .chanquan .right ul li img {
  height: 90px;
}

.content .chanquan .right ul li h4 {
  font-size: 18px;
  padding-top: 10px;
}

.content .chanquan .right ul li p {
  color: #aaa;
}

.content .chanquan .right ul li div {
  padding-top: 20px;
  display: inline-block;
}

.content .chanquan .right ul li div span {
  padding: 0 8px;
  line-height: 25px;
  border: 1px solid #ff652b;
  font-size: 14px;
  float: left;
}

.content .chanquan .right ul li div span.s1 {
  color: #fff;
  background: #ff652b;
  font-weight: bold;
}

.content .chanquan .right ul li div span.s2 {
  text-decoration: line-through;
}

.content .shangbiao-server {
  background: url("../img/b3.jpg");
  padding: 30px 0;
}

.content .shangbiao-server .title {
  text-align: center;
}

.content .shangbiao-server .title span {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  vertical-align: middle;
}

.content .shangbiao-server .title img {
  vertical-align: middle;
}

.content .shangbiao-server .vice-title {
  text-align: center;
  color: #AFB3BF;
  margin-bottom: 30px;
}

.content .shangbiao-server .info .left {
  width: 225px;
  float: left;
  height: 435px;
}

.content .shangbiao-server .info .left .title {
  text-align: left;
  height: 120px;
  background: url("../img/hd1.jpg") center no-repeat;
  color: #fff;
  box-sizing: border-box;
  padding: 20px;
}

.content .shangbiao-server .info .left .title h1 {
  font-size: 30px;
  font-weight: bold;
}

.content .shangbiao-server .info .left > ul {
  background: #2f395d url("../img/hd2.png") left bottom no-repeat;
  box-sizing: border-box;
}

.content .shangbiao-server .info .left > ul li {
  background-position: 170px center;
  background-repeat: no-repeat;
  padding: 10px 30px;
}

.content .shangbiao-server .info .left > ul li .p1 {
  font-size: 16px;
  color: #fff;
}

.content .shangbiao-server .info .left > ul li .p2 {
  color: #7284C0;
  text-transform: uppercase;
}

.content .shangbiao-server .info .left > ul li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.content .shangbiao-server .info .left > ul li:nth-of-type(1) {
  background-image: url("../img/b3_1.png");
}

.content .shangbiao-server .info .left > ul li:nth-of-type(2) {
  background-image: url("../img/b3_2.png");
}

.content .shangbiao-server .info .left > ul li:nth-of-type(3) {
  background-image: url("../img/b3_3.png");
}

.content .shangbiao-server .info .left > ul li:nth-of-type(4) {
  background-image: url("../img/b3_4.png");
}

.content .shangbiao-server .info .left > ul li:nth-of-type(5) {
  background-image: url("../img/b3_5.png");
}

.content .shangbiao-server .info .center {
  float: left;
  width: 615px;
  height: 435px;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
}

.content .shangbiao-server .info .center .center-title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.content .shangbiao-server .info .center .center-title p {
  float: right;
  font-size: 14px;
  color: #aaa;
}

.content .shangbiao-server .info .center .center-title p img {
  vertical-align: middle;
}

.content .shangbiao-server .info .center .center-title h4 {
  font-size: 14px;
  color: #666;
}

.content .shangbiao-server .info .center .center-item {
  padding: 30px 0 20px;
  border-bottom: 1px solid #ccc;
}

.content .shangbiao-server .info .center .center-item h3 {
  font-size: 20px;
  color: #233159;
  padding-bottom: 5px;
}

.content .shangbiao-server .info .center .center-item .line {
  width: 40px;
  border-bottom: 1px dashed #ccc;
}

.content .shangbiao-server .info .center .center-item .vice-title {
  text-align: left;
  color: #aaa;
  margin: 5px 0 15px;
}

.content .shangbiao-server .info .center .center-item ul li {
  color: #777;
  display: inline-block;
  padding-right: 15px;
}

.content .shangbiao-server .info .center .center-btn-wrapper {
  text-align: center;
  padding-top: 30px;
}

.content .shangbiao-server .info .center .center-btn-wrapper span {
  background: #ff733d;
  color: #fff;
  padding: 5px 30px;
  border-radius: 5px;
  font-size: 18px;
}

.content .shangbiao-server .info .right {
  float: right;
  width: 355px;
  background: #fff;
  box-sizing: border-box;
  padding: 30px;
}

.content .shangbiao-server .info .right li {
  padding: 30px 0 20px;
  border-bottom: 1px solid #ccc;
  height: 145px;
  box-sizing: border-box;
}

.content .shangbiao-server .info .right li h4 {
  font-size: 20px;
  color: #233159;
}

.content .shangbiao-server .info .right li .vice-title {
  text-align: left;
  color: #aaa;
  margin: 0;
  font-size: 14px;
  padding-bottom: 5px;
}

.content .shangbiao-server .info .right li .line {
  width: 40px;
  border-bottom: 1px dashed #ccc;
}

.content .shangbiao-server .info .right li div a {
  display: inline-block;
  color: #777;
  padding: 10px;
}

.content .shangbiao-server .info .right li div a:first-of-type {
  border-right: 1px solid #ccc;
  padding-left: 0;
}

.content .shangbiao-server .info .right li .price {
  color: #ff4700;
  font-size: 16px;
  font-weight: bold;
}
