.banner {
  background: url("../img/banner_zpxx.jpg");
  height: 500px;
  box-sizing: border-box;
  padding-top: 100px;
}

.banner img {
  display: block;
  margin: 0 auto;
}

.content {
  background: url("../img/jobs_bg.jpg");
}

.content .recruitment {
  text-align: center;
  padding: 50px 0;
}

.content .recruitment > h1 {
  font-size: 30px;
  font-weight: bold;
  color: #262626;
  background: url("../img/");
}

.content .recruitment .vice-title {
  font-size: 12px;
  color: #999;
  padding-bottom: 50px;
}

.content .recruitment .info {
  margin-bottom: 30px;
}

.content .recruitment .info .left {
  float: left;
  width: 240px;
  height: 480px;
  background: url("../img/blockbox1_left.jpg");
  color: #fff;
  text-align: left;
}

.content .recruitment .info .left ul {
  padding: 30px 0 30px 15px;
  border-bottom: 1px dotted #eee;
}

.content .recruitment .info .left ul li {
  line-height: 40px;
  font-size: 15px;
  padding-left: 25px;
  position: relative;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.content .recruitment .info .left ul li img {
  vertical-align: middle;
}

.content .recruitment .info .left ul li.active {
  background: rgba(255, 255, 255, 0.3);
}

.content .recruitment .info .left ul li.active img {
  display: none;
}

.content .recruitment .info .left ul li.active::before {
  content: '';
  width: 15px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 20px;
  left: -15px;
}

.content .recruitment .info .left ul li.active::after {
  content: '';
  display: inline-block;
  background: url("../img/jt.png") center 13px no-repeat;
  width: 34px;
  height: 40px;
  vertical-align: middle;
}

.content .recruitment .info .left .consulting-kf {
  padding: 30px 0 0px 40px;
}

.content .recruitment .info .left .consulting-kf a {
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  padding: 6px 30px;
  position: relative;
}

.content .recruitment .info .left .consulting-kf a::after {
  content: '';
  position: absolute;
  background: url("../img/jt.png") center no-repeat;
  width: 34px;
  height: 9px;
  top: 13px;
  left: 110px;
}

.content .recruitment .info .right {
  float: left;
  width: 960px;
  height: 480px;
  position: relative;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background: #f5f5f5;
  box-sizing: border-box;
  padding: 10px;
}

.content .recruitment .info .right ul {
  height: 100%;
  overflow: auto;
}

.content .recruitment .info .right ul li {
  background: #fff;
  text-align: left;
  margin-bottom: 10px;
  padding: 10px 50px;
  height: 170px;
}

.content .recruitment .info .right ul li .btn-wrapper {
  float: right;
  padding-top: 20px;
}

.content .recruitment .info .right ul li .btn-wrapper a {
  display: block;
  width: 150px;
  line-height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
  border-radius: 20px;
}

.content .recruitment .info .right ul li .btn-wrapper a.a1:hover {
  background: #ccc;
}

.content .recruitment .info .right ul li .btn-wrapper a.a2 {
  color: #3C8AF6;
  border-color: #3C8AF6;
}

.content .recruitment .info .right ul li .btn-wrapper a.a2:hover {
  background: #3C8AF6;
  color: #fff;
}

.content .recruitment .info .right ul li h4 {
  font-size: 24px;
  color: #333;
}

.content .recruitment .info .right ul li .p1 {
  font-size: 16px;
}

.content .recruitment .info .right ul li .p1 span {
  color: #3C8AF6;
  font-size: 18px;
  font-weight: bold;
}

.content .recruitment .info .right ul li .p2 {
  font-size: 16px;
  color: #555;
  padding-bottom: 20px;
}

.content .recruitment .info .right ul li .p3, .content .recruitment .info .right ul li .p4 {
  font-size: 14px;
  color: #999;
}

.content .recruitment .recruitment-adv {
  background: url("../img/problems_box.png") bottom no-repeat;
  height: 322px;
}

.content .recruitment .recruitment-adv > a {
  display: inline-block;
  background: #3C8AF6;
  color: #fff;
  font-size: 16px;
  padding: 5px 40px;
  border-radius: 20px;
}

.content .recruitment .recruitment-adv > a img {
  vertical-align: middle;
  margin-right: 10px;
}

.content .recruitment .recruitment-adv ul li {
  float: left;
  width: 300px;
  padding-top: 45px;
}

.content .recruitment .recruitment-adv ul li .img {
  padding: 12px 0px;
  width: 60px;
  text-align: center;
  border: 2px solid #cccaf2;
  display: inline-block;
  border-radius: 5px;
}

.content .recruitment .recruitment-adv ul li h2 {
  font-size: 24px;
  color: #4d4d4d;
  padding-top: 10px;
}

.content .recruitment .recruitment-adv ul li .p1 {
  color: #d3d3d3;
  margin-bottom: 20px;
}

.content .recruitment .recruitment-adv ul li .p2, .content .recruitment .recruitment-adv ul li .p3 {
  color: #8d8d8d;
  font-size: 14px;
}

.content .guwen-team {
  text-align: center;
  padding-bottom: 30px;
}

.content .guwen-team > h1 {
  background: url("../img/commontitle_bg.png") center no-repeat;
  font-size: 30px;
  font-weight: bold;
}

.content .guwen-team > h6 {
  font-size: 14px;
  color: #bababa;
  font-weight: 100;
  margin-bottom: 50px;
}

.content .guwen-team .info {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
}

.content .guwen-team .info .left {
  float: left;
  width: 870px;
}

.content .guwen-team .info .left dl {
  width: 870px;
}

.content .guwen-team .info .left dl dt {
  float: left;
  width: 290px;
  height: 160px;
  background: #f1f1f1;
  text-align: left;
  box-sizing: border-box;
  padding: 20px 0 0 30px;
  position: relative;
}

.content .guwen-team .info .left dl dt::before {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 2px solid #ff9535;
  border-top: 2px solid #ff9535;
  left: 10px;
  top: 10px;
}

.content .guwen-team .info .left dl dt a h3 {
  font-size: 20px;
  font-weight: bold;
}

.content .guwen-team .info .left dl dt a h3 img {
  padding-left: 5px;
}

.content .guwen-team .info .left dl dt a h6 {
  font-weight: 100;
  text-transform: uppercase;
  color: #bcbcbc;
}

.content .guwen-team .info .left dl dt a .line {
  border-bottom: 1px dashed #ccc;
  width: 30px;
  margin: 5px 0;
}

.content .guwen-team .info .left dl dt a .slogan {
  color: #9f9f9f;
  font-size: 14px;
  padding-bottom: 10px;
}

.content .guwen-team .info .left dl dt a .team-btn {
  background: #fff;
  padding: 0px 10px 3px;
  color: #aaa;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
}

.content .guwen-team .info .left dl dt:hover .team-btn {
  color: #ff9535;
  border-color: #ff9535;
}

.content .guwen-team .info .left dl dd {
  width: 145px;
  height: 160px;
  float: left;
}

.content .guwen-team .info .left dl dd a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.content .guwen-team .info .left dl dd a img {
  width: 100%;
  height: 100%;
}

.content .guwen-team .info .left dl dd a .hover-show {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  padding-top: 80px;
  opacity: 0;
  transition: all .5s;
}

.content .guwen-team .info .left dl dd a .hover-show h4 {
  color: #616161;
  line-height: 40px;
  width: 130px;
  margin: 0 auto;
  background: #fff;
  border-bottom: 1px dashed #ccc;
  border-radius: 5px 5px 0 0;
}

.content .guwen-team .info .left dl dd a .hover-show p {
  color: #ff8400;
  font-weight: bold;
  line-height: 30px;
  width: 130px;
  margin: 0 auto;
  background: #fff;
  border-radius: 0 0 5px 5px;
}

.content .guwen-team .info .left dl dd:hover .hover-show {
  opacity: 1;
}

.content .guwen-team .info .right {
  float: right;
  width: 290px;
  height: 320px;
  background: #F1F1F1;
}

.content .guwen-team .info .right li {
  width: 145px;
  height: 106px;
  float: left;
  box-sizing: border-box;
  padding-top: 20px;
}

.content .guwen-team .info .right li a {
  color: #444;
}

.content .guwen-team .info .right li a .img {
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
}

.content .guwen-team .info .right li:hover a {
  color: #ff8400;
}

.content .guwen-team .info .right li:nth-of-type(1) {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.content .guwen-team .info .right li:nth-of-type(1) .img {
  background-image: url("../img/icon_loc2.png");
}

.content .guwen-team .info .right li:nth-of-type(1):hover .img {
  background-image: url("../img/icon_loc2_hover.png");
}

.content .guwen-team .info .right li:nth-of-type(2) {
  border-bottom: 1px solid #ccc;
}

.content .guwen-team .info .right li:nth-of-type(2) .img {
  background-image: url("../img/icon_loc3.png");
}

.content .guwen-team .info .right li:nth-of-type(2):hover .img {
  background-image: url("../img/icon_loc3_hover.png");
}

.content .guwen-team .info .right li:nth-of-type(3) {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.content .guwen-team .info .right li:nth-of-type(3) .img {
  background-image: url("../img/icon_loc4.png");
}

.content .guwen-team .info .right li:nth-of-type(3):hover .img {
  background-image: url("../img/icon_loc4_hover.png");
}

.content .guwen-team .info .right li:nth-of-type(4) {
  border-bottom: 1px solid #ccc;
}

.content .guwen-team .info .right li:nth-of-type(4) .img {
  background-image: url("../img/icon_loc5.png");
}

.content .guwen-team .info .right li:nth-of-type(4):hover .img {
  background-image: url("../img/icon_loc5_hover.png");
}

.content .guwen-team .info .right li:nth-of-type(5) {
  border-right: 1px solid #ccc;
}

.content .guwen-team .info .right li:nth-of-type(5) .img {
  background-image: url("../img/icon_loc6.png");
}

.content .guwen-team .info .right li:nth-of-type(5):hover .img {
  background-image: url("../img/icon_loc6_hover.png");
}

.content .guwen-team .info .right li:nth-of-type(6) .img {
  background-image: url("../img/icon_loc7.png");
}

.content .guwen-team .info .right li:nth-of-type(6):hover .img {
  background-image: url("../img/icon_loc7_hover.png");
}

.content .mien {
  background: #f5f5f5;
  text-align: center;
  padding: 50px 0 50px;
  height: 540px;
}

.content .mien h1 {
  background: url("../img/commontitle_bg.png") center no-repeat;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content .mien .title {
  display: inline-block;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  box-shadow: 0px 1px 10px 0px rgba(37, 31, 50, 0.2);
}

.content .mien .title li {
  float: left;
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 10px 20px;
  font-size: 14px;
  color: #747474;
  background: #fff;
  cursor: pointer;
}

.content .mien .title li:not(:last-of-type) {
  border-right: none;
}

.content .mien .title li.active {
  color: #3573ec;
  border-top: 2px solid #3573ec;
}

.content .mien .info {
  position: relative;
}

.content .mien .info > div {
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: opacity .5s;
}

.content .mien .info > div.active {
  z-index: 1;
  opacity: 1;
}

.content .mien .info > div .left {
  float: left;
  width: 384px;
  height: 405px;
  box-sizing: border-box;
}

.content .mien .info > div .right {
  float: left;
  width: 816px;
}

.content .mien .info > div .right li {
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 267px;
  height: 200px;
  box-sizing: border-box;
}

.content .mien .info > div .hover-item {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.content .mien .info > div .hover-item .img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content .mien .info > div .hover-item .img-wrapper img {
  width: 100%;
  height: 100%;
  transition: transform .5s;
}

.content .mien .info > div .hover-item .float-box {
  position: absolute;
  bottom: 5px;
  width: calc(100% - 10px);
  text-align: left;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  box-sizing: border-box;
  padding: 10px;
}

.content .mien .info > div .hover-item .float-box h3 {
  font-size: 16px;
  font-weight: bold;
}

.content .mien .info > div .hover-item:hover img {
  transform: scale(1.1);
}

.content .news-wrapper {
  background: #fff;
  padding: 30px 0;
}

.content .news-wrapper h1 {
  background: url("../img/commontitle_bg.png") center no-repeat;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.content .news-wrapper h6 {
  color: #aaa;
  text-align: center;
  font-weight: 100;
  margin-bottom: 30px;
}

.content .news-wrapper .left {
  float: left;
  width: 860px;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
}

.content .news-wrapper .left .title {
  border-bottom: 1px dashed #eaeaea;
  background-color: #f6f6f6;
}

.content .news-wrapper .left .title > a {
  float: right;
  display: inline-block;
  line-height: 65px;
  margin-right: 20px;
  font-size: 14px;
  color: #777;
}

.content .news-wrapper .left .title > a::after {
  content: '';
  border: 5px solid transparent;
  display: inline-block;
  border-left-color: #777;
  margin-left: 5px;
}

.content .news-wrapper .left .title ul li {
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 65px;
  padding: 0 15px;
  cursor: pointer;
}

.content .news-wrapper .left .title ul li span {
  float: left;
}

.content .news-wrapper .left .title ul li .img {
  display: inline-block;
  width: 16px;
  margin-left: 5px;
  margin-top: 25px;
  height: 16px;
  background: url("../img/arrow_r_4.png") center no-repeat;
  transition: transform .5s;
}

.content .news-wrapper .left .title ul li img {
  margin-left: 5px;
  margin-top: 25px;
}

.content .news-wrapper .left .title ul li.active .s1 {
  color: #165fcb;
}

.content .news-wrapper .left .title ul li.active .img {
  background-image: url("../img/arrow_r_3.png");
  transform: rotate(90deg);
}

.content .news-wrapper .left .news-con {
  position: relative;
  height: 372px;
}

.content .news-wrapper .left .news-con > div {
  opacity: 0;
  position: absolute;
}

.content .news-wrapper .left .news-con > div.active {
  opacity: 1;
  z-index: 2;
}

.content .news-wrapper .left .news-con > div dl {
  float: left;
  width: 429px;
  box-sizing: border-box;
}

.content .news-wrapper .left .news-con > div dl dt {
  background: #f6f6f6;
  padding: 25px;
}

.content .news-wrapper .left .news-con > div dl dt .title-img {
  float: left;
  width: 160px;
  height: 100px;
}

.content .news-wrapper .left .news-con > div dl dt .text {
  padding-left: 170px;
}

.content .news-wrapper .left .news-con > div dl dt .text h5 {
  font-size: 16px;
  font-weight: 100;
  color: #777;
  padding: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content .news-wrapper .left .news-con > div dl dt .text .line {
  width: 20px;
  height: 1px;
  background: #ccc;
}

.content .news-wrapper .left .news-con > div dl dt .text .date {
  color: #ccc;
  padding: 5px 0;
}

.content .news-wrapper .left .news-con > div dl dt .text .text-con {
  color: #aaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content .news-wrapper .left .news-con > div dl dd {
  padding: 0 35px;
  position: relative;
}

.content .news-wrapper .left .news-con > div dl dd a {
  font-size: 14px;
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  color: #909090;
}

.content .news-wrapper .left .news-con > div dl dd a .date {
  float: right;
  color: #aaa;
}

.content .news-wrapper .left .news-con > div dl dd a p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content .news-wrapper .left .news-con > div dl dd::before {
  content: '';
  border: 5px solid transparent;
  display: inline-block;
  border-left-color: #777;
  position: absolute;
  left: 20px;
  top: 21px;
}

.content .news-wrapper .left .news-con > div dl dd:not(:last-of-type) a {
  border-bottom: 1px dashed #ccc;
}

.content .news-wrapper .right {
  float: right;
  width: 320px;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
}

.content .news-wrapper .right .title {
  border-bottom: 1px dashed #eaeaea;
  padding-left: 20px;
}

.content .news-wrapper .right .title > a {
  float: right;
  display: inline-block;
  line-height: 65px;
  margin-right: 20px;
  font-size: 14px;
  color: #777;
}

.content .news-wrapper .right .title > a::after {
  content: '';
  border: 5px solid transparent;
  display: inline-block;
  border-left-color: #777;
  margin-left: 5px;
}

.content .news-wrapper .right .title span {
  line-height: 65px;
  font-size: 15px;
  vertical-align: middle;
  color: #515151;
}

.content .news-wrapper .right .title img {
  vertical-align: middle;
}

.content .news-wrapper .right dl .num {
  font-size: 14px;
  float: left;
  background: #5b90de;
  color: #fff;
  line-height: 22px;
  width: 22px;
  text-align: center;
  border-radius: 50%;
  position: relative;
}

.content .news-wrapper .right dl .num::after {
  content: '';
  display: block;
  border: 5px solid transparent;
  border-left-color: #5b90de;
  position: absolute;
  right: -8px;
  bottom: 4px;
}

.content .news-wrapper .right dl .text {
  padding-left: 30px;
}

.content .news-wrapper .right dl dt {
  padding: 11px 15px;
}

.content .news-wrapper .right dl dt .text h2 {
  font-size: 15px;
  font-weight: bold;
}

.content .news-wrapper .right dl dt .text .line {
  background: #ccc;
  width: 20px;
  height: 1px;
}

.content .news-wrapper .right dl dt .text .text-a {
  line-height: 25px;
  color: #909090;
}

.content .news-wrapper .right dl dd {
  padding: 15px;
  border-top: 1px dashed #ccc;
  font-size: 14px;
}

.content .news-wrapper .right dl dd a {
  display: block;
  color: #909090;
}

.content .news-wrapper .right dl dd .num {
  background: #a2c285;
}

.content .news-wrapper .right dl dd .num::after {
  border-left-color: #a2c285;
}
