.service-list{
    float: left;
    width: 260px;
    text-align: center;
    background-color: #fff;
    padding: 30px 0;
    margin-right: 15px;
    li{
        margin: 2px 0;
        color: #333;
        width: 100%;
        padding: 18px 0;
        cursor: pointer;
        user-select: none;
        &.active,&:hover{
            background: rgb(44, 157, 255);
            color: #fff;
        }
    }
}