.topbar {
  position: fixed;
  top: 0;
  z-index: 30;
  background: #fff;
  width: 100%;
  height: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .3rem;
  box-sizing: border-box;
}

.topbar .right img {
  width: .8rem;
}

.topbar .logo {
  margin-top: .2rem;
}

.topbar .logo img {
  height: 1rem;
}

.swiper-banner {
  overflow: hidden;
}

.content {
  margin-top: -.2rem;
  border-radius: .2rem .2rem 0 0;
  background: #fff;
  position: relative;
  z-index: 3;
  padding-top: .8rem;
}

.content .c-title {
  font-size: .5rem;
  font-weight: bold;
  padding: .5rem 0 .3rem;
}

.content .service-list {
  display: flex;
  flex-wrap: wrap;
}

.content .service-list li {
  width: 20%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: .5rem;
}

.content .service-list li img {
  width: 73%;
  display: block;
}

.content .service-list li p {
  font-size: .3rem;
  color: #555;
  padding-top: .1rem;
}

.content .service-list li.small img {
  width: 50%;
}

.content .hot {
  padding: 0 .2rem;
}

.content .hot .swiper-hot {
  overflow: hidden;
}

.content .hot .swiper-hot .swiper-slide {
  background-size: 100% 100%;
  width: 2.5rem;
  height: 3rem;
  padding: .35rem;
  text-align: center;
}

.content .hot .swiper-hot .swiper-slide a {
  color: #fff;
}

.content .hot .swiper-hot .swiper-slide a .p1 {
  padding-top: .1rem;
  font-size: .4rem;
}

.content .hot .swiper-hot .swiper-slide a .p2 {
  font-size: .35rem;
  padding: .3rem 0;
}

.content .hot .swiper-hot .swiper-slide a .p3 {
  font-size: .3rem;
  margin: 0 .2rem;
  padding: .1rem 0;
  border-radius: .5rem;
  background-color: #fff;
  background-position: 1.75rem .18rem;
  background-repeat: no-repeat;
  background-size: .15rem auto;
}

.content .hot .swiper-hot .swiper-slide.slide-red {
  background-image: url("../img/im_bgb_red.png");
}

.content .hot .swiper-hot .swiper-slide.slide-red .p3 {
  color: #d7345c;
  background-image: url("../img/icon_more_red.png");
}

.content .hot .swiper-hot .swiper-slide.slide-bule {
  background-image: url("../img/im_bgb_bule.png");
}

.content .hot .swiper-hot .swiper-slide.slide-bule .p3 {
  color: #0075ff;
  background-image: url("../img/icon_more_bule.png");
}

.content .hot .swiper-hot .swiper-slide.slide-green {
  background-image: url("../img/im_bgb_green.png");
}

.content .hot .swiper-hot .swiper-slide.slide-green .p3 {
  color: #00c57d;
  background-image: url("../img/im_bgb_green.png");
}

.content .hot .swiper-hot .swiper-slide.slide-pur {
  background-image: url("../img/im_bgb_pur.png");
}

.content .hot .swiper-hot .swiper-slide.slide-pur .p3 {
  color: #6522da;
  background-image: url("../img/icon_more_pur.png");
}

.content .adv {
  padding: 0 .2rem;
}

.content .adv .info {
  display: flex;
  flex-wrap: wrap;
}

.content .adv .info li {
  display: flex;
  width: 50%;
  align-items: center;
  margin-bottom: .5rem;
}

.content .adv .info li img {
  width: .7rem;
}

.content .adv .info li .text {
  padding: 0 .2rem;
}

.content .adv .info li .text .p1 {
  font-size: .35rem;
  font-weight: bold;
  padding: .2rem 0;
}

.content .adv .info li .text .p2 {
  font-size: .3rem;
  color: #999;
}

.content .solution {
  background-image: url("../img/change_bot_bg1.jpg");
  background-size: 100% 100%;
  margin: 0 .2rem;
}

.content .solution .text {
  padding: .5rem 3rem .3rem .5rem;
  color: #c07465;
}

.content .solution .text .p1 {
  font-size: .5rem;
  font-weight: bold;
}

.content .solution .text .p2 {
  font-size: .35rem;
  padding-top: .2rem;
}

.content .partners {
  padding: 0 .2rem;
}

.content .partners .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content .partners .info img {
  width: 3.1rem;
  margin-bottom: .1rem;
}

.content .news .c-title {
  padding-left: .2rem;
}

.content .news .news-title {
  display: flex;
  font-size: .5rem;
  justify-content: space-around;
}

.content .news .scroll-bar {
  background: #ccc;
  height: 1px;
  position: relative;
  margin: .2rem 0 .5rem;
}

.content .news .scroll-bar .line {
  position: absolute;
  width: 1rem;
  height: .1rem;
  background: #2faaff;
  top: -.04rem;
  left: .7rem;
  transition: left .3s;
}

.content .news .news-info {
  overflow: hidden;
}

.content .news .news-info .swiper-slide ul {
  margin: 0 .2rem;
}

.content .news .news-info .swiper-slide ul li {
  padding: .3rem;
  border-bottom: 1px solid #e0e0e0;
}

.content .news .news-info .swiper-slide ul li a .title {
  font-size: .4rem;
  color: #333;
}

.content .news .news-info .swiper-slide ul li a .date-wrapper {
  color: #999;
  font-size: .35rem;
  display: flex;
  justify-content: space-between;
  padding-top: .2rem;
}

.content .news .news-info .swiper-slide ul li a .date-wrapper .label {
  border: 1px solid #ccc;
  padding: .05rem .2rem;
}

.content .news .more {
  text-align: center;
}

.content .news .more a {
  color: #2faaff;
  display: block;
  font-size: .45rem;
  line-height: 1.7rem;
}

footer {
  background: #eee;
  font-size: .3rem;
  text-align: center;
  color: #999;
  line-height: 1.5rem;
  padding-bottom: 1.5rem;
}

footer a {
  color: #999;
  font-size: .3rem;
}
