.content{
    background: #2345c1 url('../img/bg_banner.png') center 1.5rem no-repeat;
    background-size: 100% auto;
    padding: 6.5rem .5rem 2.5rem;
    // 核名选框
    .form-wrapper{
        >div{
            margin: .3rem 0;
            font-size: .4rem;
            color: #666;
            &.address{
                background: #fff;
                border-radius: .2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 1.2rem;
                padding: 0 .5rem;
                img{
                    width: .4rem;
                }
            }
            &.zihao{
                input{
                    height: 1.2rem;
                    border: none;
                    outline: none;
                    border-radius: .2rem;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 0 .5rem;
                    &::placeholder{
                        color: #666;
                    }
                }
            }
            &.drop-down-wrapper{
                display: flex;
                justify-content: space-between;
                .drop-down{
                    width: 48%;
                    position: relative;
                    .show-box{
                        background: #fff;
                        height: 1.2rem;
                        border-radius: .2rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 .5rem;
                        img{
                            width: .4rem;
                        }
                    }
                    >ul{
                        position: absolute;
                        top: 1.3rem;
                        background: #fff;
                        box-shadow: 0 0 10px rgba(0,0,0,.1);
                        width: 100%;
                        padding: .5rem 0;
                        border-radius: .2rem;
                        display: none;
                        li{
                            text-align: center;
                            line-height: 1rem;
                        }
                    }
                }
            }
            &.form-btn{
                background: linear-gradient(to right,#5efec3, #009edb);
                color: #fff;
                line-height: 1.2rem;
                border-radius: .2rem;
                text-align: center;
                font-size: .5rem;
            }
        }
    }
    // 核名注意事项
    .attention{
        padding-top: 1rem;
        .title{
            font-size: .5rem;
            text-align: center;
            color: #fff;
            margin-bottom: .5rem;
        }
        .jump{
            display: flex;
            justify-content: space-between;
            a{
                color: #fff;
                font-size: .4rem;
                display: inline-block;
                width: 30%;
                line-height: 1.2rem;
                text-align: center;
                border-radius: .1rem;
                &:nth-of-type(1){
                    background-color: #7358ff;
                }
                &:nth-of-type(2){
                    background-color: #2cd7fb;
                }
                &:nth-of-type(3){
                    background-color: #008dff;
                }
            }
        }
        .vice-title{
            font-size: .4rem;
            color: #fff;
            border-left: .08rem solid #2ba0ff;
            margin: .8rem 0 .3rem;
            padding-left: .3rem;
        }
        .text-box{
            background-color: #fff;
            border-radius: .2rem;
            padding: .3rem;
            font-size: .35rem;
            height: 6rem;
            overflow-y: scroll;
            color: #666;
            p{
                line-height: .55rem;
                padding: .15rem 0;
            }
        }
    }
}
//地址选框
.fixed-box{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.3);
    font-size: .4rem;
    z-index: -1;
    transition: all .5s;
    .box-wrapper{
        position: absolute;
        bottom: -7.5rem;
        width: 100%;
        transition: bottom .5s;
        .btn-wrapper{
            background: #eee;
            width: 100%;
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            padding: .3rem .5rem;
            span{
                border: 1px solid #ccc;
                background-color: #fff;
                border-radius: .1rem;
                padding: 0 .3rem;
                line-height: .7rem;
                &.determine{
                    border-color: #007aff;
                    background-color: #007aff;
                    color: #fff;
                }
            }
        }
        .address-box{
            background: #f8f8f8;
            display: flex;
            justify-content: space-around;
            padding: .5rem 0;
            position: relative;
            .active-box{
                position: absolute;
                height: 1rem;
                border-top: 1px solid #ccc;
                border-bottom:  1px solid #ccc;
                width: 100%;
                top: 50%;
                margin-top: -.5rem;
            }
            .swiper-sheng,
            .swiper-shi{
                width: 48%;
                text-align: center;
                height: 5rem;
                overflow: hidden;
                .swiper-slide{
                    height: 1rem;
                    line-height: 1rem;
                    color: #666;
                    &.swiper-slide-active{
                        color: #007aff;
                    }
                }
            }
        }
    }
    &.active{
        z-index: 30;
        .box-wrapper{
            bottom: 0;
        }
    }
}