* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

input {
    font-size: .4rem;
}


/* header */

.topbar {
    height: 1rem;
    padding: .1rem 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    line-height: .8rem;
}

.topbar .logo {
    float: left;
}

.topbar .logo img {
    width: .8rem;
}

.topbar>p {
    float: right;
    color: #aaa;
    font-size: .3rem;
}

.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* content */

.detection h2 {
    text-align: center;
    color: rgb(20, 184, 186);
    padding: .5rem 0;
    font-size: .6rem;
}

.radio-box {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    color: #777;
    font-size: .4rem;
}

.radio-box p {
    width: 25%;
}

.radio-box ul {
    width: 80%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.input-wrapper {
    text-align: center;
    font-size: .4rem;
    padding-top: .2rem;
}

.input-wrapper>div {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 0 .5rem;
    margin: .15rem 0;
    border-radius: .2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.input-wrapper>p {
    background-color: rgb(20, 184, 186);
    color: #fff;
    margin: .3rem 1.4rem;
    padding: 10px 0;
    border-radius: .2rem;
}

.input-wrapper input {
    border: none;
    outline: none;
    padding: 10px;
}

footer {
    padding-top: 1rem;
}

footer p {
    text-align: center;
    font-size: .3rem;
    color: #aaa;
    padding: 20px;
    border-top: 1px solid #ccc;
}