.banner_bot{
    box-shadow: 5px 0 5px rgba(0,0,0,.1);
    &>div{
        padding-top: 20px;
        ul{
            float: left;
            li{
                float: left;
                padding: 0 100px;
                p{
                    font-size: 18px;
                    margin: 0;
                    span{
                        font-size: 30px;
                    }
                }
                div{
                    img{
                        vertical-align: middle;
                    }
                    span{
                        color: #888;
                    }
                }
                &.line{
                    width: 1px;
                    height: 60px;
                    transform: rotate(15deg);
                    background: #dedede;
                    padding: 0;
                    margin: 10px 0;
                }
            }
        }
        .right{
            float: right;
            padding-top: 15px;
            p{
                font-size: 26px;
                color: #2f9dfa;
            }
        }
    }
    
}