* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a,
a:link,
a:hover {
  text-decoration: none;
}
html {
  overflow-x: hidden;
}
header {
  line-height: 70px;
  padding: 40px;
  z-index: 999;
  position: fixed;
  width: 100%;
  min-width: 1350px;
  box-sizing: border-box;
  transition: all .5s;
}
header.header-hover {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
header .logo {
  float: left;
}
header .logo a img {
  vertical-align: middle;
}
header nav {
  float: right;
}
header nav ul li {
  float: left;
  margin: 0 10px;
}
header nav ul li a {
  color: #fff;
}
@keyframes swiperScroll {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  45% {
    margin-top: -50px;
  }
  55% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0;
  }
}
.swiper-container {
  width: 100%;
  min-width: 1350px;
  height: 1000px;
  overflow: hidden;
  top: 0;
  left: 0;
}
.swiper-container .swiper-wrapper .swiper-slide img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.swiper-bot {
  position: relative;
  width: 900px;
  height: 50px;
  left: 0;
  right: 0;
  margin: -50px auto;
  background-color: #fff;
  z-index: 3;
  padding: 0 20px;
}
.swiper-bot .swiper-phone {
  float: left;
}
.swiper-bot .swiper-phone {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.swiper-bot .swiper-phone img {
  vertical-align: bottom;
  margin-right: 10px;
}
.swiper-bot .swiper-scroll {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50px;
  animation: swiperScroll 2.5s cubic-bezier(1, 0.01, 0.01, 1) infinite;
}
.swiper-bot .swiper-btn {
  position: absolute;
  right: 0;
  width: 200px;
}
.swiper-bot .swiper-btn .swiper-button-next,
.swiper-bot .swiper-btn .swiper-button-prev {
  float: left;
  cursor: pointer;
  padding: 10px 30px;
}
.content {
  min-width: 1350px;
}
.content .advantage {
  position: relative;
  width: 100%;
  text-align: center;
  height: 400px;
}
.content .advantage .advantage-item {
  display: inline-block;
  margin: 80px 10px 10px;
  width: 300px;
}
.content .advantage .advantage-item .item-a img {
  width: 80px;
  height: 80px;
}
.content .advantage .advantage-item .item-b h3,
.content .advantage .advantage-item .item-b p {
  margin: 5px 0 10px;
}
.content .advantage .advantage-item .item-b a {
  display: inline-block;
  background-color: #fd570d;
  color: #fff;
  padding: 5px 30px;
  border-radius: 5px;
}
.content .recommend {
  background-color: #000;
  height: 400px;
  padding-top: 100px;
}
.content .recommend .rec-left {
  float: left;
  width: 50%;
  overflow: hidden;
}
.content .recommend .rec-left .rec-swiper-left {
  position: relative;
  width: 800px;
  height: 914px;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
}
.content .recommend .rec-right {
  float: left;
  width: 50%;
  overflow: hidden;
  margin-top: 100px;
  padding-left: 50px;
  box-sizing: border-box;
}
.content .recommend .rec-right .rec-swiper-right .swiper-wrapper {
  position: relative;
  height: 400px;
}
.content .recommend .rec-right .rec-swiper-right .swiper-wrapper .swiper-slide {
  position: absolute;
  color: #fff;
  opacity: 0;
  transition: all .3s;
}
.content .recommend .rec-right .rec-swiper-right .swiper-wrapper .swiper-slide.active {
  opacity: 1;
  z-index: 3;
}
.content .recommend .rec-right .rec-swiper-right .swiper-wrapper .swiper-slide h1,
.content .recommend .rec-right .rec-swiper-right .swiper-wrapper .swiper-slide h2 {
  padding: 10px 0;
}
.content .recommend .rec-right .rec-swiper-right .swiper-wrapper .swiper-slide h2 {
  color: red;
}
.content .recommend .rec-right .rec-swiper-right .swiper-wrapper .swiper-slide ul li {
  padding: 5px 0;
}
.content .service-list {
  padding-top: 100px;
  height: 450px;
}
.content .service-list h3 {
  color: #555;
}
.content .service-list ul {
  height: 200px;
  padding-top: 50px;
}
.content .service-list ul li {
  float: left;
  margin: 30px 15px 10px 30px;
  border-left: 1px solid #ccc;
}
.content .service-list ul li a {
  color: #555;
  padding: 0 15px;
}
.content .service-content-wrapper {
  background-color: #eee;
  padding: 50px 0;
}
.content .service-content-wrapper .service-content {
  width: 1200px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.content .service-content-wrapper .service-content::after {
  content: '';
  display: block;
  clear: both;
}
.content .service-content-wrapper .service-content ul {
  width: 350px;
  float: left;
}
.content .service-content-wrapper .service-content ul:not(:last-of-type) {
  margin-right: 75px;
}
.content .service-content-wrapper .service-content ul li {
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 50px;
  transition: all .3s;
}
.content .service-content-wrapper .service-content ul li:hover {
  transform: translateY(-20px) scale(1.1, 1.1);
}
.content .service-content-wrapper .service-content ul li a {
  color: #777;
}
.content .service-content-wrapper .service-content ul li a img {
  width: 100%;
  height: 200px;
}
.content .service-content-wrapper .service-content ul li a h4 {
  color: #333;
  padding: 20px 0;
}
.content .service-content-wrapper .service-content ul li a .information-btn {
  background-color: #333;
  color: #fff;
  width: 200px;
  display: inline-block;
  padding: 10px;
  margin: 15px 0;
  border-radius: 10px;
}
.content .news {
  text-align: center;
  padding-top: 50px;
  background-image: url('../img/news_bg.jpg');
  color: #fff;
}
.content .news .news-title {
  padding-bottom: 30px;
}
.content .news .news-title .line {
  width: 80px;
  height: 2px;
  background-color: #ccc;
  display: inline-block;
}
.content .news .news-title .vice-title {
  padding-bottom: 15px;
}
.content .news .news-swiper {
  width: 1000px;
  height: 250px;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
}
.content .news .news-swiper .swiper-wrapper .swiper-slide {
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 0 10px;
}
.content .news .news-swiper .swiper-wrapper .swiper-slide p a {
  color: #fff;
}
.content .news .news-swiper .swiper-wrapper .swiper-slide a {
  color: #555;
}
.content .news .news-swiper .swiper-wrapper .swiper-slide a img {
  width: 100%;
  height: 180px;
}
.content .news .news-swiper .swiper-wrapper .swiper-slide a p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 15px;
  color: #fff;
}
.content .news .news-btn {
  padding: 50px 0;
}
.content .news .news-btn a {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 20px;
}
.why-wrap {
  width: 100%;
  min-width: 1350px;
  height: 160px;
}
.why-wrap .why-container {
  width: 1200px;
  height: 100px;
  margin: auto;
  padding: 30px 0;
}
.why-wrap .why-container .why-content {
  width: 300px;
  height: 100px;
  float: left;
}
.why-wrap .why-container .why-content .content-a {
  padding-left: 50px;
  float: left;
}
.why-wrap .why-container .why-content .content-b {
  float: left;
  margin-left: 10px;
  margin-top: 25px;
}
.why-wrap .why-container .why-content .content-b h3 {
  font-weight: 500;
}
.why-wrap .why-container .why-content .content-b p {
  font-size: 14px;
  color: #4f4f4f;
  padding-top: 25px;
}
.footer-wrap {
  width: 100%;
  min-width: 1400px;
  height: 370px;
  background: #1d1d1d;
}
.footer-wrap .footer {
  height: 230px;
  margin: auto;
  padding: 60px 0 30px 0;
}
.footer-wrap .footer .footer-left {
  width: 30%;
  float: left;
}
.footer-wrap .footer .footer-left img {
  margin-left: 170px;
}
.footer-wrap .footer .footer-centre {
  width: 40%;
  height: 260px;
  float: left;
}
.footer-wrap .footer .footer-centre .footer-nav {
  height: 30px;
}
.footer-wrap .footer .footer-centre .footer-nav li {
  float: left;
  width: 85px;
  line-height: 30px;
  color: #e4e4e4;
  text-align: center;
  border-bottom: 1.5px solid #6F6F6F;
}
.footer-wrap .footer .footer-centre .footer-nav li:hover {
  border-bottom: 1.5px solid #ffffff;
}
.footer-wrap .footer .footer-centre .footer-nav li a {
  color: #f0f0f0;
  font-size: 15px;
}
.footer-wrap .footer .footer-centre .footer-link {
  height: 80px;
  padding: 30px 0 0 40px;
}
.footer-wrap .footer .footer-centre .footer-link ul {
  font-size: 14px;
  float: left;
  width: 95px;
  text-align: left;
}
.footer-wrap .footer .footer-centre .footer-link ul:nth-child(5) {
  display: none;
}
.footer-wrap .footer .footer-centre .footer-link a {
  color: #e4e4e4;
}
.footer-wrap .footer .footer-centre .footer-about {
  margin-top: 30px;
}
.footer-wrap .footer .footer-centre .footer-about span {
  color: #e4e4e4;
  display: block;
}
.footer-wrap .footer .footer-centre .footer-about a {
  color: #ffffff;
  font-size: 14px;
}
.footer-wrap .footer .footer-right {
  width: 30%;
  height: 250px;
  float: left;
}
.footer-wrap .footer .footer-right .footer-ph {
  color: #e4e4e4;
  font-size: 15px;
  margin-top: 10px;
}
.footer-wrap .footer .footer-right .footer-ph li {
  text-align: left;
}
.footer-wrap .footer-boom {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #555555;
  font-size: 14px;
  float: left;
  color: #e4e4e4;
}
.footer-wrap .footer-boom p {
  text-align: center;
}
.footer-wrap .footer-boom a {
  color: white;
}
.footer-wrap .footer-boom img {
  width: 80px;
  height: 20px;
}
aside {
  position: fixed;
  bottom: 200px;
  right: 0;
  z-index: 999;
}
aside ul li {
  width: 631px;
  color: #fff;
  background-color: #fc560c;
  margin-bottom: 1px;
  margin-right: -558px;
  transition: all .3s;
}
aside ul li.aside-phone:hover,
aside ul li.aside-wx:hover {
  transform: translateX(-200px);
}
aside ul li.aside-qq:hover {
  transform: translateX(-160px);
}
aside ul li.aside-input:hover {
  transform: translateX(-558px);
}
aside ul li.aside-wx {
  position: relative;
}
aside ul li.aside-wx .wx-code {
  position: absolute;
  left: -110px;
  top: -15px;
  width: 100px;
  height: 100px;
  opacity: 0;
  transform: translateX(110px);
  transition: translateX .1s , opacity .5s;
}
aside ul li.aside-wx .wx-code img {
  width: 100%;
  height: 100%;
}
aside ul li.aside-wx:hover .wx-code {
  opacity: 1;
  transform: translateX(0);
}
aside ul li img {
  vertical-align: middle;
}
aside ul li span {
  font-size: 22px;
  padding: 0 20px;
  vertical-align: middle;
}
aside ul li input {
  border: none;
  outline: none;
  padding: 10px 20px;
  vertical-align: middle;
}
aside ul li input:first-of-type {
  margin-left: 20px;
}
aside ul li .aside-btn {
  background-color: white;
  color: #fc560c;
  padding: 3px 20px;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
}
