*{
    padding: 0;
    margin: 0;
}
.header{
    height: 15vw;
    background-color: rgb(45,132,255);
    color: #fefefe;
    text-align: center;
    line-height: 15vw;
    font-size: 7vw;
    width: 100vw;
}
.content{
    box-sizing: border-box;
    padding: 5px;
    width: 100vw;
    background-color: #ccc;
}
.content ul{
    display: flex;
    flex-direction: column;
}
.content ul>li{
    background-color: #fff;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content>ul>li h4{
    color: #fd924b;
    padding-top: 40px;
    margin-bottom: 30px;
    font-size: 4vw;
}
.content>ul>li p{
    font-size: 3vw;
    margin-bottom: 20px;
}
.content>ul>li img{
    width: 80%;
}
.footer {
    height: 7vh;
    text-align: center;
    line-height: 7vh;
    background-color: rgb(45,132,255);
    color: #fefefe;
    font-size: 20px;
}
.footer > span.contact{
    position: relative;
}
.footer > span.contact::before{
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 2px;
    left: -30px;
    background-image: url('./images/phone.png');
    background-size: 100% 100%;
}
.footer > a{
    color: #fefefe;
    text-decoration: none;
}