@import './color.scss';
// banner
.banner{
    background: url('../img/banner_case.jpg');
    height: 500px;
    background-size: cover;
    text-align: center;
    box-sizing: border-box;
    padding-top: 130px;
    color: #fff;
    h1{
        font-size: 45px;
        margin-bottom: 10px;
        span{
            display: inline-block;
            width: 12px;
            height: 12px;
            background: #fff;
            border-radius: 50%;
            vertical-align: middle;
            margin: 0 20px;
        }
    }
    h5{
        font-size: 20px;
        font-weight: 100;
    }
    ul{
        padding-top: 65px;
        li{
            display: inline-block;
            padding: 0 50px;
            &:not(:last-of-type){
                border-right: 1px solid #fff;
            }
            .p1{
                text-align: left;
                font-size: 18px;
            }
            .p2{
                font-size: 90px;
                line-height: 80px;
            }
        }
    }
}
.banner-bot{
    background: #ededed;
    padding: 10px 0;
    .right{
        float: right;
        display: inline-block;
        line-height: 45px;
        background: #fff;
        padding: 0 30px;
        color: $mainColor;
        border-radius: 3px;
        img,span{
            vertical-align: middle;
        }
    }
    .left{
        a,span{
            display: inline-block;
            line-height: 45px;
        }
        a.left-home{
            background: url('../img/banner_top_h.png') center no-repeat;
            padding-left: 60px;
            color: #555;
            &:hover{
                color: $mainColor;
                background-image: url('../img/banner_bot_h1.png');
            }
        }
        a.active{
            color: $mainColor;
        }
    }
}
// content
.content{
    padding: 80px 0;
    ul{
        li{
            float: left;
            width: 380px;
            margin: 10px;
            .img{
                height: 228px;
                overflow: hidden;
                border-radius: 3px;
                img{
                    width: 100%;
                    height: 100%;
                    transition: all .5s;
                }
            }
            h3{
                line-height: 50px;
            }
            .text{
                color: #777;
                line-height: 25px;
                white-space: normal;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            .tag{
                border-left: 3px solid $mainColor;
                padding-left: 10px;
                margin-top: 20px;
                color: #999;
                line-height: 20px;
                span{
                    margin: 0 5px;
                }
            }
            &:hover{
                h3{
                    color: $mainColor;
                }
                .img{
                    img{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}