@import './color.scss';
// banner
.banner{
    background: url('../img/banner_electricity.jpg');
    height: 420px;
    background-size: cover;
    text-align: center;
    box-sizing: border-box;
    padding-top: 180px;
    color: #fff;
    h1{
        font-size: 45px;
        margin-bottom: 10px;
        span{
            display: inline-block;
            width: 12px;
            height: 12px;
            background: #fff;
            border-radius: 50%;
            vertical-align: middle;
            margin: 0 20px;
        }
    }
    h5{
        font-size: 20px;
        font-weight: 100;
    }
}
.banner-bot{
    background: #ededed;
    padding: 10px 0;
    .right{
        float: right;
        display: inline-block;
        line-height: 45px;
        background: #fff;
        padding: 0 30px;
        color: $mainColor;
        border-radius: 3px;
        img,span{
            vertical-align: middle;
        }
    }
    .left{
        a,span{
            display: inline-block;
            line-height: 45px;
        }
        a.left-home{
            background: url('../img/banner_top_h.png') center no-repeat;
            padding-left: 60px;
            color: #555;
            &:hover{
                color: $mainColor;
                background-image: url('../img/banner_bot_h1.png');
            }
        }
        a.active{
            color: $mainColor;
        }
    }
}
// content
.content{
    // 定制方案
    .plan{
        padding: 50px 0;
        .title{
            text-align: center;
            margin-bottom: 50px;
            h5{
                font-weight: 100;
                color: #777;
            }
            .line{
                display: inline-block;
                width: 80px;
                height: 1px;
                background: #ccc;
            }
        }
        ul{
            li{
                float: left;
                width: 400px;
                box-sizing: border-box;
                padding: 30px 20px;
                transition: box-shadow .5s;
                &:nth-of-type(2n+1){
                    background: #f8f8f8;
                }
                &:nth-of-type(2n){
                    background: #f0f0f0;
                }
                img,h3{
                    padding-left: 10px;
                }
                p{
                    line-height: 25px;
                    height: 75px;
                    color: #777;
                    padding-top: 10px;
                }
                &:hover{
                    box-shadow: 0 0 15px rgba(0,0,0,.2);
                    position: relative;
                }
            }
        }
    }
    // 功能列表
    .func-list{
        padding-bottom: 80px;
        >img{
            display: block;
            width: 100%;
        }
        .container{
            margin-top: -33px;
            position: relative;
            .list-title{
                box-shadow: 0 0 10px rgba(0,0,0,.1);
                margin-bottom: 50px;
                li{
                    float: left;
                    width: 300px;
                    background: #fff;
                    text-align: center;
                    padding: 25px 0;
                    color: #666;
                    cursor: pointer;
                    box-shadow: 0 0 3px rgba(0,0,0,.1);
                    &:hover,
                    &.active{
                        background: $mainColor;
                        color: #fff;
                    }
                }
            }
            .list-info{
                >div{
                    display: none;
                    &.qtgn{
                        display: block;
                    }
                }
                table{
                    width: 100%;
                    margin-bottom: 30px;
                    tr,td,th{
                        border: 1px solid #fff;
                        line-height: 25px;
                        padding: 12px 30px;
                    }
                    tr:nth-of-type(2n+1){
                        background: #f0f0f0;
                    }
                    tr:nth-of-type(2n){
                        background: #f8f8f8;
                    }
                    td{
                        font-size: 12px;
                        color: #666;
                        span{
                            font-weight: bold;
                            color: #333;
                        }
                    }
                }
                .gmwd{
                    dl{
                        dt{
                            margin-top: 5px;
                            padding: 0 100px;
                            line-height: 70px;
                            position: relative;
                            cursor: pointer;
                            background: #f0f0f0 url('../img/qadd.png') 1150px center no-repeat;
                            &::before{
                                content: '';
                                width: 70px;
                                height: 100%;
                                position: absolute;
                                background: #D90000 url('../img/quesico.png') center no-repeat;
                                left: 0;
                                top: 0;
                            }
                        }
                        dd{
                            line-height: 25px;
                            padding: 15px 100px;
                            background: #f8f8f8;
                            position: relative;
                            color: #666;
                            display: none;
                            &::before{
                                content: '';
                                width: 70px;
                                height: 100%;
                                position: absolute;
                                background: #666 url('../img/answico.png') center no-repeat;
                                left: 0;
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}