@import './color.scss';
// banner
.banner{
    background: url('../img/banner_news.jpg');
    height: 420px;
    background-size: cover;
    text-align: center;
    box-sizing: border-box;
    padding-top: 180px;
    color: #fff;
    h1{
        font-size: 45px;
        margin-bottom: 10px;
        span{
            display: inline-block;
            width: 12px;
            height: 12px;
            background: #fff;
            border-radius: 50%;
            vertical-align: middle;
            margin: 0 20px;
        }
    }
    h5{
        font-size: 20px;
        font-weight: 100;
    }
}
.banner-bot{
    background: #ededed;
    padding: 10px 0;
    .right{
        float: right;
        display: inline-block;
        line-height: 45px;
        background: #fff;
        padding: 0 30px;
        color: $mainColor;
        border-radius: 3px;
        img,span{
            vertical-align: middle;
        }
    }
    .left{
        a,span{
            display: inline-block;
            line-height: 45px;
        }
        a.left-home{
            background: url('../img/banner_top_h.png') center no-repeat;
            padding-left: 60px;
            color: #555;
            &:hover{
                color: $mainColor;
                background-image: url('../img/banner_bot_h1.png');
            }
        }
        a.active{
            color: $mainColor;
        }
    }
}
// content
.content{
    padding: 50px 0;
    .title{
        margin-bottom: 30px;
        margin-left: 10px;
        a{
            display: inline-block;
            background: #fff;
            float: left;
            padding: 15px 35px;
            box-shadow: 0px 0px 5px rgba(0,24,129,0.1);
            border: 2px solid transparent;
            &.active{
                border-color: #478ce2;
                color: #478ce2;
            }
        }
    }
    .info{
        li{
            float: left;
            width: 270px;
            margin: 15px;
            box-shadow: 3px 8px 30px -10px rgba(0,24,129,0.2);
            position: relative;
            box-sizing: border-box;
            &:hover{
                .border-t,.border-b{
                    width: 100%;
                }
                .border-l,.border-r{
                    height: 100%;
                }
            }
            .border-t{
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 2px;
                background: #478ce2;
                transition: width .3s;
            }
            .border-r{
                position: absolute;
                top: 0;
                right: 0;
                width: 2px;
                height: 0%;
                background: #478ce2;
                transition: height .3s;
                transition-delay: .3s;
            }
            .border-b{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 0%;
                height: 2px;
                background: #478ce2;
                transition: width .3s;
            }
            .border-l{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 2px;
                height: 0%;
                background: #478ce2;
                transition: height .3s;
                transition-delay: .3s;
            }
            .img{
                height: 95px;
                img{
                    width: 100%;
                    height: 100%;
                    opacity: .6;
                }
            }
            .text{
                padding: 10px 20px;
                .author{
                    background: url('../img/news_ico1.jpg') left no-repeat;
                    background-size: 100% 100%;
                    display: inline-block;
                    min-width: 80px;
                    padding:0 5px 10px;
                    text-align: center;
                    line-height: 25px;
                    color: #fff;
                }
                .item-title{
                    margin: 5px 0 10px;
                    a{
                        display: inline-block;
                        line-height: 25px;
                        height: 50px;
                        color: #555;
                        white-space: normal;
                        -webkit-line-clamp: 2;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
                .date-wrap{
                    background: url('../img/news_ico2.png') right center no-repeat;
                    img,span{
                        vertical-align: middle;
                        font-size: 12px;
                        color: #d2d2d2;
                    }
                    img{
                        height: 12px;
                    }
                    span{
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}