@import './color.scss';
// banner
.banner{
    background: url('../img/banner_solution.jpg');
    height: 420px;
    background-size: cover;
    text-align: center;
    box-sizing: border-box;
    padding-top: 180px;
    color: #fff;
    h1{
        font-size: 45px;
        margin-bottom: 10px;
        span{
            display: inline-block;
            width: 12px;
            height: 12px;
            background: #fff;
            border-radius: 50%;
            vertical-align: middle;
            margin: 0 20px;
        }
    }
    h5{
        font-size: 20px;
        font-weight: 100;
    }
    ul{
        padding-top: 65px;
        li{
            display: inline-block;
            padding: 0 50px;
            &:not(:last-of-type){
                border-right: 1px solid #fff;
            }
            .p1{
                text-align: left;
                font-size: 18px;
            }
            .p2{
                font-size: 90px;
                line-height: 80px;
            }
        }
    }
}
.banner-bot{
    background: #ededed;
    padding: 10px 0;
    .right{
        float: right;
        display: inline-block;
        line-height: 45px;
        background: #fff;
        padding: 0 30px;
        color: $mainColor;
        border-radius: 3px;
        img,span{
            vertical-align: middle;
        }
    }
    .left{
        a,span{
            display: inline-block;
            line-height: 45px;
        }
        a.left-home{
            background: url('../img/banner_top_h.png') center no-repeat;
            padding-left: 60px;
            color: #555;
            &:hover{
                color: $mainColor;
                background-image: url('../img/banner_bot_h1.png');
            }
        }
        a.active{
            color: $mainColor;
        }
    }
}
// content
.content{
    padding: 80px 0;
    .title{
        text-align: center;
        margin-bottom: 50px;
        p{
            line-height: 25px;
            color: #777;
            margin-top: 30px;
        }
    }
    ul{
        li{
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            float: left;
            width: 400px;
            box-sizing: border-box;
            &:nth-of-type(3n){
                border-right: 1px solid #ccc;
            }
            &:last-of-type{
                border-right: 1px solid #ccc;
            }
            >a{
                display: block;
            }
            .img{
                height: 240px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    transition: all .5s;
                }
            }
            .text{
                padding: 10px 20px;
                transition: padding .5s;
                h3{
                    margin-bottom: 15px;
                }
                .p1{
                    color: #999;
                    line-height: 25px;
                    white-space: normal;
                    -webkit-line-clamp: 3;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
                .arrow{
                    height: 40px;
                    background: url('../img/casearr.png') left center no-repeat;
                }
            }
            &:hover{
                .img{
                    img{
                        transform: scale(1.2);
                    }
                }
                .text{
                    padding: 10px 10px 10px 30px;
                }
            }
        }
    }
}