.banner {
  background: url("../img/banner_wechat.jpg");
  height: 420px;
  background-size: cover;
  text-align: center;
  box-sizing: border-box;
  padding-top: 180px;
  color: #fff;
}

.banner h1 {
  font-size: 45px;
  margin-bottom: 10px;
}

.banner h1 span {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 20px;
}

.banner h5 {
  font-size: 20px;
  font-weight: 100;
}

.banner-bot {
  background: #ededed;
  padding: 10px 0;
}

.banner-bot .right {
  float: right;
  display: inline-block;
  line-height: 45px;
  background: #fff;
  padding: 0 30px;
  color: #d31f23;
  border-radius: 3px;
}

.banner-bot .right img, .banner-bot .right span {
  vertical-align: middle;
}

.banner-bot .left a, .banner-bot .left span {
  display: inline-block;
  line-height: 45px;
}

.banner-bot .left a.left-home {
  background: url("../img/banner_top_h.png") center no-repeat;
  padding-left: 60px;
  color: #555;
}

.banner-bot .left a.left-home:hover {
  color: #d31f23;
  background-image: url("../img/banner_bot_h1.png");
}

.banner-bot .left a.active {
  color: #d31f23;
}

.content > div {
  padding: 80px 0;
}

.content > div .title {
  text-align: center;
  margin-bottom: 50px;
}

.content > div .title p {
  line-height: 25px;
  color: #777;
  padding-top: 10px;
}

.content .introduce .info li {
  float: left;
  width: 300px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ccc;
  transition: box-shadow .5s;
}

.content .introduce .info li:not(:last-of-type) {
  border-right-color: transparent;
}

.content .introduce .info li .p1 {
  font-size: 48px;
  color: #d31f23;
}

.content .introduce .info li .p2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content .introduce .info li .p3 {
  line-height: 23px;
  color: #777;
}

.content .introduce .info li:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.content .entrance {
  background: url("../img/appletbg.jpg");
  color: #fff;
}

.content .entrance .info {
  padding-top: 30px;
}

.content .entrance .info li {
  float: left;
  width: 240px;
  box-sizing: border-box;
  text-align: center;
}

.content .entrance .info li img {
  transition: all .5s;
}

.content .entrance .info li .p1 {
  font-size: 20px;
  margin: 10px 0;
}

.content .entrance .info li .p2 {
  line-height: 25px;
  color: #bbb;
  font-size: 16px;
}

.content .entrance .info li:hover img {
  transform: rotate(360deg);
}

.content .application .info li {
  float: left;
  width: 380px;
  margin: 10px;
  border: 1px solid #e0e0e0;
  text-align: center;
  padding: 40px 0;
  box-sizing: border-box;
  transition: all .3s;
}

.content .application .info li .img {
  height: 90px;
}

.content .application .info li .p1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.content .application .info li .p2 {
  color: #777;
  line-height: 25px;
}

.content .application .info li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.content .industry {
  background: #f5f5f5;
}

.content .industry .info li {
  float: left;
  width: 290px;
  height: 215px;
  margin: 5px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
}

.content .industry .info li .p1 {
  font-size: 60px;
  color: #ccc;
  padding: 20px 20px 0;
  line-height: 50px;
}

.content .industry .info li .p2 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
}

.content .industry .info li .p3 {
  color: #999;
  padding: 0 20px 20px;
  border-radius: 0 0 5px 5px;
  background: #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.content .industry .info li .p3 span {
  display: inline-block;
  line-height: 25px;
  height: 75px;
  transition: height .5s;
  overflow: hidden;
}

.content .industry .info li:nth-of-type(1):hover .p3 span {
  height: 225px;
}

.content .industry .info li:nth-of-type(2):hover .p3 span {
  height: 225px;
}

.content .industry .info li:nth-of-type(3):hover .p3 span {
  height: 200px;
}

.content .industry .info li:nth-of-type(4):hover .p3 span {
  height: 100px;
}

.content .can .info li {
  float: left;
  width: 360px;
  margin: 0 20px;
  padding: 30px 0;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  position: relative;
  overflow: hidden;
}

.content .can .info li img {
  transition: all .5s;
}

.content .can .info li .p1 {
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.content .can .info li .p2 {
  color: #777;
  line-height: 25px;
  transition: opacity .5s;
}

.content .can .info li .info-btn {
  position: absolute;
  width: 140px;
  line-height: 40px;
  left: 50%;
  margin-left: -70px;
  border-radius: 5px;
  bottom: -45px;
  border: 1px solid #ccc;
  transition: bottom .5s;
}

.content .can .info li .info-btn:hover {
  border-color: #d31f23;
  color: #d31f23;
}

.content .can .info li:hover img {
  transform: translateY(-5px);
}

.content .can .info li:hover .p2 {
  opacity: 0;
}

.content .can .info li:hover .info-btn {
  bottom: 30px;
}
