.banner {
  background: url("../img/banner.jpg") center no-repeat;
  height: 500px;
  box-sizing: border-box;
  padding: 350px 0 0 380px;
}

.banner img {
  vertical-align: middle;
}

.banner a {
  color: #D1CCC8;
  line-height: 65px;
  display: inline-block;
  font-size: 22px;
  border-bottom: 1px solid #928481;
  width: 250px;
  margin-left: 15px;
}

.content .title {
  text-align: center;
  margin-bottom: 50px;
}

.content .exclusive {
  position: relative;
  padding: 80px 0;
}

.content .exclusive .canvas-wrapper {
  position: absolute;
  z-index: -1;
  top: 0;
}

.content .exclusive .container .info {
  background: #fff;
}

.content .exclusive .container .info dt {
  float: left;
}

.content .exclusive .container .info dt a {
  display: block;
  width: 270px;
  height: 180px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #e0e0e0;
  padding-top: 40px;
}

.content .exclusive .container .info dt a h3 {
  font-size: 20px;
}

.content .exclusive .container .info dd {
  float: left;
}

.content .exclusive .container .info dd a {
  display: block;
  padding: 30px;
  width: 310px;
  height: 180px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
}

.content .exclusive .container .info dd a .top {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 0 20px;
}

.content .exclusive .container .info dd a .top img {
  float: left;
}

.content .exclusive .container .info dd a .top .text {
  padding-left: 55px;
}

.content .exclusive .container .info dd a .top .text .p1 {
  font-size: 18px;
}

.content .exclusive .container .info dd a .top .text .p2 {
  color: #999;
}

.content .exclusive .container .info dd a .price {
  color: #777;
  padding-top: 10px;
  font-size: 13px;
}

.content .exclusive .container .info dd a .price .s1 {
  color: #2E3784;
}

.content .exclusive .container .info dd a .price .s2 {
  font-size: 28px;
  color: #2E3784;
}

.content .exclusive .container .info .border-bottom a {
  border-bottom-color: transparent;
}

.content .exclusive .container .info .border-left a {
  border-left-color: transparent;
}

.content .team {
  background: url("../img/agentbg.jpg");
  padding: 50px 0;
}

.content .team .info {
  text-align: center;
}

.content .team .info li {
  display: inline-block;
  background: #fff;
  text-align: left;
  margin: 0 10px;
}

.content .team .info li > img {
  width: 210px;
}

.content .team .info li .text {
  padding: 10px 20px 20px;
}

.content .team .info li .text .p1 {
  border-top: 1px solid #e0e0e0;
  font-size: 18px;
  color: #555;
  padding: 5px 0;
}

.content .team .info li .text .p2 {
  line-height: 25px;
  color: #777;
}

.content .team .info li .text .p3 {
  text-align: center;
  line-height: 30px;
  border: 1px solid #2E3784;
  color: #2E3784;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.content .news {
  position: relative;
  padding: 80px 0;
}

.content .news .canvas-wrapper {
  position: absolute;
  top: 0;
  z-index: -1;
}

.content .news .container .info dl {
  width: 380px;
  float: left;
  margin: 0 10px;
}

.content .news .container .info dl dt {
  background: url("../img/news_bg.png") center no-repeat;
  background-size: 100% 100%;
  margin-bottom: 15px;
}

.content .news .container .info dl dt > a {
  float: right;
  font-size: 14px;
  color: #666;
  margin-right: 20px;
  display: inline-block;
  line-height: 30px;
}

.content .news .container .info dl dt p {
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  padding-left: 10px;
}

.content .news .container .info dl dd {
  background: #fff;
}

.content .news .container .info dl dd a {
  display: block;
  padding: 15px;
  border: 1px solid #e0e0e0;
}

.content .news .container .info dl dd a .p1 {
  font-size: 16px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content .news .container .info dl dd a .p2 {
  font-size: 13px;
  color: #999;
  line-height: 23px;
  padding-top: 10px;
  height: 46px;
  white-space: normal;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content .news .container .info dl dd:nth-of-type(1) a, .content .news .container .info dl dd:nth-of-type(2) a {
  border-bottom-color: transparent;
}

.content .service {
  background: url("../img/service_bg.jpg");
  padding: 80px 0;
  color: #fff;
}

.content .service .top {
  text-align: center;
  margin-bottom: 100px;
}

.content .service .top > div {
  display: inline-block;
  margin: 0 100px;
}

.content .service .top > div h3 {
  font-size: 18px;
  border-bottom: 1px solid #f8f8f8;
}

.content .service .top > div h3 span {
  font-size: 53px;
}

.content .service .top > div p {
  font-size: 14px;
  padding-top: 10px;
}

.content .service ul li {
  float: left;
  width: 280px;
  margin: 0 10px;
  background: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  padding: 30px 50px;
  text-align: center;
}

.content .service ul li h3 {
  font-size: 20px;
}

.content .adv {
  padding: 20px 0;
}

.content .adv li {
  float: left;
  text-align: center;
  width: 300px;
}

.content .adv li img {
  vertical-align: middle;
}

.content .adv li span {
  font-size: 18px;
  color: #777;
}
