.banner {
  height: 600px;
  background: url("../img/banner02.jpg") center no-repeat;
  background-size: cover;
  color: #fff;
}

.banner .text-wrapper {
  text-align: center;
  padding-top: 250px;
}

.content > div {
  padding: 50px 0;
}

.content > div .title {
  text-align: center;
  margin-bottom: 50px;
}

.content > div .title p {
  margin-bottom: 5px;
}

.content > div .title .p1 {
  font-size: 25px;
}

.content > div .title .line {
  display: inline-block;
  width: 100px;
  height: 2px;
  background-color: #294b92;
}

.content > div .title .p2 {
  color: #999;
}

.content .introduce .row .col-lg-8 {
  padding: 0 20px;
}

.content .introduce .row .col-lg-8 h3 {
  color: #294b92;
  margin-bottom: 0;
}

.content .introduce .row .col-lg-8 h6 {
  margin-top: 5px;
  color: #aaa;
  margin-bottom: 20px;
}

.content .introduce .row .col-lg-8 p {
  line-height: 30px;
}

.content .introduce .row .col-lg-4 img {
  width: 100%;
}

.content .data {
  background: #f5f5f5;
}

.content .data .row .col-lg-2 {
  text-align: center;
}

.content .data .row .col-lg-2 .img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  text-align: center;
  margin: 0 auto;
}

.content .data .row .col-lg-2 .img img {
  width: 100%;
  height: 100%;
}

.content .data .row .col-lg-2 .line {
  height: 4px;
  width: 50px;
  background: #294b92;
  display: inline-block;
  margin: 20px 0 10px;
}

.content .data .row .col-lg-2 p {
  font-size: 16px;
  color: #666;
}

.content .process .item {
  border: 1px solid #e0e0e0;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.content .process .item .img {
  float: left;
  width: 80px;
  height: 80px;
  background: url("../img/process_gszc_1.png");
}

.content .process .item .text {
  padding-left: 100px;
}

.content .process .item .text h5 {
  font-size: 16px;
  color: #294b92;
  font-weight: bold;
  margin: 5px 0 10px;
}

.content .process .item .text p {
  height: 50px;
  line-height: 25px;
  margin-bottom: 0;
  color: #999;
}

.content .process .item .text p span {
  margin: 0 10px;
}

.content .process .item:hover {
  border-color: #294b92;
}

.content .process .item:hover .img {
  background: url("../img/process_gszc_11.png");
}

.content .process .col-lg-6:nth-of-type(1) .img {
  background: url("../img/process_gszc_1.png");
}

.content .process .col-lg-6:nth-of-type(1):hover .img {
  background: url("../img/process_gszc_11.png");
}

.content .process .col-lg-6:nth-of-type(2) .img {
  background: url("../img/process_gszc_2.png");
}

.content .process .col-lg-6:nth-of-type(2):hover .img {
  background: url("../img/process_gszc_12.png");
}

.content .process .col-lg-6:nth-of-type(3) .img {
  background: url("../img/process_gszc_3.png");
}

.content .process .col-lg-6:nth-of-type(3):hover .img {
  background: url("../img/process_gszc_13.png");
}

.content .process .col-lg-6:nth-of-type(4) .img {
  background: url("../img/process_gszc_4.png");
}

.content .process .col-lg-6:nth-of-type(4):hover .img {
  background: url("../img/process_gszc_14.png");
}

.content .process .col-lg-6:nth-of-type(5) .img {
  background: url("../img/process_gszc_5.png");
}

.content .process .col-lg-6:nth-of-type(5):hover .img {
  background: url("../img/process_gszc_15.png");
}

.content .process .col-lg-6:nth-of-type(6) .img {
  background: url("../img/process_gszc_6.png");
}

.content .process .col-lg-6:nth-of-type(6):hover .img {
  background: url("../img/process_gszc_16.png");
}

.content .process .col-lg-6:nth-of-type(7) .img {
  background: url("../img/process_gszc_7.png");
}

.content .process .col-lg-6:nth-of-type(7):hover .img {
  background: url("../img/process_gszc_17.png");
}

.content .process .col-lg-6:nth-of-type(8) .img {
  background: url("../img/process_gszc_8.png");
}

.content .process .col-lg-6:nth-of-type(8):hover .img {
  background: url("../img/process_gszc_18.png");
}

.content .process .col-lg-6:nth-of-type(9) .img {
  background: url("../img/process_gszc_9.png");
}

.content .process .col-lg-6:nth-of-type(9):hover .img {
  background: url("../img/process_gszc_19.png");
}

.content .slogan {
  background: url("../img/slogan_bg.jpg");
  color: #fff;
  text-align: left;
}

.content .slogan .col-lg-9 .p1 {
  background-color: #fff;
  color: #284b90;
  padding: 5px 15px;
  display: inline-block;
}

.content .slogan .col-lg-9 .p2 {
  font-size: 34px;
  font-weight: bold;
}

.content .slogan .col-lg-3 {
  background: url("../img/slogan_bg2.png") left center no-repeat;
  padding: 20px 15px;
}

.content .slogan .col-lg-3 .p1 {
  padding-left: 40px;
}

.content .slogan .col-lg-3 .p1 span {
  font-weight: bold;
}

.content .slogan .col-lg-3 .p2 {
  padding-left: 90px;
}

.content .slogan .col-lg-3 .p2 span {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 3px;
}

.content .data-obtained .row {
  background: #f5f5f5;
  padding: 20px;
}

.content .data-obtained .row .col-lg-5 img {
  width: 100%;
}

.content .data-obtained .row .col-lg-7 {
  padding: 15px 100px;
}

.content .data-obtained .row .col-lg-7 p {
  border: 1px solid #e0e0e0;
  line-height: 40px;
  padding: 0 30px;
  color: #666;
  border-left: 3px solid #294b92;
  margin: 20px 0;
}

.content .attention .item {
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.content .attention .item img {
  float: left;
  padding-top: 5px;
}

.content .attention .item .text {
  padding-left: 100px;
}

.content .attention .item .text .p1 {
  line-height: 30px;
  margin: 0;
  font-weight: bold;
}

.content .attention .item .text .p2 {
  font-size: 12px;
  color: #999;
  line-height: 20px;
  height: 60px;
  margin: 0;
}

.content .choose {
  background-color: #f5f5f5;
}

.content .choose .item {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.content .choose .item img {
  float: left;
  border-radius: 50%;
  border: 3px solid #294b92;
  width: 160px;
  height: 160px;
}

.content .choose .item .text {
  padding-left: 180px;
  height: 160px;
}

.content .choose .item .text h5 {
  margin: 5px 0 15px;
  font-weight: bold;
}

.content .choose .item .text p {
  margin: 0;
  font-size: 12px;
  color: #777;
  line-height: 20px;
}

.content .adv .item {
  height: 200px;
  margin-bottom: 30px;
}

.content .adv .item .img {
  float: left;
  border-radius: 50% 50% 0 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.content .adv .item .img img {
  width: 200px;
  height: 200px;
  display: block;
}

.content .adv .item .img p {
  color: #fff;
  background: #284b90;
  line-height: 40px;
  text-align: center;
  margin-top: -35px;
  position: relative;
  text-align: right;
  padding-right: 50px;
  font-size: 16px;
}

.content .adv .item .text {
  margin-left: 200px;
  padding: 70px 10px 0px 20px;
  border-bottom: 1px dashed #284b90;
  position: relative;
}

.content .adv .item .text .p1 {
  font-size: 16px;
  font-weight: bold;
  color: #284b90;
  line-height: 25px;
}

.content .adv .item .text .p2 {
  color: #666;
  line-height: 25px;
  height: 50px;
}

.content .adv .item .text::after {
  content: '';
  width: 14px;
  height: 14px;
  background: #284b90;
  display: block;
  position: absolute;
  background: #284b90;
  border-radius: 50%;
  right: 0;
  bottom: -7px;
}

.content .environment img {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .content .introduce .row .col-lg-4 {
    padding-top: 80px;
  }
}

@media (max-width: 992px) {
  .content .data .row .col-lg-2 .img {
    width: 80px;
    height: 80px;
  }
  .content .data-obtained .row .col-lg-7 {
    padding: 0px 20px;
  }
  .content .data-obtained .row .col-lg-7 p {
    margin: 10px 0;
    line-height: 35px;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 400px;
  }
  .banner .text-wrapper {
    padding-top: 150px;
  }
  .content .slogan .col-lg-9 .p2 {
    font-size: 24px;
  }
}
