.banner {
  height: 600px;
  background: url("../img/banner06.jpg") center no-repeat;
  background-size: cover;
  color: #fff;
}

.banner .text-wrapper {
  text-align: center;
  padding-top: 250px;
}

.content {
  padding-bottom: 50px;
  font-size: 16px;
}

.content .container .top-nav {
  padding: 10px 0;
  font-size: 13px;
  color: #999;
}

.content .container .top-nav a {
  color: #999;
}

.content .container .text {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.content .container .text .title h3 {
  text-align: center;
  margin: 0 0 20px;
}

.content .container .text .title .date-wrap {
  border-bottom: 1px solid #e0e0e0;
  color: #999;
  font-size: 12px;
  text-align: center;
  padding-bottom: 10px;
}

.content .container .text .title .date-wrap a {
  color: #999;
}

.content .container .text .title .date-wrap .item {
  display: inline-block;
  margin: 0 5px;
}

.content .container .text .info {
  padding-top: 30px;
  color: #555;
}

.content .container .text .info p {
  line-height: 25px;
}

.content .container .text .info img {
  display: block;
  margin: 0 auto;
  max-width: 100% !important;
}

.content .container .text .change-news {
  text-align: center;
  color: #777;
  padding-top: 30px;
}

.content .container .text .change-news a {
  color: #777;
  margin: 0 10px;
}
