.container {
  width: 1200px!important;
  max-width: 1200px!important;
  min-width: 1200px!important;
}
header {
  height: 115px;
  padding: 20px 0 35px;
}
header .right {
  float: right;
  width: 260px;
}
header .right .img {
  width: 60px;
  height: 60px;
  background: #ee7800;
  float: left;
  border-radius: 50%;
  padding: 6px;
}
header .right .text {
  padding-left: 70px;
}
header .right .text h2,
header .right .text p {
  font-size: 20px;
  font-weight: bold;
}
header .right .text h2 {
  padding: 5px 0;
}
header .right .text p {
  color: #ee7800;
}
nav {
  background: #006CC6;
  height: 60px;
}
nav a {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 80px;
  transform: translateY(-15px);
}
nav a span {
  display: inline-block;
  height: 80px;
  line-height: 60px;
  padding: 15px 39px 0;
}
nav a.active,
nav a:hover {
  background: url('../img/nav_bg01.png') left no-repeat;
  color: #fff;
}
nav a.active span,
nav a:hover span {
  background: url('../img/nav_bg02.png') right no-repeat;
}
footer .link {
  background: #f5f5f5;
  padding: 40px 0;
}
footer .link h3 {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  position: relative;
}
footer .link h3::after {
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  background: #ee7800;
  position: absolute;
  top: 34px;
}
footer .link h3 span {
  color: #cacaca;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 100;
}
footer .link div {
  padding-top: 20px;
}
footer .link div a {
  font-size: 14px;
  color: #999;
  margin-right: 10px;
}
footer .footer-list {
  background: url('../img/f_bg.gif') top no-repeat;
  padding-top: 50px;
  height: 340px;
  color: #fff;
}
footer .footer-list .left {
  float: left;
  width: 320px;
  padding: 60px 0 0 50px;
}
footer .footer-list .center {
  float: left;
  width: 530px;
  padding: 10px 50px;
  font-size: 14px;
  line-height: 30px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
footer .footer-list .center a {
  color: #fff;
}
footer .footer-list .right {
  float: left;
  width: 290px;
  background: url('../img/f_erbg.png') top left no-repeat;
  padding: 4px 0 10px 98px;
  margin: 30px 0 0 30px;
}
footer .footer-list .right img {
  width: 100px;
  height: 100px;
}
footer .footer-list .right p {
  width: 100px;
  text-align: center;
  padding-top: 15px;
}
footer .footer-list .footer-nav {
  padding-top: 240px;
}
footer .footer-list .footer-nav .title {
  font-size: 20px;
  font-weight: bold;
}
footer .footer-list .footer-nav .vice-title {
  font-size: 16px;
  color: #74a1d8;
  text-transform: uppercase;
  vertical-align: middle;
  margin-right: 30px;
}
footer .footer-list .footer-nav a {
  vertical-align: middle;
  color: #fff;
  padding: 0 25px;
  font-size: 16px;
}
.right-bar {
  position: fixed;
  right: 5px;
  bottom: 200px;
  color: #fff;
  z-index: 30;
  cursor: pointer;
}
.right-bar .show-box > div {
  width: 70px;
  background: #3289ff;
  margin: 3px 0;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  position: relative;
}
.right-bar .show-box > div p {
  font-size: 12px;
}
.right-bar .show-box > div > .hover-show {
  position: absolute;
  left: -220px;
  top: 0;
  background: #fff;
  width: 170px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: none;
  box-sizing: content-box;
}
.right-bar .show-box > div > .hover-show::after {
  content: '';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-left-color: #fff;
  right: -20px;
  top: 29px;
}
.right-bar .show-box > div > .hover-show p {
  color: #4888f1;
  text-align: left;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.right-bar .show-box > div > .hover-show h2 {
  color: #f97316;
  text-align: left;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
.right-bar .show-box > div > .hover-show img {
  padding-top: 20px;
  width: 120px;
  height: 120px;
  box-sizing: content-box;
}
.right-bar .show-box > div:hover {
  background: #ffa123;
}
.right-bar .show-box > div:hover > .hover-show {
  display: block;
}
.right-bar .show-box .goTop {
  display: none;
}
.right-bar .show-box .goTop img {
  width: 25px;
}
.right-bar .show-box .rb-hidden {
  padding: 3px 0 8px;
}
.right-bar .show-box .rb-hidden span {
  font-size: 12px;
  vertical-align: middle;
}
.right-bar .show-box .rb-hidden img {
  vertical-align: middle;
}
.right-bar .hidden-box {
  background: #3289ff;
  text-align: center;
  padding: 15px 0;
  width: 20px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}
.popupWindow-wrapper {
  position: fixed;
  z-index: 30;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
.popupWindow-wrapper .poruoWindow {
  background: #fff;
  width: 500px;
  margin: 200px auto;
  padding: 50px 90px;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  background-image: url('../img/popup_window.jpg');
  background-size: 100% 100%;
}
.popupWindow-wrapper .poruoWindow p {
  padding: 10px 0;
  font-size: 20px;
  color: #444;
}
.popupWindow-wrapper .poruoWindow p span {
  color: #ff672b;
  font-weight: bold;
}
.popupWindow-wrapper .poruoWindow input {
  padding: 10px 20px;
  margin: 10px 0;
  outline: none;
}
.popupWindow-wrapper .poruoWindow .popW-btn {
  background: #297bf6;
  color: #fff;
  padding: 10px 0;
  width: 213px;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.popupWindow-wrapper .poruoWindow .popW-shut-btn {
  position: absolute;
  right: 40px;
  top: 20px;
  color: #999;
  cursor: pointer;
}
.popupWindow-wrapper .poruoWindow .popW-shut-btn:hover {
  color: #333;
}
