/* 初始化 */
.container{
    width: 1250px;
}
ul{
    padding-left: 0;
    list-style: none;
}
nav{
    background-color: rgba(255,255,255,0)!important;
    border: none!important;
}
h2{
    padding: 30px;
    text-align: center;
}
/* topBar */
.topBar-wrapper{
    background-color: #ccc;
}
.topBar-wrapper .topBar > ul{
    float: right;
} 
.topBar > ul > li{
    float: left;
    padding: 10px 20px 0;
}
.topBar > p{
    padding-top: 10px;
}
/* logo */
div.logo a{
    position: relative;
}
div.logo a img{
    height: 80px;
}
div.logo a p{
    position: absolute;
    top: 13px;
    left: 95px;
    font-size: 30px;
    color: rgb(45,55,132);
    width: 180px;
}
div.logo > div{
    float: right;
}
div.logo > div.code img{
    width: 80px;
    height: 80px;
    margin-right: 13px;
}
div.logo > div.phone{
    margin-right: 150px;
    padding-top: 30px;
}
div.logo > div.phone > p{
    float: left;
    font-size: 22px;
    color: rgb(45,55,132);
    position: relative;
}
div.logo > div.phone > p:first-of-type::before{
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../images/phone.png');
    background-size: 100% 100%;
    top: 0;
    left: -36px;
}
div.logo > div.phone > p:last-of-type{
    color: red;
}
/* 导航栏 */
.header nav{
    margin-bottom: 0;
    position: relative;
}
.header nav ul.nav-left{
    width: 235px;
    background: rgb(45,55,132);
    font-size: 18px;
    margin-right: 50px;
}
.header nav ul.nav-left a{
    color: #fefefe;
    display: inline-block;
}
.nav-left li span.all-btn{
    margin-left: 90px;
    color: #fefefe;
}
.header nav ul.nav-right li a{
    color: #000;
    font-size: 16px;
}
.header nav ul.nav-right li a:hover{
    color: rgb(45,55,132);
}
.header nav ul.nav-right li.active a{
    color: rgb(45,55,132);
    border-radius: 10px;
}
ul.nav-right li a:hover{
    color: rgb(45,55,132);
}
/* 全部服务展开列表 */
.header nav ul.all-service-list{
    display: none;
    position: absolute;
    height: 450px;
    width: 235px;
    background-color: rgba(0,0,0,.3);
    top: 50px;
    z-index: 1;
    list-style: none;
    padding-left: 0;
}
ul.all-service-list li{
    position: relative;
    padding: 12px 30px;
    border-bottom: 1px solid rgba(255,255,255,.2);
}
ul.all-service-list li:hover{
    background-color: rgba(0,0,0,.2);
}
ul.all-service-list li::after{
    content: '>';
    font-size: 18px;
    color: #fff;
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    right: 29px;
    top: 28px;
}
ul.all-service-list li a{
    color: #fefefe;
}
ul.all-service-list li a:hover{
    text-decoration: none;
}
ul.all-service-list li a > p{
    padding: 10px 0 0px;
}
ul.all-service-list li a > p > span.icon{
    background-image: url('../images/ico1.png');

}

ul.all-service-list li a > p > span:last-of-type{
    padding-left: 20px;
}
/*展开列表hover后显示区域*/
.header nav div.service-list-hover{
    width: 600px;
    height: 450px;
    background-color: #fefefe;
    position: absolute;
    left: 235px;
    z-index: 1;
    top: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    display: none;
}
div.service-list-hover dl dt{
    color: rgb(45,55,132);
    padding: 10px 0;
    font-size: 15px;
    font-weight: bold;
}
div.service-list-hover > dl{
    margin: 15px;
    height: 80px;
    border-bottom: 1px solid #aaa;
}
div.service-list-hover > dl > dd{
    float: left;
    padding: 0 5px;
}
div.service-list-hover > dl > dd > a{
    color: #777;
}
/* banner */
.banner{
    height: 450px;
    position: relative;
}
.banner img{
    height: 450px;
    width: 100%;
}

/* 页尾 */
/* .footer{
    padding-top: 50px;
} */
/*优点*/
.footer .footer-benefit{
    background-color: #eee;
    padding: 40px 0;
    text-align: center;
}

/*列表*/
.footer .footer-list-wrapper{
    background-color: rgb(48,48,48);
}
.footer .footer-list-wrapper .footer-list{
    padding-top: 50px;
}
.fList-left{
    color: #fefefe;
    float: left;
    text-align: center;
    width: 240px;
}
.fList-left img{
    padding-top: 10px;
    width: 50px;
}
.fList-left p.phone{
    font-size: 25px;
    padding-top: 20px;
}
.footer .footer-list-wrapper .footer-list .fList-center{
    width: 550px;
    float: left;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
}
.fList-center dl{
    float: left;
    width: 137px;
    padding-left: 40px;
}
.fList-center dl dt{
    font-size: 18px;
    font-weight: bold;
    color: #fefefe;
    padding: 10px 0;
}
.fList-center dl dd a{
    color: rgb(153,153,153);
}
.fList-center dl dd{
    padding: 5px 0;
}
.footer-list .fList-right{
    width: 430px;
    float: left;
    color: #fefefe;
}
.fList-right>ul>li>p{
    color: rgb(153,153,153);
}
.fList-right>ul>li>p:first-of-type{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}
.fList-right > ul > li{
    float: left;
    margin: 0 10px;
}
.fList-right > ul > li img{
    width: 100px;
    height: 100px;
}
/* 列表end */
.footer .beian{
    border-top: 1px solid #777;
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-top: 20px;
}
.footer .beian a{
    color: rgb(153,153,153);
}
/* 侧边栏 */
div.rightBar{
    position: fixed;
    bottom: 200px;
    right: 0px;
    background-color: rgba(0,0,0,.2)
}
div.rightBar > ul{
    padding-left: 0;
    margin-bottom: 0
}
div.rightBar > ul > li > img {
    width: 50px;
    height: 50px;
    padding: 10px;
}
div.rightBar > ul > li:hover{
    background-color: #2faaff;
}
div.rightBar > div{
    display: none;
    position: absolute;
    left: -155px;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    padding: 10px 20px;
    border-radius: 20px;
}
div.rightBar > div::after{
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-left-color: rgba(0,0,0,.5);
    right: -20px;
}
div.rightBar > div.phone{
    top: -25px;
}
div.rightBar > div.phone::after{
    top: 41px;
}
div.rightBar > div.wx{
    top: 59px;
    left: -141px;
}
div.rightBar > div.wx::after{
    top: 18px;
}
div.rightBar > div.wx > p:nth-of-type(2n+1){
    margin-bottom: 0;
}