@keyframes scaleRun {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
.banner .carousel-indicators li {
  width: 46px;
  height: 6px;
  border-radius: 0;
  margin: 0 2px;
  padding: 0;
  border: none;
  background: rgba(255, 255, 255, 0.2);
}
.banner .carousel-indicators li.active {
  width: 46px;
  height: 6px;
  background: #30C8C6;
}
.banner .carousel-inner {
  height: 600px;
  overflow: hidden;
}
.banner .carousel-inner img {
  width: 100%;
  min-height: 600px;
}
.content {
  padding-top: 50px;
}
.content .title {
  text-align: center;
}
.content .map-wrapper {
  background-image: url('../img/bg-map.png');
  background-size: 100% 100%;
  margin-bottom: 30px;
}
.content .map-wrapper .map {
  position: relative;
}
.content .map-wrapper .map .map-left {
  width: 840px;
  position: relative;
}
.content .map-wrapper .map .map-left span {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.8);
  box-sizing: content-box;
  border: 5px solid rgba(255, 255, 255, 0.6);
  animation: scaleRun .7s alternate infinite;
}
.content .map-wrapper .map .map-left span#suizhou {
  top: 385px;
  left: 523px;
}
.content .map-wrapper .map .map-left span#wuhan {
  top: 404px;
  left: 544px;
}
.content .map-wrapper .map .map-left span#shanghai {
  top: 392px;
  left: 644px;
}
.content .map-wrapper .map .map-left span#jiangsu {
  top: 362px;
  left: 621px;
}
.content .map-wrapper .map .map-right {
  position: absolute;
  width: 300px;
  top: 180px;
  left: 850px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.content .map-wrapper .map .map-right > div {
  display: none;
}
.content .map-wrapper .map .map-right > div.active {
  display: block;
}
.content .map-wrapper .map .map-right > div img {
  width: 100%;
  height: 190px;
}
.content .map-wrapper .map .map-right > div p {
  color: #555;
  margin: 20px 0;
  font-size: 16px;
  padding-left: 30px;
}
.content .map-wrapper .map .map-right > div p span {
  margin-left: -30px;
  margin-right: 14px;
  color: #999;
}
.content .serviceHotline .ser-left {
  background: #f7f8fa url('../img/lxwm_bg.png') no-repeat 630px 30px;
  float: left;
  width: 800px;
  height: 190px;
  margin-right: 20px;
  padding: 20px 50px;
}
.content .serviceHotline .ser-left h2 {
  color: #ff672b;
  font-size: 36px;
  font-weight: bold;
}
.content .serviceHotline .ser-left p {
  font-size: 18px;
  color: #777;
  margin: 20px 0;
}
.content .serviceHotline .ser-left p span {
  color: #000;
}
.content .serviceHotline .ser-right {
  float: left;
  width: 300px;
  height: 190px;
  border: 1px solid #ccc;
  padding: 30px;
}
.content .serviceHotline .ser-right .text {
  color: #777;
  margin: 15px 0;
}
.content .serviceHotline .ser-right .ser-btn {
  width: 100%;
  color: #fff;
  background: #2aa2ff;
  padding: 10px 0;
  text-align: center;
}
